<h2>BISC/ImmPort Data Release 9 Studies</h2>

<h5>April 2014</h5>

<table>
	<tr><td><strong>Study updates:  Planned Visits have been added to, or updated in, existing studies.</strong></td></tr>
</table>
		
<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>Influenza Pathogenesis & Immunology Research Center (IPIRC)</td>
	</tr>
    <tr><td width="15%"><strong>Title:</strong></td>
    	<td>Systems Biology of Seasonal Influenza Vaccination in Humans</td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td>SDY61</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td> 10</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>Bali Pulendran, Emory Vaccine Center, Atlanta, GA</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>Using a systems biology approach to study innate and adaptive responses to influenza vaccination in humans during 3 consecutive influenza seasons</td>
	</tr>
	<tr><td width="15%"><strong><b>Publication(s):</b></strong></td><td>&nbsp;</td></tr>
	<tr><td width="15%">&nbsp;</td><td>Systems biology of vaccination for seasonal influenza in humans.  <i>Nature Immunology</i> 2011 Jul 10;12(8):786-95. doi: 10.1038/ni.2067.  <a href='http://www.ncbi.nlm.nih.gov/pubmed/21743478' title="PubMed - 21743478" target="new">[PubMed]</a></td></tr>
	
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td>
	<tr><td>&nbsp;</td><td>
		<table border="1">
		<tr><td>Assay Type</td><td>Number of Exp. Samples</td></tr>
		<tr><td>Hemagglutination Inhibition</td><td>54</td></tr>
		<tr><td>FCM</td><td>4</td></tr>
		<tr><td>Array</td><td>27</td></tr>
		<tr><td>Q-PCR</td><td>27</td></tr>
		</table>
	</td></tr>
		<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>None</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>HAI shared results</td>
		</tr>			
	</table>	
	
	<hr>

<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>Influenza Pathogenesis & Immunology Research Center (IPIRC)</td>
	</tr>
    	<tr><td width="15%"><strong>Title:</strong></td>
    	<td>Systems Biology of Seasonal Influenza Vaccination in Humans</td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td>  SDY269</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td> 63</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>Bali Pulendran, Emory Vaccine Center, Atlanta, GA</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>Using a systems biology approach to study innate and adaptive responses to influenza vaccination in humans during 3 consecutive influenza seasons</td>
	</tr>
	<tr><td width="15%"><strong><b>Publication(s):</b></strong></td><td>&nbsp;</td></tr>
	<tr><td width="15%">&nbsp;</td><td>Systems biology of vaccination for seasonal influenza in humans.  <i>Nature Immunology 2011</i> Jul 10;12(8):786-95. doi: 10.1038/ni.2067.  <a href='http://www.ncbi.nlm.nih.gov/pubmed/21743478' title="PubMed - 21743478" target="new">[PubMed]</a></td></tr>
	
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td>
	<tr><td>&nbsp;</td><td>
		<table border="1">
		<tr><td>Assay Type</td><td>Number of Exp. Samples</td></tr>
		<tr><td>Hemagglutination Inhibition</td><td>336</td></tr>
		<tr><td>FCM</td><td>59</td></tr>
		<tr><td>Array</td><td>263</td></tr>
		<tr><td>Q-PCR</td><td>75</td></tr>
		<tr><td>ELISPOT</td><td>336</td></tr>
		<tr><td>Luminex_xMAP</td><td>168</td></tr>
		</table>
	</td></tr>
		<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>None</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>ARM name change</td>
		</tr>			
	</table>	
	
	<hr>

<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>Influenza Pathogenesis & Immunology Research Center (IPIRC)</td>
	</tr>
    <tr><td width="15%"><strong>Title:</strong></td>
    	<td>Systems Biology of Seasonal Influenza Vaccination in Humans</td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td>SDY270</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td> 30</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>Bali Pulendran, Emory Vaccine Center, Atlanta, GA</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>Using a systems biology approach to study innate and adaptive responses to influenza vaccination in humans during 3 consecutive influenza seasons</td>
	</tr>
	<tr><td width="15%"><strong><b>Publication(s):</b></strong></td><td>&nbsp;</td></tr>
	<tr><td width="15%">&nbsp;</td><td>Systems biology of vaccination for seasonal influenza in humans.  <i>Nature Immunology</i> 2011 Jul 10;12(8):786-95. doi: 10.1038/ni.2067. <a href='http://www.ncbi.nlm.nih.gov/pubmed/22554464' title="PubMed - 22554464" target="new">[PubMed]</a></td></tr>
	
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td>
	<tr><td>&nbsp;</td><td>
		<table border="1">
		<tr><td>Assay Type</td><td>Number of Exp. Samples</td></tr>
		<tr><td>Q-PCR</td><td>90</td></tr>
		</table>
	</td></tr>
		<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>None</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>ARM name change</td>
		</tr>			
	</table>	
	
<hr>



<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>Systems Analysis Vaccine Responses in Healthy and Hyporesponsive Humans</td>
	</tr>
    <tr><td width="15%"><strong>Title:</strong></td>
    	<td>Systems scale interactive exploration reveals quantitative and qualitative differences in response to influenza and pneumococcal vaccines</td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td>SDY180</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td> 46</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td> A. Karolina Palucka, Baylor Institute for Immunology Research, Dallas, TX</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>Systems approach to study immune response to seasonal influenza and 23-valent pneumoccocal vaccination in healthy adults. </td>
	</tr>
	<tr><td width="15%"><strong><b>Publication(s):</b></strong></td><td>&nbsp;</td></tr>
	<tr><td width="15%">&nbsp;</td><td>Systems scale interactive exploration reveals quantitative and qualitative differences in response to influenza and pneumococcal vaccines. <i>Immunity</i> 2013 Apr 18;38(4):831-44. <a href='http://www.ncbi.nlm.nih.gov/pubmed/23601689' title="PubMed - 23601689" target="new">[PubMed]</a></td>
	</tr>
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td>
	<tr><td>&nbsp;</td><td>
		<table border="1">
		<tr><td>Assay Type</td><td>Number of Exp. Samples</td></tr>
		<tr><td>Array</td><td>542</td></tr>
		<tr><td>Flow Cytometry</td><td>2208</td></tr>
		<tr><td>Luminex xMAP</td><td>182</td></tr>
		<tr><td>Virus Neutralization</td><td>89</td></tr>
		</table>
	</td></tr>
		<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>None</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>ARM name change</td>
		</tr>			
	</table>	
	
		
	<hr>

<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>Vaccination and Infection:  Indicators of Immunologic Health and Responsiveness</td>
	</tr>
    	<tr><td width="15%"><strong>Title:</strong></td>
    	<td>Apoptosis and other immune biomarkers predict influenza vaccine responsiveness </td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td>SDY212</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td> 91</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>Mark M. Davis, Stanford University School of Medicine, Stanford, CA</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>In an effort to indentify benchmarks of immunological health, influenza vaccination was used in 30 young (20 to 30 years) and 59 older subjects (60 to 89 years) as models for strong and weak immune responses, respectively.</td>
	</tr>
	<tr><td width="15%"><strong><b>Publication(s):</b></strong></td><td>&nbsp;</td></tr>
	<tr><td width="15%">&nbsp;</td><td>Apoptosis and other immune biomarkers predict influenza vaccine responsiveness.  <i>Molecular Systems Biology</i> 2013 Apr 16;9:659. doi: 10.1038/msb.2013.15.  <a href='http://www.ncbi.nlm.nih.gov/pubmed/23591775' title="PubMed - 23591775" target="new">[PubMed]</a></td>
	</tr>
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td>
	<tr><td>&nbsp;</td><td>
		<table border="1">
		<tr><td>Assay Type</td><td>Number of Exp. Samples</td></tr>
		<tr><td>Hemagglutination Inhibition</td><td>534</td></tr>
		<tr><td>DNA Microarray</td><td>91</td></tr>
		<tr><td>Peptide Microarray</td><td>91</td></tr>
		<tr><td>PhosphoFlow</td><td>63</td></tr>
		<tr><td>Flow Cytometry</td><td>540</td></tr>
		<tr><td>MBAA, Luminex</td><td>91</td></tr>
		</table>
	</td></tr>
		<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>None</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>HAI results shared</td>
		</tr>			
	</table>	
	
	
	