<h2>BISC/ImmPort Data Release 12 Studies</h2>

<h5>February 2015</h5>

<table>
	<tr><td><strong>Note:  ImmPort studies have undergone across-the-board updates e.g., addition of publications to study details pages and influenza virus strain names added to experiment detail.</strong></td></tr>
</table>
<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>Systems Analysis Vaccine Responses in Healthy and Hypo-responsive Humans</td>
	</tr>
    	<tr><td width="15%"><strong>Title:</strong></td>
    	<td>Systems Biology Approach to Analysis of 2010-2011 TIV Fluzone Influenza Vaccine Response in Healthy Individuals</td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td>SDY74</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td> 12</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>A.Karolina Palucka, M.D., Ph.D., Baylor Institute for Immunology Research, Dallas, TX</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>This study measures the immune response to the influenza vaccine.  The long-term goal is to develop improved vaccines to infectious diseases such as influenza.  Blood is collected from patients at several visits before and after vaccination.</td>
	</tr>
	<tr><td width="15%"><strong><b>Publication(s):</b></strong></td><td>&nbsp;</td></tr>
	<tr><td width="15%">&nbsp;</td><td>Induction of ICOS+CXCR3+CXCR5+ TH cells correlates with antibody responses to influenza vaccination.  <i>Sci.Transl.Med</i> 2013 Mar 13; 5(176):176ra32. doi: 10.1126/scitranslmed.3005191.  <a href='http://www.ncbi.nlm.nih.gov/pubmed/23486778?dopt=Abstract' title="PubMed - 23486778" target="new">[PubMed]</a></td>
	</tr>
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td>
	<tr><td>&nbsp;</td><td>
	<table border="1">
		<tr><td>Assay Type</td><td>Number of Exp. Samples</td></tr>
		<tr><td>Array</td><td>60</td></tr>
		<tr><td>Flow Cytometry</td><td>459</td></tr>
		</table>
		<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>None</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>New Study</td>
		</tr>			
	</table>
	<hr>
	
<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>Vaccination and Infection:  indicators of immunologic health and responsiveness</td>
	</tr>
    <tr><td width="15%"><strong>Title:</strong></td>
   		<td>VZV vaccination in the elderly</td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td> SDY111</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td> 10</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>Jorg Goronzy, M.D., Stanford University, Stanford, CA</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>Healthy adults, 50+ years old, with history of varicella but no history of zoster, are vaccinated with Zostavax.  A systems biology approach was used to identify age-related decreases in immune function and potential predictors and correlates of protection.</td>
	</tr>
	<tr><td width="15%"><strong><b>Publication(s):</b></strong></td><td>&nbsp;</td></tr>
	<tr><td width="15%">&nbsp;</td><td>B-cell repertoire responses to varicella-zoster vaccination in human identical twins
<i>Proc.Natl.Acad.Sci.USA.</i> 2015 Jan 13; 112(2):500-5. doi: 10.1073/pnas.1415875112 <a href='http://www.ncbi.nlm.nih.gov/pubmed/25535378?dopt=Abstract' title="PubMed - 25535378" target="new">[PubMed]</a></td>
	</tr>
		
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td>
	<tr><td>&nbsp;</td><td>
		<table border="1">
		<tr><td>Assay Type</td><td>Number of Exp. Samples</td></tr>
		<tr><td>ELISA</td><td>20</td></tr>
		<tr><td>ELISPOT</td><td>80</td></tr>
		<tr><td>Luminex xMAP</td><td>20</td></tr>
		<tr><td>HLA Typing</td><td>10</td></tr>
		<tr><td>Array</td><td>20</td></tr>
		<tr><td>MBAA</td><td>148</td></tr>
		</table>
	</td></tr>
		<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>None</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>New Study</td>
		</tr>			
	</table>
		
<hr>
<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>Systems Analysis Vaccine Responses in Healthy and Hypo-responsive Humans</td>
	</tr>
    <tr><td width="15%"><strong>Title:</strong></td>
   		<td>Differences in Antibody Responses Between Trivalent Inactivated Influenza Vaccine and Live Attenuated Influenza Vaccine (2011-2012) Correlate with the Kinetics and Magnitude of Interferon Signaling in Children</td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td> SDY144</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td> 37</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>Octavio Ramilo, Center for Vaccines and Immunity, Ohio State University College of Medicine, Columbus, OH</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>Characterization of the cellular and transcriptional signatures of response to influenza vaccination in healthy children.</td>
	<tr><td width="15%"><strong><b>Publication(s):</b></strong></td><td>&nbsp;</td></tr>
	<tr><td width="15%">&nbsp;</td><td>Differences in antibody responses between trivalent inactivated influenza vaccine and live attenuated influenza vaccine correlate with the kinetics and magnitude of interferon signaling in children.  <i>J.Infect.Dis</i> 2014 Jul 15; 210(2):224-33. doi: 10.1093/infdis/jiu079. Epub 2014 Feb 4.  <a href='http://www.ncbi.nlm.nih.gov/pubmed/24495909?dopt=Abstract' title="PubMed - 24495909" target="new">[PubMed]</a></td>
	</tr>
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td>
	<tr><td>&nbsp;</td><td>
		<table border="1">
		<tr><td>Assay Type</td><td>Number of Exp. Samples</td></tr>
		<tr><td>HAI</td><td>32</td></tr>
		<tr><td>Array</td><td>64</td></tr>
		<tr><td>Virus Neutralization</td><td>96</td></tr>
		<tr><td>Flow Cytometry</td><td>52</td></tr>
		</table>
	</td></tr>
		<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>None</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>New Study</td>
		</tr>			
	</table>	
		
<hr>
<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>Vaccination and Infection: indicators of immunologic health and responsiveness</td>
	</tr>
    <tr><td width="15%"><strong>Title:</strong></td>
    	<td>Effect of age on 2008-2009 trivalent influenza vaccine response</td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td>SDY183</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td> 76</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>P.J. Utz, M.D., Stanford School of Medicine, Stanford University, Stanford, CA</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>Comprehensively compare the humoral response of young (20-31 years old) to older human subjects (60 to >90 years old) following vaccination with seasonal flu vaccine.</td>
	</tr>
	<tr><td width="15%"><strong><b>Publication(s):</b></strong></td><td>&nbsp;</td></tr>
	<tr><td width="15%">&nbsp;</td><td>Characterization of influenza vaccine immunogenicity using influenza antigen microarrays.  <i>PLoS One</i> 2013 May 29; 8(5):e64555. doi: 10.1371/journal.pone.0064555. Print 2013. <a href='http://www.ncbi.nlm.nih.gov/pubmed/23734205?dopt=Abstract' title="PubMed - 23734205" target="new">[PubMed]</a></td>
	</tr>
	<tr><td width="15%">&nbsp;</td><td>Apoptosis and other immune biomarkers predict influenza vaccine responsiveness.  <i>Mol.Syst.</i>Biol 2013 Apr 16; 9:659. doi: 10.1038/msb.2013.15.  <a href='http://www.ncbi.nlm.nih.gov/pubmed/23591775?dopt=Abstract' title="PubMed - 23591775" target="new">[PubMed]</a></td>
	</tr>
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td>
	<tr><td>&nbsp;</td><td>
		<table border="1">
		<tr><td>Assay Type</td><td>Number of Exp. Samples</td></tr>
		<tr><td>Array</td><td>152</td></tr>
		</table>
	</td></tr>
		<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>None</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>New Study</td>
		</tr>			
	</table>	
	
	<hr>

<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>Vaccination and infection:  indicators of immunological health and responsiveness</td>
	</tr>
    <tr><td width="15%"><strong>Title:</strong></td>
    	<td>Heterovariant cross-reactive B-cell responses induced by the 2009 pandemic influenza virus A subtype H1N1 vaccine</td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td>SDY202</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td> 58</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>Harry Greenberg, M.D., VA Palo Alto Health Care System, Palo Alto, CA</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>Evaluate plasmablast response to monovalent 2009 pandemic H1N1 vaccine.</td>
	</tr>
	<tr><td width="15%"><strong><b>Publication(s):</b></strong></td><td>&nbsp;</td></tr>
	<tr><td width="15%">&nbsp;</td><td>Heterovariant cross-reactive B-cell responses induced by the 2009 pandemic influenza virus A subtype H1N1 vaccine.  <i>J.Infect.Dis</i> 2013 Jan 15; 207(2):288-96. doi: 10.1093/infdis/jis664. Epub 2012 Oct 29. <a href='http://www.ncbi.nlm.nih.gov/pubmed/23107783?dopt=Abstract' title="PubMed - 23107783" target="new">[PubMed]</a></td>
	</tr>
	
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td>
	<tr><td>&nbsp;</td><td>
		<table border="1">
		<tr><td>Assay Type</td><td>Number of Exp. Samples</td></tr>
		<tr><td>ELISA</td><td>56</td></tr>
		<tr><td>ELISPOT</td><td>58</td></tr>
		<tr><td>HAI</td><td>116</td></tr>
		<tr><td>MBAA</td><td>501</td></tr>
		<tr><td>Flow Cytometry</td><td>553</td></tr>
		<tr><td>Phospho-Flow</td><td>672</td></tr>
		</table>
	</td></tr>
		<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>None</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>New Study</td>
		</tr>			
	</table>	
	
	<hr>

<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>Mechanisms of immune vulnerability of the elderly to West Nile virus</td>
	</tr>
    	<tr><td width="15%"><strong>Title:</strong></td>
    	<td>Key Role of T cell Defects in Age-Related Vulnerability to West Nile Virus</td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td>  SDY363</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td> none</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>Janko Nikolich-Zugich, M.D., Ph.D., Oregon Health & Science University, Beaverton, OR</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>In a mouse model of age-related vulnerability to WNV, we demonstrate that death correlates with increased viral titers in the brain and that this loss of virus control with age was the result of defects in the CD4 and CD8 T cell response against WNV.</td>
	</tr>
	<tr><td width="15%"><strong><b>Publication(s):</b></strong></td><td>&nbsp;</td></tr>
	<tr><td width="15%">&nbsp;</td><td>Key role of T cell defects in age-related vulnerability to West Nile virus.  <i>J.Exp.Med</i> 2009 Nov 23; 206(12):2735-45. doi: 10.1084/jem.20090222. Epub 2009 Nov 9. <a href='http://www.ncbi.nlm.nih.gov/pubmed/19901080?dopt=Abstract' title="PubMed - 19901080" target="new">[PubMed]</a></td>
	</tr>
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td><td>None</td></tr>
		<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>mortality, viral load</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>New Study</td>
		</tr>			
	</table>	
	
	<hr>

<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>Systems Analysis Vaccine Responses in Healthy and Hypo-responsive Humans </td></tr>

    <tr><td width="15%"><strong>Title:</strong></td>
    	<td>Systems Biology Approach to Study Influenza Vaccine 2010-2011 in Healthy Children</td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td> SDY387</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td> 22</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>Octavio Ramilo, Center for Vaccines and Immunity, Ohio State University College of Medicine, Columbus, OH</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>Characterization of the cellular and transcriptional signatures of response to influenza vaccination in healthy children</td>
	</tr>
	<tr><td width="15%"><strong><b>Publication(s):</b></strong></td><td>&nbsp;</td></tr>
	<tr><td width="15%">&nbsp;</td><td>Induction of ICOS+CXCR3+CXCR5+ TH cells correlates with antibody responses to influenza vaccination.  <i>Sci.Transl.Med </i>2013 Mar 13; 5(176):176ra32. doi: 10.1126/scitranslmed.3005191. <a href='http://www.ncbi.nlm.nih.gov/pubmed/23486778?dopt=Abstract' title="PubMed - 23486778" target="new">[PubMed]</a></td>
	</tr>
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td>
	<tr><td>&nbsp;</td><td>
	<table border="1">
		<tr><td>Assay Type</td><td>Number of Exp. Samples</td></tr>
		<tr><td>Flow Cytometry</td><td>195</td></tr>
		<tr><td>HAI</td><td>40</td></tr>
		<tr><td>Virus Neutralization</td><td>120</td></tr>
		<tr><td>Array</td><td>80</td></tr>
		</table>
		</td></tr>
		<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>None</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>New Study</td>
		</tr>			
	</table>	
	
<hr>
<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>Population Genetics Analysis Program:  Immunity to Vaccines/Infections </td></tr>

    <tr><td width="15%"><strong>Title:</strong></td>
    	<td>Humoral and Cell-Mediated Immune Response to Vaccinia Virus Immunization</td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td> SDY28</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td>1092</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>Gregory Poland, Mayo Clinic, Rochester, Minnesota</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>Examine the Role of candidate human immune response gene polymorphisms in inter-individual variability in vaccinia vaccine-induced humoral and cell-mediated immune response among a cohort of 1,000 vaccinated subjects</td>
	</tr>
	<tr><td width="15%"><strong><b>Publication(s):</b></strong></td><td>&nbsp;</td></tr>
	<tr><td width="15%">&nbsp;</td><td>Response surface methodology to determine optimal cytokine responses in human peripheral blood mononuclear cells after smallpox vaccination. <i>J.Immunol.</i>Methods 2009 Feb 28;341(1-2):97-105. doi: 10.1016/j.jim.2008.11.001. Epub 2008 Nov 25.  <a href='http://www.ncbi.nlm.nih.gov/pubmed/19038260?dopt=Abstract' title="PubMed - 19038260" target="new">[PubMed]</a></td>
	</tr>
	<tr><td width="15%">&nbsp;</td><td>High-dimensional gene expression profiling studies in high and low responders to primary smallpox vaccination. <i>J.Infect.</i> Dis 2012 Nov 15; 206(10):1512-20. doi: 10.1093/infdis/jis546. Epub 2012 Sep 4.  <a href='http://www.ncbi.nlm.nih.gov/pubmed/22949304?dopt=Abstract' title="PubMed - 22949304" target="new">[PubMed]</a></td>
	</tr>
	<tr><td width="15%">&nbsp;</td><td>Transcriptomic profiles of high and low antibody responders to smallpox vaccine.  <i>Genes Immun</i> 2013 Jul-Aug; 14(5):277-85. doi: 10.1038/gene.2013.14. Epub 2013 Apr 18.  <a href='http://www.ncbi.nlm.nih.gov/pubmed/23594957?dopt=Abstract' title="PubMed - 23594957" target="new">[PubMed]</a></td>
	</tr>
	<tr><td width="15%">&nbsp;</td><td>Race and sex-based differences in cytokine immune responses to smallpox vaccine in healthy individuals.  Hum.Immunol 2013 Oct;74(10):1263-6. doi: 10.1016/j.humimm.2013.06.031. Epub 2013 Jun 24.  <a href='http://www.ncbi.nlm.nih.gov/pubmed/23806267?dopt=Abstract' title="PubMed - 23806267" target="new">[PubMed]</a></td>
	</tr>
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td>
	<tr><td>&nbsp;</td><td>
	<table border="1">
		<tr><td>Assay Type</td><td>Number of Exp. Samples</td></tr>
		<tr><td>ELISPOT</td><td>27239</td></tr>
		<tr><td>ELISA</td><td>71108</td></tr>
		<tr><td>Flow Cytometry</td><td>806</td></tr>
		<tr><td>Array</td><td>426</td></tr>
		<tr><td>HLA Typing</td><td>1071</td></tr>
		<tr><td>Genotyping</td><td>1</td></tr>
		<tr><td>SNP Profile</td><td>680</td></tr>
		</table>
		</td></tr>
		<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>None</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>parent sample IDs removed from EXP6423</td>
		</tr>			
	</table>	
	
<hr>
<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>University of Rochester Center for Biodefense Immune Modeling </td></tr>

    <tr><td width="15%"><strong>Title:</strong></td>
    	<td>Immune Response to Seasonal Influenza Vaccination in Humans</td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td> SDY224</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td>14</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>Martin Zand, Hulin Wu, University of Rochester Medical Center, Rochester, NY</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>Systems biology approach to compare differences in immune response to vaccination</td>
	</tr>
	<tr><td width="15%"><strong><b>Publication(s):</b></strong></td><td>&nbsp;</td></tr>
	<tr><td width="15%">&nbsp;</td><td>Ki-67 expression reveals strong, transient influenza specific CD4 T cell responses after adult vaccination.  <i>Vaccine</i> 2012 Jun 29;30(31):4581-4. doi: 10.1016/j.vaccine.2012.04.059.  <a href='http://www.ncbi.nlm.nih.gov/pubmed/22554464' title="PubMed - 22554464" target="new">[PubMed]</a></td>
	</tr>
	<tr><td width="15%">&nbsp;</td><td>High-resolution temporal response patterns to influenza vaccine reveal a distinct human plasma cell gene signature.  <i>Scientific Reports</i> 2013;3:2327. doi: 10.1038/srep02327.  <a href='http://www.ncbi.nlm.nih.gov/pubmed/23900141' title="PubMed - 23900141" target="new">[PubMed]</a></td>
	</tr>
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td>
	<tr><td>&nbsp;</td><td>
	<table border="1">
		<tr><td>Assay Type</td><td>Number of Exp. Samples</td></tr>
		<tr><td>ELISA</td><td>423</td></tr>
		<tr><td>ELISPOT</td><td>120</td></tr>
		<tr><td>Flow Cytometry</td><td>560</td></tr>
		<tr><td>Hemagglutination Inhibition</td><td>543</td></tr>
		<tr><td>Q-PCR</td><td>1548</td></tr>
		<tr><td>RNA sequencing</td><td>110</td></tr>
		</table>
		</td></tr>
		<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>None</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>Two study arms removed; study was split based flu seasons</td>
		</tr>			
	</table>	
	
<hr>
<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>Influenza Pathogenesis & Immunology Research Center (IPIRC)</td></tr>

    <tr><td width="15%"><strong>Title:</strong></td>
    	<td>Systems Biology of Seasonal Influenza Vaccination in Humans</td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td> SDY269</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td>63</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>Bali Pulendran, Emory Vaccine Center, Atlanta, GA</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>Using a systems biology approach to study innate and adaptive responses to influenza vaccination in humans during 3 consecutive influenza seasons</td>
	</tr>
	<tr><td width="15%"><strong><b>Publication(s):</b></strong></td><td>&nbsp;</td></tr>
	<tr><td width="15%">&nbsp;</td><td>Systems biology of vaccination for seasonal influenza in humans.  <i>Nature Immunology</i> 2011 Jul 10;12(8):786-95. doi: 10.1038/ni.2067  <a href='http://www.ncbi.nlm.nih.gov/pubmed/21743478' title="PubMed - 21743478" target="new">[PubMed]</a></td>
	</tr>
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td>
	<tr><td>&nbsp;</td><td>
	<table border="1">
		<tr><td>Assay Type</td><td>Number of Exp. Samples</td></tr>
		<tr><td>Hemagglutination Inhibition</td><td>336</td></tr>
		<tr><td>FCM</td><td>59</td></tr>
		<tr><td>Array</td><td>263</td></tr>
		<tr><td>Q-PCR</td><td>75</td></tr>
		<tr><td>ELISPOT</td><td>336</td></tr>
		<tr><td>Luminex_xMAP</td><td>168</td></tr>
	</table>
	</td></tr>
		<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>None</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>Biological sample to experiment sample mapping updated for BS586520, BS586418</td>
		</tr>			
	</table>	
	
<hr>
<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>Vaccination and infection: indicators of immunological health and responsiveness</td></tr>

    <tr><td width="15%"><strong>Title:</strong></td>
    	<td>Determinants of human NK cell diversity by mass cytometry</td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td> SDY232</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td>22</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>Catherine Blish, Stanford University School of Medicine, Stanford, CA</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>To provide an unprecedented understanding of NK cell repertoire diversity, mass cytometry was used to simultaneously analyze 35 parameters, including 28 NK cell receptors, on peripheral blood NK cells from five sets of monozygotic twins and twelve unrelated donors of defined HLA and killer cell immunoglobulin-like receptor (KIR) genotype. This analysis revealed a remarkable degree of NK cell diversity, with an estimated 6,000-30,000 phenotypic populations within an individual and >100,000 phenotypes in this population.</td>
	</tr>
	<tr><td width="15%"><strong><b>Publication(s):</b></strong></td><td>&nbsp;</td></tr>
	<tr><td width="15%">&nbsp;</td><td>Genetic and environmental determinants of human NK cell diversity revealed by mass cytometry.  <i>Science Translational Medicine</i> 2013 Oct 23;5(208):208ra145. doi: 10.1126/scitranslmed.3006702   <a href='http://www.ncbi.nlm.nih.gov/pubmed/24154599' title="PubMed - 24154599" target="new">[PubMed]</a></td>
	</tr>
	<tr><td width="15%">&nbsp;</td><td>Coordinated regulation of NK receptor expression in the maturing human immune system.  <i>J.Immunol</i> 2014 Nov 15;193(10):4871-9. doi: 10.4049/jimmunol.1401821. Epub 2014 Oct 6.   <a href='http://www.ncbi.nlm.nih.gov/pubmed/25288567?dopt=Abstract' title="PubMed - 25288567" target="new">[PubMed]</a></td>
	</tr>
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td>
	<tr><td>&nbsp;</td><td>
	<table border="1">
		<tr><td>Assay Type</td><td>Number of Exp. Samples</td></tr>
		<tr><td>Flow Cytometry, CyTOF</td><td>22</td></tr>
	</table>
	</td></tr>
		<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>None</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>Added new publication</td>
		</tr>			
	</table>	
<hr>
<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>TLRs in Innate Immunity and the Induction of Adaptive Immunity in the Neonate and Infant</td></tr>

    <tr><td width="15%"><strong>Title:</strong></td>
    	<td>Study responses of Adult and neonatal APCs to TLR ligands</td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td> SDY281</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td>80</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>Christopher Wilson, M.D., University of Washington, Seattle, WA</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>The overall goal of the study is to define comprehensively and in molecular and cellular detail, differences in recognition and response to microbes between adults and neonates and how these, in turn, contribute to differences in innate immunity and the induction of antigen-specific (adaptive) immunity.</td>
	</tr>
	<tr><td width="15%"><strong><b>Publication(s):</b></strong></td><td>None</td></tr>
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td>
	<tr><td>&nbsp;</td><td>
	<table border="1">
		<tr><td>Assay Type</td><td>Number of Exp. Samples</td></tr>
		<tr><td>Flow Cytometry</td><td>3364</td></tr>
	</table>
	</td></tr>
		<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>None</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>A subset of flow cytometry samples originally processed as control files were reprocessed as result files.</td>
		</tr>			
	</table>	
<hr>

