<h2>BISC/ImmPort Data Release 13 Studies</h2>

<h5>March 2015</h5>

<table>
	<tr><td><strong>Note:  ImmPort studies have undergone across-the-board updates e.g., addition of publications to study details pages and influenza virus strain names added to experiment detail.</strong></td></tr>
</table>
<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>Vaccination and Infection:  indicators of immunological health and responsiveness</td>
	</tr>
    	<tr><td width="15%"><strong>Title:</strong></td>
    	<td>Monozygotic and Dizygotic Twin Pair T-cell Responses to Influenza Vaccination 2009</td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td>SDY514</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td> 78</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>Mark M. Davis, Stanford University School of Medicine, Stanford, CA</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>Evaluate the variation in immune response between individuals and assess whether it changes as a function of age and similarity in genetic and environmental background (by comparing differences between monozygotic and dizygotic twin pairs of different ages).</td>
	</tr>
	<tr><td width="15%"><strong><b>Publication(s):</b></strong></td><td>&nbsp;</td></tr>
	<tr><td width="15%">&nbsp;</td><td>Variation in the human immune system is largely driven by non-heritable influences.  <i>Cell</i> 2015 Jan 15;160(1-2):37-47. doi: 10.1016/j.cell.2014.12.020.  <a href='http://www.ncbi.nlm.nih.gov/pubmed/?term=25594173' title="PubMed - 25594173" target="new">[PubMed]</a></td>
	</tr>
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td>
	<tr><td>&nbsp;</td><td>
	<table border="1">
		<tr><td>Assay Type</td><td>Number of Exp. Samples</td></tr>
		<tr><td>Hemagglutination Inhibition</td><td>150</td></tr>
		<tr><td>Flow Cytometry</td><td>511</td></tr>
		<tr><td>Phospho flow</td><td>480</td></tr>
		<tr><td>Luminex xMAP</td><td>613</td></tr>
	</table>
		<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>None</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>New Study</td>
		</tr>			
	</table>
	<hr>
	
<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>Vaccination and Infection:  indicators of immunological health and responsiveness</td>
	</tr>
    <tr><td width="15%"><strong>Title:</strong></td>
   		<td>Monozygotic and Dizygotic Twin Pair T-cell Responses to Influenza Vaccination 2010</td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td> SDY515</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td> 84</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>Mark M. Davis, Stanford University School of Medicine, Stanford, CA</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>Evaluate the variation in immune response between individuals and assess whether it changes as a function of age and similarity in genetic and environmental background (by comparing differences between monozygotic and dizygotic twin pairs of different ages).</td>
	</tr>
	<tr><td width="15%"><strong><b>Publication(s):</b></strong></td><td>&nbsp;</td></tr>
	<tr><td width="15%">&nbsp;</td><td>Variation in the human immune system is largely driven by non-heritable influences.  <i>Cell</i> 2015 Jan 15;160(1-2):37-47. doi: 10.1016/j.cell.2014.12.020.  <a href='http://www.ncbi.nlm.nih.gov/pubmed/?term=25594173' title="PubMed - 25594173" target="new">[PubMed]</a></td>
	</tr>
		
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td>
	<tr><td>&nbsp;</td><td>
		<table border="1">
		<tr><td>Assay Type</td><td>Number of Exp. Samples</td></tr>
		<tr><td>Hemagglutination Inhibition</td><td>156</td></tr>
		<tr><td>CyTOF</td><td>88</td></tr>
		<tr><td>Phospho flow</td><td>400</td></tr>
		<tr><td>Luminex xMAP</td><td>523</td></tr>
		</table>
	</td></tr>
		<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>None</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>New Study</td>
		</tr>			
	</table>
		
<hr>
<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>Vaccination and Infection:  indicators of immunological health and responsiveness</td>
	</tr>
    <tr><td width="15%"><strong>Title:</strong></td>
   		<td>Monozygotic and Dizygotic Twin Pair T-cell Responses to Influenza Vaccination 2011</td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td> SDY519</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td> 63</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>Mark M. Davis, Stanford University School of Medicine, Stanford, CA</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>Evaluate the variation in immune response between individuals and assess whether it changes as a function of age and similarity in genetic and environmental background (by comparing differences between monozygotic and dizygotic twin pairs of different ages).</td>
	<tr><td width="15%"><strong><b>Publication(s):</b></strong></td><td>&nbsp;</td></tr>
	<tr><td width="15%">&nbsp;</td><td>Variation in the human immune system is largely driven by non-heritable influences.  <i>Cell</i> 2015 Jan 15;160(1-2):37-47. doi: 10.1016/j.cell.2014.12.020. <a href='http://www.ncbi.nlm.nih.gov/pubmed/?term=25594173' title="PubMed - 25594173" target="new">[PubMed]</a></td>
	</tr>
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td>
	<tr><td>&nbsp;</td><td>
		<table border="1">
		<tr><td>Assay Type</td><td>Number of Exp. Samples</td></tr>
		<tr><td>Hemagglutination Inhibition</td><td>118</td></tr>
		<tr><td>CyTOF</td><td>127</td></tr>
		<tr><td>Phospho flow</td><td>432</td></tr>
		<tr><td>Luminex xMAP</td><td>396</td></tr>
		</table>
	</td></tr>
		<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>None</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>New Study</td>
		</tr>			
	</table>	
