<h3>BISC/ImmPort Data Release 18 Notes v2</h3>

<h4>March 2016</h4>


<table>
	<tr><td><strong><b>Global Updates:</b></strong></td><td>Multiple studies updated with assessment data, Study files and protocols are no longer included in MySQL.zip.</strong></td></tr>
</table>
<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>HIPC Baylor: Systems Analysis of Vaccine Responses in Healthy and Hyporesponsive Humans</td>
	</tr>
    	<tr><td width="15%"><strong>Title:</strong></td>
    	<td>Systems Biology Analysis of the response to licensed Hepatitis B Vaccine (HEPLISAV)</td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td>SDY299</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td>25</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>Robert Coffman PhD, Baylor Institute for Immunology Research, Dallas, TX</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>This project will contribute to the overall vision and goals of this U19 by analyzing the role of adjuvant in the humoral response to Hepatitis B vaccination in healthy individuals.</td>
	</tr>
	<tr><td width="15%"><strong><b>Publication(s):</b></strong></td>
		<td>none</td></tr>
	</tr>
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td>
	<tr><td>&nbsp;</td><td>
	<table border="1">
		<tr><td>Assay Type</td><td>Number of Exp. Samples</td></tr>
		<tr><td>Array</td><td>225</td></tr>
		<tr><td>Nanostring</td><td>75</td></tr>
	</table>
		<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>None</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>New Study</td>
		</tr>			
	</table>
		
<hr>

<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>HIPC Baylor: Systems Analysis of Vaccine Responses in Healthy and Hyporesponsive Humans</</td>
	</tr>
    <tr><td width="15%"><strong>Title:</strong></td>
   		<td>Healthy Human dendritic cell and monocyte subsets transcriptional regulations in response to Fluzone 2010-2011 and pneumococcal vaccinations </td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td> SDY300</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td>6</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>A.Karolina Palucka MD, PhD, Baylor Institute for Immunology Research, Dallas, TX</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>The described experiments in this study were designed to de-convolute the molecular signature observed in whole blood of healthy subjects following Fluzone 2010-2011 vaccine </td>
	</tr>
	<tr><td width="15%"><strong><b>Publication(s):</b></strong></td>
		<td>none</td></tr>
	</tr>	
		
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td>
	<tr><td>&nbsp;</td><td>
		<table border="1">
		<tr><td>Assay Type</td><td>Number of Exp. Samples</td></tr>
		<tr><td>Sequencing</td><td>90</td></tr>
		</table>
	</td></tr>
		<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>None</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>New Study</td>
		</tr>			
	</table>
		
<hr>

<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>HIPC Baylor: Systems Analysis of Vaccine Responses in Healthy and Hyporesponsive Humans</</td>
	</tr>
    <tr><td width="15%"><strong>Title:</strong></td>
   		<td>Systems Biology Approach to Study Influenza Vaccine 2012-13 in Healthy Children (see companion studies SDY144, SDY368, SDY387) </td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td> SDY364</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td>6</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>Octavio Ramilo MD, Baylor Institute for Immunology Research, Dallas, TX</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>Characterize the cellular and transcriptional signatures of response to Flu vaccine in healthy children.</td>
	</tr>
	<tr><td width="15%"><strong><b>Publication(s):</b></strong></td>
		<td>none</td></tr>
	</tr>	
		
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td>
	<tr><td>&nbsp;</td><td>
		<table border="1">
		<tr><td>Assay Type</td><td>Number of Exp. Samples</td></tr>
		<tr><td>Array</td><td>79</td></tr>
		<tr><td>Flow Cytometry</td><td>348</td></tr>
		<tr><td>HAI</td><td>92</td></tr>
		<tr><td>Virus Neutralization</td><td>138</td></tr>
		</table>
	</td></tr>
		<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>None</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>New Study</td>
		</tr>			
	</table>
		
<hr>
<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>HIPC Baylor: Systems Analysis of Vaccine Responses in Healthy and Hyporesponsive Humans</td>
	</tr>
    <tr><td width="15%"><strong>Title:</strong></td>
   		<td>Systems Biology Approach to Study Influenza Vaccine 2013-14 in Healthy Children (see companion studies SDY144, SDY364, SDY387) </td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td> SDY368</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td> 22</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>Octavio Ramilo MD, Baylor Institute for Immunology Research, Dallas, TX</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>To characterize the cellular and transcriptional signatures of response to Flu vaccine in healthy children</td>
	<tr><td width="15%"><strong><b>Publication(s):</b></strong></td>
		<td>none</td></tr>
	</tr>
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td>
	<tr><td>&nbsp;</td><td>
		<table border="1">
		<tr><td>Assay Type</td><td>Number of Exp. Samples</td></tr>
		<tr><td>Array</td><td>87</td></tr>
		<tr><td>Flow Cytometry</td><td>352</td></tr>
		<tr><td>HAI</td><td>132</td></tr>
		<tr><td>Virus Neutralization</td><td>132</td></tr>
		</table>
	<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>None</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>New Study</td>
		</tr>			
	</table>

<hr>
	
	<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>HIPC Baylor: Systems Analysis of Vaccine Responses in Healthy and Hyporesponsive Humans</td>
	</tr>
	<tr><td width="15%"><strong>Title:</strong></td>
		<td>Biology Approach to Study Influenza Vaccine in Children with Autoimmunity (Juvenile Dermatomyositis JDM) 2011/2012 Cohort (see companion studies SDY376, SDY372, SDY645)</td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td> SDY369</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td> 4</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>Virginia Pascual MD, Baylor Institute for Immunology Research, Dallas, TX</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>Transcriptional profiling of peripheral blood of pediatric patients with juvenile dermatomyositis (JDM) before/after vaccination with seasonal influenza vaccine (Fluzone)</td>
	<tr><td width="15%"><strong><b>Publication(s):</b></strong></td>
		<td>none</td></tr>
	</tr>
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td>
	<tr><td>&nbsp;</td><td>
		<table border="1">
		<tr><td>Assay Type</td><td>Number of Exp. Samples</td></tr>
		<tr><td>Array</td><td>12</td></tr>
		<tr><td>Flow Cytometry</td><td>100</td></tr>
		<tr><td>HAI</td><td>27</td></tr>
		<tr><td>Virus Neutralization</td><td>27</td></tr>
		</table>
		<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>concomitant medications, assessments (physical exam)</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>New Study</td>
		</tr>			
	</table>	
<hr>
	<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>HIPC Baylor: Systems Analysis of Vaccine Responses in Healthy and Hyporesponsive Humans</td>
	</tr>
    <tr><td width="15%"><strong>Title:</strong></td>
		<td>Systems Biology Approach to Study Influenza Vaccine in Children with Autoimmunity (Juvenile Dermatomyositis JDM) 2012/2013 Cohort (see companion studies (SDY369, SDY376, SDY645) </td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td> SDY372</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td> 19</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>Virginia Pascual MD, Baylor Institute for Immunology Research, Dallas, TX</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>Transcriptional profiling of peripheral blood of pediatric patients with juvenile dermatomyositis (JDM) before/after vaccination with seasonal influenza vaccine (Fluzone)</td>
	<tr><td width="15%"><strong><b>Publication(s):</b></strong></td>
		<td>none</td></tr>
	</tr>
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td>
	<tr><td>&nbsp;</td><td>
		<table border="1">
		<tr><td>Assay Type</td><td>Number of Exp. Samples</td></tr>
		<tr><td>Array</td><td>71</td></tr>
		<tr><td>Flow Cytometry</td><td>266</td></tr>
		<tr><td>HAI</td><td>153</td></tr>
		<tr><td>Virus Neutralization</td><td>153</td></tr>
		</table>
		<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>concomitant medications, assessments (physical exam)</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>New Study</td>
		</tr>			
	</table>	
<hr>
<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>HIPC Baylor: Systems Analysis of Vaccine Responses in Healthy and Hyporesponsive Humans</td>
	</tr>
    <tr><td width="15%"><strong>Title:</strong></td>
		<td>Systems Biology Approach to Study Influenza Vaccine in Children with Autoimmunity (Juvenile Dermatomyositis JDM) 2013/2014 Cohort (see companion studies (SDY369, SDY372, SDY645) </td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td> SDY376</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td> 13</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>Virginia Pascual MD, Baylor Institute for Immunology Research, Dallas, TX</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>Transcriptional profiling of peripheral blood of pediatric patients with juvenile dermatomyositis (JDM) before/after vaccination with seasonal influenza vaccine (Fluzone) </td>
	<tr><td width="15%"><strong><b>Publication(s):</b></strong></td>
		<td>none</td></tr>
	</tr>
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td>
	<tr><td>&nbsp;</td><td>
		<table border="1">
		<tr><td>Assay Type</td><td>Number of Exp. Samples</td></tr>
		<tr><td>Array</td><td>47</td></tr>
		<tr><td>Flow Cytometry</td><td>196</td></tr>
		<tr><td>HAI</td><td>66</td></tr>
		<tr><td>Virus Neutralization</td><td>66</td></tr>
		</table>
		<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>concomitant medications, assessments (physical exam)</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>New Study</td>
		</tr>			
	</table>
	<hr>
	<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>HIPC Baylor: Systems Analysis of Vaccine Responses in Healthy and Hyporesponsive Humans</td>
	</tr>
    <tr><td width="15%"><strong>Title:</strong></td>
		<td>Systems Biology Approach to Study Influenza Vaccine in Children with Autoimmunity (Juvenile Dermatomyositis JDM) 2014/2015 Cohort (see companion studies SDY369, SDY376, SDY372)</td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td> SDY645</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td> 11</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>Virginia Pascual MD, Baylor Institute for Immunology Research, Dallas, TX</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>Transcriptional profiling of peripheral blood of pediatric patients with juvenile dermatomyositis (JDM) before/after vaccination with seasonal influenza vaccine (Fluzone)</td>
	<tr><td width="15%"><strong><b>Publication(s):</b></strong></td>
		<td>none</td></tr>
	</tr>
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td>
	<tr><td>&nbsp;</td><td>
		<table border="1">
		<tr><td>Assay Type</td><td>Number of Exp. Samples</td></tr>
		<tr><td>Array</td><td>39</td></tr>
		<tr><td>Flow cytometry</td><td>160</td></tr>
		<tr><td>HAI</td><td>464</td></tr>
		<tr><td>Virus neutralization</td><td>464</td></tr>
		</table>
		<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>none</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>New Study</td>
		</tr>			
	</table>	
<hr>
<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>HIPC Baylor: Systems Analysis of Vaccine Responses in Healthy and Hyporesponsive Humans</td>
	</tr>
    <tr><td width="15%"><strong>Title:</strong></td>
		<td>Study to measure the immune response to the influenza vaccine in patients with chronic plaque psoriasis</td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td> SDY416</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td> 45</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>Alan Menter MD, Baylor University Medical Center, Dallas, TX</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>Annual influenza vaccination immune response evaluation in poriasis patients treated with biologic therapies</td>
	<tr><td width="15%"><strong><b>Publication(s):</b></strong></td>
		<td>none</td></tr>
	</tr>
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td>
	<tr><td>&nbsp;</td><td>
		<table border="1">
		<tr><td>Assay Type</td><td>Number of Exp. Samples</td></tr>
		<tr><td>ELISA</td><td>1064</td></tr>
		<tr><td>Flow cytometry</td><td>1036</td></tr>
		</table>
		<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>None</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>New Study</td>
		</tr>			
	</table>	
<hr>
<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>HIPC Baylor: Systems Analysis of Vaccine Responses in Healthy and Hyporesponsive Humans</td>
	</tr>
    <tr><td width="15%"><strong>Title:</strong></td>
		<td>Dendritic cell transcriptomics in response to vaccines</td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td> SDY597</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td> 20</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>Roman Banchereau PhD, Baylor Institute for Immunology Research, Dallas, TX</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>Transcriptional responses of four human APC subsets to microbial vaccine challenge were measured in vitro. Common and specific signatures were identified highlighting subset-specific vaccine responses</td>
	<tr><td width="15%"><strong><b>Publication(s):</b></strong></td><td>&nbsp;</td></tr>
	<tr><td width="15%">&nbsp;</td><td>Transcriptional specialization of human dendritic cell subsets in response to microbial vaccines.  <i>Nat Commun.</i> 2014 Oct 22;5:5283. doi: 10.1038/ncomms6283.  <a href='http://www.ncbi.nlm.nih.gov/pubmed/?term=25335753' title="PubMed - 25335753" target="new">[PubMed]</a></td>
	</tr>
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td>
	<tr><td>&nbsp;</td><td>
		<table border="1">
		<tr><td>Assay Type</td><td>Number of Exp. Samples</td></tr>
		<tr><td>Array</td><td>413</td></tr>
		</table>
		<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>None</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>New Study</td>
		</tr>			
	</table>	
<hr>
<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>HIPC Baylor: Systems Analysis of Vaccine Responses in Healthy and Hyporesponsive Humans</td>
	</tr>
    <tr><td width="15%"><strong>Title:</strong></td>
		<td>The immune signature of palmoplantar pustulosis</td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td> SDY667</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td> 50</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>Gerlinde Obermoser MD, Baylor Institute for Immunology Research, Dallas, TX</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>Baseline demographics and psoriasis history was recorded for adult patients with CPP(chronic plaque type psoriasis ) not
		undergoing topical, systemic or biologic treatment and matched healthy controls. All PPP patients will be comprehensively
		phenotyped and psoriasis severity assessed including the body surface area (BSA) involved, Psoriasis Area and Severity 
		Index (PASI), Physicians Global assessment (PGA) and Dermatology Life Quality Index (DLQI)</td>
	<tr><td width="15%"><strong><b>Publication(s):</b></strong></td>
		<td>none</td></tr>
	</tr>
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td>
	<tr><td>&nbsp;</td><td>
		<table border="1">
		<tr><td>Assay Type</td><td>Number of Exp. Samples</td></tr>
		<tr><td>Array</td><td>138</td></tr>
		</table>
		<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>None</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>New Study</td>
		</tr>			
	</table>	
<hr>
<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>HIPC Baylor: Systems Analysis of Vaccine Responses in Healthy and Hyporesponsive Humans</td>
	</tr>
    <tr><td width="15%"><strong>Title:</strong></td>
		<td>In-Depth Characterization of Immune Responses to Pneumovax Vaccination in Healthy Subjects</td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td> SDY87</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td> 5</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>A. Karolina Palucka MD, PhD, Baylor Institute for Immunology Research, Dallas, TX</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>Immune response to the Pneumovax vaccine was measured from patients at several visits before and after vaccination</td>
	<tr><td width="15%"><strong><b>Publication(s):</b></strong></td>
		<td>none</td></tr>
	</tr>
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td>
	<tr><td>&nbsp;</td><td>
		<table border="1">
		<tr><td>Assay Type</td><td>Number of Exp. Samples</td></tr>
		<tr><td>Flow cytometry</td><td>198</td></tr>
		</table>
		<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>assessments (vital signs), concomtant medications, lab tests</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>New Study</td>
		</tr>			
	</table>	
	<hr>
<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>HIPC Baylor: Systems Analysis of Vaccine Responses in Healthy and Hyporesponsive Humans</td>
	</tr>
    <tr><td width="15%"><strong>Title:</strong></td>
		<td>Systems Biology Analysis of the response to Licensed Hepatitis B Vaccine (Engerix-B) (see companion study SDY690) </td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td> SDY89</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td> 50</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>Robert Coffman PhD, Baylor Institute for Immunology Research, Dallas, TX</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>This project analyzes the role of adjuvant in the humoral response to hepatitis B vaccination in healthy individuals</td>
	<tr><td width="15%"><strong><b>Publication(s):</b></strong></td>
		<td>none</td></tr>
	</tr>
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td>
	<tr><td>&nbsp;</td><td>
		<table border="1">
		<tr><td>Assay Type</td><td>Number of Exp. Samples</td></tr>
		<tr><td>Array</td><td>441</td></tr>
		<tr><td>Flow cytometry</td><td>384</td></tr>
		<tr><td>Virus neutralization</td><td>147</td></tr>
		</table>
		<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>none</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>New Study</td>
		</tr>			
	</table>	
	<hr>
<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>HIPC Baylor: Systems Analysis of Vaccine Responses in Healthy and Hyporesponsive Humans</td>
	</tr>
    <tr><td width="15%"><strong>Title:</strong></td>
		<td>Systems Biology Study to Investigate Immune Correlates to Hepatitis B Vaccine Engerix-B comparing cellular responses and gene expression patterns between PBMCs (cell sorts) and whole blood samples collected from healthy older adult</td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td> SDY690</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td> 12</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>Robert Coffman PhD, Baylor Institute for Immunology Research, Dallas, TX</td>
	</tr>+ '"
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>This project analyzes the role of adjuvant in the humoral response to hepatitis B vaccination in healthy individuals</td>
	<tr><td width="15%"><strong><b>Publication(s):</b></strong></td>
		<td>none</td></tr>
	</tr>
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td>
	<tr><td>&nbsp;</td><td>
		<table border="1">
		<tr><td>Assay Type</td><td>Number of Exp. Samples</td></tr>
		<tr><td>Array</td><td>192</td></tr>
		</table>
		<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>none</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>New Study</td>
		</tr>			
	</table>	
	<hr>
<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>HIPC Dana-Farber Crossprotective CTL against Influenza</td>
	</tr>
    <tr><td width="15%"><strong>Title:</strong></td>
		<td>Dana-Farber Cancer Institute HLA Typing</td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td> SDY422</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td> 72</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>Ellis Reinherz MD, Dana-Farber Cancer Institute, Boston, MA</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>HLA typing using a knowledge base coupled with a high throughput oligonucleotide probe array analysis</td>
	<tr><td width="15%"><strong><b>Publication(s):</b></strong></td><td>&nbsp;</td></tr>
	<tr><td width="15%">&nbsp;</td><td>Human leukocyte antigen typing using a knowledge base coupled with a high-throughput oligonucleotide probe array analysis.  <i>Front Immunol.</i> 2014 Nov 27;5:597. doi: 10.3389/fimmu.2014.00597. eCollection 2014. <a href='http://www.ncbi.nlm.nih.gov/pubmed/?term=25505899' title="PubMed - 25505899" target="new">[PubMed]</a></td>
	</tr>
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td>
	<tr><td>&nbsp;</td><td>
		<table border="1">
		<tr><td>Assay Type</td><td>Number of Exp. Samples</td></tr>
		<tr><td>HLA Typing</td><td>72</td></tr>
		</table>
		<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>none</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>New Study</td>
		</tr>			
	</table>	
	<hr>
<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>HIPC Dana-Farber Crossprotective CTL against Influenza</td>
	</tr>
    <tr><td width="15%"><strong>Title:</strong></td>
		<td>CD107 CTL Assay<td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td> SDY506</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td> 1</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>Ellis Reinherz MD, Dana-Farber Cancer Institute, Boston, MA</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>CD107A/B assay against influenza infected lung epithelium</td>
	<tr><td width="15%"><strong><b>Publication(s):</b></strong></td>
		<td>none</td></tr>
	</tr>
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td>
	<tr><td>&nbsp;</td><td>
		<table border="1">
		<tr><td>Assay Type</td><td>Number of Exp. Samples</td></tr>
		<tr><td>Flow cytometry</td><td>15</td></tr>
		</table>
		<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>none</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>New Study</td>
		</tr>			
	</table>	
	<hr>
<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>HIPC Dana-Farber Crossprotective CTL Against Influenza</td>
	</tr>
    <tr><td width="15%"><strong>Title:</strong></td>
		<td>Peptide display hierarchy protocol<td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td> SDY523</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td> 1</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>Ellis Reinherz MD, Dana-Farber Cancer Institute, Boston, MA</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>Peptide display hierarchy</td>
	<tr><td width="15%"><strong><b>Publication(s):</b></strong></td>
		<td>none</td></tr>
	</tr>
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td>
	<tr><td>&nbsp;</td><td>
		<table border="1">
		<tr><td>Assay Type</td><td>Number of Exp. Samples</td></tr>
		<tr><td>Mass spec</td><td>20</td></tr>
		</table>
		<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>none</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>New Study</td>
		</tr>			
	</table>	
	<hr>
<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>HIPC Dana-Farber Crossprotective CTL Against Influenza</td>
	</tr>
    <tr><td width="15%"><strong>Title:</strong></td>
		<td>Histology post influenza<td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td> SDY756</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td> 1</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>Ellis Reinherz MD, Dana-Farber Cancer Institute, Boston, MA</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>Lung immunohistology post influenza infection</td>
	<tr><td width="15%"><strong><b>Publication(s):</b></strong></td>
		<td>none</td></tr>
	</tr>
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td>
	<tr><td>&nbsp;</td><td>
		<table border="1">
		<tr><td>Assay Type</td><td>Number of Exp. Samples</td></tr>
		<tr><td>Microscopy</td><td>20</td></tr>
		</table>
		<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>none</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>New Study</td>
		</tr>			
	</table>	
	<hr>
<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>HIPC Emory Systems Biological Analysis of Innate and Adaptive Responses to Vaccination</td>
	</tr>
    <tr><td width="15%"><strong>Title:</strong></td>
		<td>Systems biology of trivalent influenza vaccine (TIV) in young and elderly<td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td> SDY56</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td> 22</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>Bali Pulendran PhD, Emory Vaccine Center, Emory University, Atlanta, GA</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>Identify innate signatures that correlate with the magnitude, quality and persistence of B cell responses after vaccination with TIV in the young versus the elderly</td>
	<tr><td width="15%"><strong><b>Publication(s):</b></strong></td>
		<td>none</td></tr>
	</tr>
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td>
	<tr><td>&nbsp;</td><td>
		<table border="1">
		<tr><td>Assay Type</td><td>Number of Exp. Samples</td></tr>
		<tr><td>Array</td><td>576</td></tr>
		<tr><td>Flow cytometry</td><td>745</td></tr>
		<tr><td>HAI</td><td>364</td></tr>
		<tr><td>Luminex x_MAP</td><td>240</td></tr>
		</table>
		<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>none</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>New Study</td>
		</tr>			
	</table>	
	<hr>
<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>HIPC Mayo Bioinformatics Approach to Influenza A/H1N1 Vaccine Immune Profiling</td>
	</tr>
    <tr><td width="15%"><strong>Title:</strong></td>
		<td>Investigating Alterations to the Nasal Microbiome after Vaccination with LAIV<td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td> SDY753</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td> 47</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>Gregory Poland MD, Mayo Clinic, Rochester, MN</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>Microbiome alteration in response to influenza vaccine</td>
	<tr><td width="15%"><strong><b>Publication(s):</b></strong></td>
		<td>none</td></tr>
	</tr>
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td>
	<tr><td>&nbsp;</td><td>
		<table border="1">
		<tr><td>Assay Type</td><td>Number of Exp. Samples</td></tr>
		<tr><td>ELISA</td><td>94</td></tr>
		<tr><td>Sequencing</td><td>121</td></tr>
		</table>
		<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>none</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>New Study</td>
		</tr>			
	</table>	
	<hr>
<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>HIPC Seattle Biomed Immune Profile and Network Analysis of Malaria Infection and Vaccination</td>
	</tr>
    <tr><td width="15%"><strong>Title:</strong></td>
		<td>Optimization FACS panels<td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td> SDY278</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td> 1</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>Julie McElrath MD, PhD, Seattle Biomed/Fred Hutchinson Cancer Research Center, Seattle, WA</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>Optimization of ICS and phenotyping panels for the Mal067 study using cryopreserved PBMC samples from the SAC cohort</td>
	<tr><td width="15%"><strong><b>Publication(s):</b></strong></td>
		<td>none</td></tr>
	</tr>
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td>
	<tr><td>&nbsp;</td><td>
		<table border="1">
		<tr><td>Assay Type</td><td>Number of Exp. Samples</td></tr>
		<tr><td>Flow cytometry</td><td>3</td></tr>
		</table>
		<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>none</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>New Study</td>
		</tr>			
	</table>	
	<hr>
<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>HIPC Stanford Vaccination and Infection:  indicators of immunological health and responsiveness</td>
	</tr>
    <tr><td width="15%"><strong>Title:</strong></td>
		<td>T cell responses to H1N1v and a longitudinal study of seasonal influenza vaccination (TIV) - 2011 (See companion studies SDY311 2010 / SDY312 2009 / SDY314 2008 / SDY315 2012)<td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td> SDY112</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td> 92</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>Mark Davis PhD, Stanford University, Stanford, CA</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>Systems biology approach to examine effects of seasonal flu vaccination in adults of different ages on gene expression,
		cytokine stimulation and serum cytokines with parameters such as immune senescence to uncover new markers and 
		mechanisms behind failure of immune function in many older people</td>
	<tr><td width="15%"><strong><b>Publication(s):</b></strong></td>
		<td>none</td></tr>
	</tr>
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td>
	<tr><td>&nbsp;</td><td>
		<table border="1">
		<tr><td>Assay Type</td><td>Number of Exp. Samples</td></tr>
		<tr><td>Array</td><td>89</td></tr>
		<tr><td>CyTOF</td><td>95</td></tr>
		<tr><td>Flow cytometry</td><td>744</td></tr>
		<tr><td>HAI</td><td>181</td></tr>
		<tr><td>Luminex x_MAP</td><td>352</td></tr>
		</table>
		<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>none</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>New Study</td>
		</tr>			
	</table>	
	<hr>
<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>HIPC Stanford Vaccination and Infection:  indicators of immunological health and responsiveness</td>
	</tr>
    <tr><td width="15%"><strong>Title:</strong></td>
		<td>T cell responses to H1N1v and a longitudinal study of seasonal influenza vaccination (TIV) - 2010 (See companion studies SDY315 2012 / SDY312 2009 / SDY314 2008 / SDY112 2011)<td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td> SDY311</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td> 74</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>Mark Davis PhD, Stanford University, Stanford, CA</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>Systems biology approach to examine effects of seasonal flu vaccination in adults of different ages on gene expression,
		cytokine stimulation and serum cytokines with parameters such as immune senescence to uncover new markers and 
		mechanisms behind failure of immune function in many older people</td>
	<tr><td width="15%"><strong><b>Publication(s):</b></strong></td>
		<td>none</td></tr>
	</tr>
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td>
	<tr><td>&nbsp;</td><td>
		<table border="1">
		<tr><td>Assay Type</td><td>Number of Exp. Samples</td></tr>
		<tr><td>Array</td><td>73</td></tr>
		<tr><td>CyTOF</td><td>79</td></tr>
		<tr><td>Flow cytometry</td><td>464</td></tr>
		<tr><td>HAI</td><td>140</td></tr>
		<tr><td>Luminex x_MAP</td><td>426</td></tr>
		</table>
		<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>none</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>New Study</td>
		</tr>			
	</table>	
	<hr>
<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>HIPC Stanford Vaccination and Infection:  indicators of immunological health and responsiveness</td>
	</tr>
    <tr><td width="15%"><strong>Title:</strong></td>
		<td>T cell responses to H1N1v and a longitudinal study of seasonal influenza vaccination (TIV) - 2009 (See companion studies SDY315 2012 / SDY314 2008 / SDY311 2010 / SDY112 2011)<td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td> SDY312</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td> 83</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>Mark Davis PhD, Stanford University, Stanford, CA</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>Systems biology approach to examine effects of seasonal flu vaccination in adults of different ages on gene expression,
		cytokine stimulation and serum cytokines with parameters such as immune senescence to uncover new markers and 
		mechanisms behind failure of immune function in many older people</td>
	<tr><td width="15%"><strong><b>Publication(s):</b></strong></td>
		<td>none</td></tr>
	</tr>
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td>
	<tr><td>&nbsp;</td><td>
		<table border="1">
		<tr><td>Assay Type</td><td>Number of Exp. Samples</td></tr>
		<tr><td>Array</td><td>73</td></tr>
		<tr><td>Phospho flow</td><td>624</td></tr>
		<tr><td>Flow cytometry</td><td>531</td></tr>
		<tr><td>HAI</td><td>158</td></tr>
		<tr><td>Luminex x_MAP</td><td>484</td></tr>
		</table>
		<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>none</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>New Study</td>
		</tr>			
	</table>	
	<hr>
<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>HIPC Stanford Vaccination and Infection:  indicators of immunological health and responsiveness</td>
	</tr>
    <tr><td width="15%"><strong>Title:</strong></td>
		<td>T cell responses to H1N1v and a longitudinal study of seasonal influenza vaccination (TIV) - 2008 (See companion studies SDY315 2012 / SDY312 2009 / SDY311 2010 / SDY112 2011)<td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td> SDY314</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td> 92</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>Mark Davis PhD, Stanford University, Stanford, CA</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>Systems biology approach to examine effects of seasonal flu vaccination in adults of different ages on gene expression,
		cytokine stimulation and serum cytokines with parameters such as immune senescence to uncover new markers and 
		mechanisms behind failure of immune function in many older people</td>
	<tr><td width="15%"><strong><b>Publication(s):</b></strong></td>
		<td>none</td></tr>
	</tr>
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td>
	<tr><td>&nbsp;</td><td>
		<table border="1">
		<tr><td>Assay Type</td><td>Number of Exp. Samples</td></tr>
		<tr><td>Array</td><td>80</td></tr>
		<tr><td>ELISPOT</td><td>178</td></tr>
		<tr><td>Flow cytometry</td><td>445</td></tr>
		<tr><td>HAI</td><td>178</td></tr>
		<tr><td>HLA Typing</td><td>81</td></tr>
		</table>
		<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>none</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>New Study</td>
		</tr>			
	</table>	
	<hr>
<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>HIPC Stanford Vaccination and Infection:  indicators of immunological health and responsiveness</td>
	</tr>
    <tr><td width="15%"><strong>Title:</strong></td>
		<td>T cell responses to H1N1v and a longitudinal study of seasonal influenza vaccination - 2013<td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td> SDY478</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td> 70</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>Mark Davis PhD, Stanford University, Stanford, CA</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>Systems biology approach to examine effects of seasonal flu vaccination in adults of different ages on gene expression,
		cytokine stimulation and serum cytokines with parameters such as immune senescence to uncover new markers and 
		mechanisms behind failure of immune function in many older people</td>
	<tr><td width="15%"><strong><b>Publication(s):</b></strong></td>
		<td>none</td></tr>
	</tr>
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td>
	<tr><td>&nbsp;</td><td>
		<table border="1">
		<tr><td>Assay Type</td><td>Number of Exp. Samples</td></tr>
		<tr><td>CyTOF</td><td>73</td></tr>
		<tr><td>Luminex x_MAP</td><td>138</td></tr>
		</table>
		<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>none</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>New Study</td>
		</tr>			
	</table>	
	<hr>
<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>HIPC Stanford Vaccination and Infection:  indicators of immunological health and responsiveness</td>
	</tr>
    <tr><td width="15%"><strong>Title:</strong></td>
		<td>Plasmablast response to inactivated and live attenuated influenza vaccines (TIV3/TIV3 ID/LAIV) in 2011<td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td> SDY113</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td> 69</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>Harry Greenberg MD, Stanford University, Stanford, CA</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>Study the plasmablast response to influenza vaccines</td>
	<tr><td width="15%"><strong><b>Publication(s):</b></strong></td><td>&nbsp;</td></tr>
	<tr><td width="15%">&nbsp;</td><td>Distinct cross-reactive B-cell responses to live attenuated and inactivated influenza vaccines.  <i>J Infect Dis.</i> 2014 Sep 15;210(6):865-74. doi: 10.1093/infdis/jiu190. Epub 2014 Mar 27. <a href='http://www.ncbi.nlm.nih.gov/pubmed/?term=24676204' title="PubMed - 24676204" target="new">[PubMed]</a></td>
	</tr>
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td>
	<tr><td>&nbsp;</td><td>
		<table border="1">
		<tr><td>Assay Type</td><td>Number of Exp. Samples</td></tr>
		<tr><td>Array</td><td>57</td></tr>
		<tr><td>CyTOF</td><td>61</td></tr>
		<tr><td>ELISA</td><td>60</td></tr>
		<tr><td>ELISPOT</td><td>60</td></tr>
		<tr><td>Flow cytometry</td><td>344</td></tr>
		<tr><td>HAI</td><td>128</td></tr>
		<tr><td>Luminex x_MAP</td><td>374</td></tr>
		<tr><td>Other</td><td>14</td></tr>
		</table>
		<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>none</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>New Study</td>
		</tr>			
	</table>	
	<hr>
<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>HIPC Stanford Vaccination and Infection:  indicators of immunological health and responsiveness</td>
	</tr>
    <tr><td width="15%"><strong>Title:</strong></td>
		<td>Plasmablast response to inactivated and live attenuated influenza vaccines (TIV3/TIV3 ID) in 2012<td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td> SDY305</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td> 24</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>Harry Greenberg MD, Stanford University, Stanford, CA</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>Study the plasmablast response to 2012 seasonal inactivated influenza vaccine</td>
	<tr><td width="15%"><strong><b>Publication(s):</b></strong></td>
		<td>none</td></tr>
	</tr>
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td>
	<tr><td>&nbsp;</td><td>
		<table border="1">
		<tr><td>Assay Type</td><td>Number of Exp. Samples</td></tr>
		<tr><td>Array</td><td>24</td></tr>
		<tr><td>CyTOF</td><td>23</td></tr>
		<tr><td>ELISA</td><td>23</td></tr>
		<tr><td>ELISPOT</td><td>23</td></tr>
		<tr><td>Flow cytometry</td><td>117</td></tr>
		<tr><td>HAI</td><td>48</td></tr>
		<tr><td>Luminex x_MAP</td><td>30</td></tr>
		<tr><td>Other</td><td>11</td></tr>
		</table>
		<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>none</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>New Study</td>
		</tr>			
	</table>	
	<hr>
<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>HIPC Stanford Vaccination and Infection:  indicators of immunological health and responsiveness</td>
	</tr>
    <tr><td width="15%"><strong>Title:</strong></td>
		<td>Plasmablast response to inactivated and live attenuated influenza vaccines (TIV3/TIV3 ID) in 2013<td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td> SDY472</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td> 24</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>Harry Greenberg MD, Stanford University, Stanford, CA</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>To study the plasmablast response to 2012 seasonal inactivated influenza vaccine</td>
	<tr><td width="15%"><strong><b>Publication(s):</b></strong></td>
		<td>none</td></tr>
	</tr>
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td>
	<tr><td>&nbsp;</td><td>
		<table border="1">
		<tr><td>Assay Type</td><td>Number of Exp. Samples</td></tr>
		<tr><td>CyTOF</td><td>24</td></tr>
		<tr><td>Luminex x_MAP</td><td>46</td></tr>
		</table>
		<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>none</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>New Study</td>
		</tr>			
	</table>	
	<hr>
<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>HIPC Stanford Vaccination and Infection:  indicators of immunological health and responsiveness</td>
	</tr>
    <tr><td width="15%"><strong>Title:</strong></td>
		<td>Immune Responses to Influenza-Like Illness<td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td> SDY395</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td> 33</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>Harry Greenberg MD, Stanford University, Stanford, CA</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>Investigate the nasal transcriptional response and peripheral plasmablast response in acute influenza infection</td>
	<tr><td width="15%"><strong><b>Publication(s):</b></strong></td>
		<td>none</td></tr>
	</tr>
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td>
	<tr><td>&nbsp;</td><td>
		<table border="1">
		<tr><td>Assay Type</td><td>Number of Exp. Samples</td></tr>
		<tr><td>Luminex x_MAP</td><td>62</td></tr>
		</table>
		<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>none</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>New Study</td>
		</tr>			
	</table>	
	<hr>
<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>HIPC Stanford Vaccination and Infection:  indicators of immunological health and responsiveness</td>
	</tr>
    <tr><td width="15%"><strong>Title:</strong></td>
		<td>Immune Responses to Influenza-Like Illness<td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td> SDY406</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td> 6</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>Harry Greenberg MD, Stanford University, Stanford, CA</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>Investigate the nasal transcriptional response and peripheral plasmablast response in acute influenza infection</td>
	<tr><td width="15%"><strong><b>Publication(s):</b></strong></td>
		<td>none</td></tr>
	</tr>
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td>
	<tr><td>&nbsp;</td><td>
		<table border="1">
		<tr><td>Assay Type</td><td>Number of Exp. Samples</td></tr>
		<tr><td>Array</td><td>4</td></tr>
		<tr><td>ELISA</td><td>6</td></tr>
		<tr><td>HAI</td><td>6</td></tr>
		</table>
		<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>none</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>New Study</td>
		</tr>			
	</table>	
	<hr>
<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>HIPC Stanford Vaccination and Infection:  indicators of immunological health and responsiveness</td>
	</tr>
    <tr><td width="15%"><strong>Title:</strong></td>
		<td>B and T Cell Determinants of Influenza Vaccine Responses in the Elderly 2008 (see companion study SDY773)<td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td> SDY460</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td> 27</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>Scott Boyd MD PhD, Stanford University School of Medicine, Stanford, CA</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>Application of high-throughput DNA sequencing of the IGH gene rearrangements to study the B cell repertoires over two successive years in 27 individuals ranging in age from 20 to 89 years old</td>
	<tr><td width="15%"><strong><b>Publication(s):</b></strong></td><td>&nbsp;</td></tr>
	<tr><td width="15%">&nbsp;</td><td>Effects of aging, cytomegalovirus infection, and EBV infection on human B cell repertoires.  <i>J Immunol.</i> 2014 Jan 15;192(2):603-11. doi: 10.4049/jimmunol.1301384. Epub 2013 Dec 11. <a href='http://www.ncbi.nlm.nih.gov/pubmed/?term=24337376' title="PubMed - 24337376" target="new">[PubMed]</a></td>
	</tr>
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td>
	<tr><td>&nbsp;</td><td>
		<table border="1">
		<tr><td>Assay Type</td><td>Number of Exp. Samples</td></tr>
		<tr><td>Sequencing</td><td>1296</td></tr>
		</table>
		<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>none</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>New Study</td>
		</tr>			
	</table>	
	<hr>
<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>HIPC Stanford Vaccination and Infection:  indicators of immunological health and responsiveness</td>
	</tr>
    <tr><td width="15%"><strong>Title:</strong></td>
		<td>B and T Cell Determinants of Influenza Vaccine Responses in the Elderly 2009 (see companion study SDY460)<td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td> SDY773</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td> 27</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>Scott Boyd MD PhD, Stanford University School of Medicine, Stanford, CA</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>Application of high-throughput DNA sequencing of the IGH gene rearrangements to study the B cell repertoires over two successive years in 27 individuals ranging in age from 20 to 89 years old</td>
	<tr><td width="15%"><strong><b>Publication(s):</b></strong></td><td>&nbsp;</td></tr>
	<tr><td width="15%">&nbsp;</td><td>Effects of aging, cytomegalovirus infection, and EBV infection on human B cell repertoires.  <i>J Immunol.</i> 2014 Jan 15;192(2):603-11. doi: 10.4049/jimmunol.1301384. Epub 2013 Dec 11. <a href='http://www.ncbi.nlm.nih.gov/pubmed/?term=24337376' title="PubMed - 24337376" target="new">[PubMed]</a></td>
	</tr>
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td>
	<tr><td>&nbsp;</td><td>
		<table border="1">
		<tr><td>Assay Type</td><td>Number of Exp. Samples</td></tr>
		<tr><td>Sequencing</td><td>1296</td></tr>
		</table>
		<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>none</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>New Study</td>
		</tr>			
	</table>	
	<hr>
<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>HIPC Stanford Vaccination and Infection:  indicators of immunological health and responsiveness</td>
	</tr>
    <tr><td width="15%"><strong>Title:</strong></td>
		<td>Clonal B cell response to naturally occurring pathogens causing tissue specific immune responses in human<td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td> SDY421</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td> 4</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>Eugene Butcher MD, Stanford University School of Medicine, Stanford, CA</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>Elucidate the trafficking specificity, or diversity, of clonal B cell responses to mucosae-associated illnesses or infections in vivo</td>
	<tr><td width="15%"><strong><b>Publication(s):</b></strong></td>
		<td>none</td></tr>
	</tr>
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td>
	<tr><td>&nbsp;</td><td>
		<table border="1">
		<tr><td>Assay Type</td><td>Number of Exp. Samples</td></tr>
		<tr><td>Sequencing</td><td>11</td></tr>
		</table>
		<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>none</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>New Study</td>
		</tr>			
	</table>	
	<hr>
<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>HIPC Stanford Vaccination and Infection:  indicators of immunological health and responsiveness</td>
	</tr>
    <tr><td width="15%"><strong>Title:</strong></td>
		<td>Monitoring of tissue-specific immune responses in man to naturally occurring pathogens using mass cytometric monitoring<td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td> SDY461</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td> 7</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>Eugene Butcher MD, Stanford University School of Medicine, Stanford, CA</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>Elucidate the trafficking specificity, or diversity, of clonal B cell responses to mucosae-associated illnesses or infections in vivo</td>
	<tr><td width="15%"><strong><b>Publication(s):</b></strong></td>
		<td>none</td></tr>
	</tr>
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td>
	<tr><td>&nbsp;</td><td>
		<table border="1">
		<tr><td>Assay Type</td><td>Number of Exp. Samples</td></tr>
		<tr><td>CyTOF</td><td>15</td></tr>
		</table>
		<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>none</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>New Study</td>
		</tr>			
	</table>	
	<hr>
<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>HIPC Stanford Vaccination and Infection:  indicators of immunological health and responsiveness</td>
	</tr>
    <tr><td width="15%"><strong>Title:</strong></td>
		<td>Heritable influence on the B and T cell receptor repertoire<td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td> SDY461</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td> 7</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>Mark Davis PhD, Stanford University, Stanford, CA</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>Determining the individual heritable differences result in unique B and T cell receptor repertoires of naive and antigen-experienced cells through next generation sequencing</td>
	<tr><td width="15%"><strong><b>Publication(s):</b></strong></td>
		<td>none</td></tr>
	</tr>
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td>
	<tr><td>&nbsp;</td><td>
		<table border="1">
		<tr><td>Assay Type</td><td>Number of Exp. Samples</td></tr>
		<tr><td>CyTOF</td><td>10</td></tr>
		</table>
		<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>none</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>New Study</td>
		</tr>			
	</table>	
	<hr>
<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>HIPC Yale Defining Signatures for Immune Responsiveness by Functional Systems Immunology</td>
	</tr>
    <tr><td width="15%"><strong>Title:</strong></td>
		<td>Immunologic and genomic signatures of influenza vaccine response - 2013 (see companion studies SDY63, SDY404, SDY400) <td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td> SDY520</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td> 61</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>David Hafler MD, Yale School of Medicine, New Haven, CT</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>Project 1: Immunologic and genomic signatures of influenza vaccine response - year4 2013</td>
	<tr><td width="15%"><strong><b>Publication(s):</b></strong></td>
		<td>none</td></tr>
	</tr>
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td>
	<tr><td>&nbsp;</td><td>
		<table border="1">
		<tr><td>Assay Type</td><td>Number of Exp. Samples</td></tr>
		<tr><td>HAI</td><td>114</td></tr>
		</table>
		<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>none</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>New Study</td>
		</tr>			
	</table>	
	<hr>
<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>HIPC Yale Defining Signatures for Immune Responsiveness by Functional Systems Immunology</td>
	</tr>
    <tr><td width="15%"><strong>Title:</strong></td>
		<td>Immunologic and genomic signatures of influenza vaccine response - 2014 <td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td> SDY640</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td> 37</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>David Hafler MD, Yale School of Medicine, New Haven, CT</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>Project 1: Immunologic and genomic signatures of influenza vaccine response - year5 2014</td>
	<tr><td width="15%"><strong><b>Publication(s):</b></strong></td>
		<td>none</td></tr>
	</tr>
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td>
	<tr><td>&nbsp;</td><td>
		<table border="1">
		<tr><td>Assay Type</td><td>Number of Exp. Samples</td></tr>
		<tr><td>HAI</td><td>280</td></tr>
		</table>
		<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>none</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>New Study</td>
		</tr>			
	</table>	
	<hr>
<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>HIPC Yale Defining Signatures for Immune Responsiveness by Functional Systems Immunology</td>
	</tr>
    <tr><td width="15%"><strong>Title:</strong></td>
		<td>Humoral responses to West Nile virus <td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td> SDY508</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td> 12</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>David Hafler MD, Yale School of Medicine, New Haven, CT</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>Integrate two high-throughput technologies namely, microengraving-based screening of primary B cells and next-generation sequencing to examine the relationship between the diversity and quality of humoral responses raised and the severity of disease</td>
	<tr><td width="15%"><strong><b>Publication(s):</b></strong></td>
		<td>none</td></tr>
	</tr>
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td>
	<tr><td>&nbsp;</td><td>
		<table border="1">
		<tr><td>Assay Type</td><td>Number of Exp. Samples</td></tr>
		<tr><td>Sequencing</td><td>19</td></tr>
		</table>
		<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>none</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>New Study</td>
		</tr>			
	</table>	
	<hr>
<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>HIPC Yale Defining Signatures for Immune Responsiveness by Functional Systems Immunology</td>
	</tr>
    <tr><td width="15%"><strong>Title:</strong></td>
		<td>Natural Killer cells in resistance to infection with West Nile virus<td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td> SDY517</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td> 14</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>David Hafler MD, Yale School of Medicine, New Haven, CT</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>Examine the response of primary NK cells from subjects with a history of asymptomatic or severe infection with West Nile virus</td>
	<tr><td width="15%"><strong><b>Publication(s):</b></strong></td>
		<td>none</td></tr>
	</tr>
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td>
	<tr><td>&nbsp;</td><td>
		<table border="1">
		<tr><td>Assay Type</td><td>Number of Exp. Samples</td></tr>
		<tr><td>CyTOF</td><td>56</td></tr>
		</table>
		<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>none</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>New Study</td>
		</tr>			
	</table>	
	<hr>
<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>March of Dimes</td>
	</tr>
    <tr><td width="15%"><strong>Title:</strong></td>
		<td>Exploring the human maternal microbiome and its contribution to preterm birth<td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td> SDY465</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td> 49</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>David Relman MD, March of Dimes Prematurity Research Center at Stanford University, Stanford, CA</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>This study characterizes the human maternal microbiome and host response profiles associated with term and preterm births and identify features of each that are predictive of preterm labor and delivery</td>
	<tr><td width="15%"><strong><b>Publication(s):</b></strong></td><td>&nbsp;</td></tr>
	<tr><td width="15%">&nbsp;</td><td>Temporal and spatial variation of the human microbiota during pregnancy. <i>Proc Natl Acad Sci USA<i> 2015 Sep 1;112(35):11060-5. doi: 10.1073/pnas.1502875112. Epub 2015 Aug 17. <a href='http://www.ncbi.nlm.nih.gov/pubmed/?term=26283357' title="PubMed - 26283357 target="new">[PubMed]</a></td>
	</tr>
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td>
	<tr><td>&nbsp;</td><td>
		<table border="1">
		<tr><td>Assay Type</td><td>Number of Exp. Samples</td></tr>
		<tr><td>Sequencing</td><td>4122</td></tr>
		</table>
		<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>maternal health (chorioamnionitis, endometritis, etc...)</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>New Study</td>
		</tr>			
	</table>	
	<hr>
<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>Tissue Compartmentalization of human lymphocytes P01AI106697</td>
	</tr>
    <tr><td width="15%"><strong>Title:</strong></td>
		<td>Human T Cell Profile<td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td> SDY702</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td> 56</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>Donna Farber PhD, Columbia University, New York</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>A multidimensional, quantitative analysis of human T cell compartmentalization and maintenance over six decades of life in blood, lymphoid, and mucosal tissues obtained from 56 individual organ donors</td>
	<tr><td width="15%"><strong><b>Publication(s):</b></strong></td><td>&nbsp;</td></tr>
	<tr><td width="15%">&nbsp;</td><td>Spatial map of human T cell compartmentalization and maintenance over decades of life. <i>Cell<i> 2014 Nov 6;159(4):814-28. doi: 10.1016/j.cell.2014.10.026. <a href='http://www.ncbi.nlm.nih.gov/pubmed/?term=25417158' title="PubMed - 25417158 target="new">[PubMed]</a></td>
	</tr>
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td>
	<tr><td>&nbsp;</td><td>
		<table border="1">
		<tr><td>Assay Type</td><td>Number of Exp. Samples</td></tr>
		<tr><td>Flow Cytometry</td><td>301</td></tr>
		</table>
		<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>none</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>New Study</td>
		</tr>			
	</table>	
	<hr>
<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>Clinical Outcomes of Live Organ donors: Data Coordinating Center</td>
	</tr>
    <tr><td width="15%"><strong>Title:</strong></td>
		<td>Live Kidney Donor Study (RELIVE-01)<td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td> SDY289</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td> 8922</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>Sandra J. Taler MD, Mayo Clinic</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>The purpose of this study was to establish a multi-center kidney donor database containing renal failure, cardiovascular and overall mortality information for the complete cohorts of kidney donors who underwent living donor uninephrectomy</td>
	<tr><td width="15%"><strong><b>Publication(s):</b></strong></td><td>&nbsp;</td></tr>
	<tr><td width="15%">&nbsp;</td><td>Living donor age and kidney transplant outcomes. <i>Am J Transplant<i> 2011 Jun;11(6):1279-86. doi: 10.1111/j.1600-6143.2011.03552.x. Epub 2011 May 12. <a href='http://www.ncbi.nlm.nih.gov/pubmed/?term=21564530' title="PubMed - 21564530 target="new">[PubMed]</a></td>
	</tr>
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td>
	<tr><td>&nbsp;</td><td>
		<table border="1">
		<tr><td>Assay Type</td><td>Number of Exp. Samples</td></tr>
		<tr><td>none</td><td></td></tr>
		</table>
		<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>CRF, subject assessments</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>New Study, for more publication information see SDY289 at www.immport.org</td>
		</tr>			
	</table>	
	<hr>
<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>Clinical Outcomes of Live Organ donors: Data Coordinating Center</td>
	</tr>
    <tr><td width="15%"><strong>Title:</strong></td>
		<td>Live Kidney Donor Study (RELIVE-04)<td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td> SDY290</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td> 196</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>Sandra J. Taler MD, Mayo Clinic</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>The goal of this study is to determine the long-term risks of donor nephrectomy, compared to appropriate control subjects. This study built on information generated from RELIVE-01, a separate but related retrospective study</td>
	<tr><td width="15%"><strong><b>Publication(s):</b></strong></td><td>&nbsp;</td></tr>
	<tr><td width="15%">&nbsp;</td><td>Living donor age and kidney transplant outcomes. <i>Am J Transplant<i> 2011 Jun;11(6):1279-86. doi: 10.1111/j.1600-6143.2011.03552.x. Epub 2011 May 12. <a href='http://www.ncbi.nlm.nih.gov/pubmed/?term=21564530' title="PubMed - 21564530 target="new">[PubMed]</a></td>
	</tr>
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td>
	<tr><td>&nbsp;</td><td>
		<table border="1">
		<tr><td>Assay Type</td><td>Number of Exp. Samples</td></tr>
		<tr><td>none</td><td></td></tr>
		</table>
		<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>CRF, subject assessments</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>New Study, for more publication information see SDY290 at www.immport.org</td>
		</tr>			
	</table>	
	<hr>
<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>Clinical Outcomes of Live Organ donors: Data Coordinating Center</td>
	</tr>
    <tr><td width="15%"><strong>Title:</strong></td>
		<td>Live Kidney Donor Study -Renal Function Study (RELIVE-06)<td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td> SDY291</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td> 413</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>Sandra J. Taler MD, Mayo Clinic</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>As part of a cross-sectional study of living kidney donors from 5 to more than 50 years following donor nephrectomy, this study's goal is to accurately measure current Glomerular Filtration Rate (GFR), then to look at the change in GFR from pre to post donation and from early to late time points after donation. This study builds on information generated from RELIVE-01 and RELIVE-04</td>
	<tr><td width="15%"><strong><b>Publication(s):</b></strong></td><td>&nbsp;</td></tr>
	<tr><td width="15%">&nbsp;</td><td>Living donor age and kidney transplant outcomes. <i>Am J Transplant<i> 2011 Jun;11(6):1279-86. doi: 10.1111/j.1600-6143.2011.03552.x. Epub 2011 May 12. <a href='http://www.ncbi.nlm.nih.gov/pubmed/?term=21564530' title="PubMed - 21564530 target="new">[PubMed]</a></td>
	</tr>
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td>
	<tr><td>&nbsp;</td><td>
		<table border="1">
		<tr><td>Assay Type</td><td>Number of Exp. Samples</td></tr>
		<tr><td>none</td><td></td></tr>
		</table>
		<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>CRF, subject assessments</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>New Study, for more publication information see SDY291 at www.immport.org</td>
		</tr>			
	</table>	
	<hr>
<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>Clinical Outcomes of Live Organ donors: Data Coordinating Center</td>
	</tr>
    <tr><td width="15%"><strong>Title:</strong></td>
		<td>RELIVE Informed Consent Study (RELIVE-03)<td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td> SDY292</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td> 636</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>Maryam Valapour MD, University of Minnesota</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>The goal of this study was to study informed consent by the living donor. This study used surveys to evaluate the understanding of risk and psychological pressure that living organ donors felt when making the decision to donate. It compared participants' answers across geographic, racial and socio-economic backgrounds</td>
	<tr><td width="15%"><strong><b>Publication(s):</b></strong></td><td>&nbsp;</td></tr>
	<tr><td width="15%">&nbsp;</td><td>Assessing elements of informed consent among living donors. <i>Clin Transplant<i> 2011 Mar-Apr;25(2):185-90. doi: 10.1111/j.1399-0012.2010.01374.x. Epub 2010 Dec 16. <a href='http://www.ncbi.nlm.nih.gov/pubmed/?term=21158924' title="PubMed - 21158924 target="new">[PubMed]</a></td>
	</tr>
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td>
	<tr><td>&nbsp;</td><td>
		<table border="1">
		<tr><td>Assay Type</td><td>Number of Exp. Samples</td></tr>
		<tr><td>none</td><td></td></tr>
		</table>
		<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>CRF, subject assessments</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>New Study, for more publication information see SDY292 at www.immport.org</td>
		</tr>			
	</table>	
	<hr>
<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>Clinical Outcomes of Live Organ donors: Data Coordinating Center</td>
	</tr>
    <tr><td width="15%"><strong>Title:</strong></td>
		<td>Live Lung Donor Cross-sectional Cohort Study (RELIVE-05)<td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td> SDY294</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td> 162</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>Mark Barr MD, University of Southern California</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>The goal of this study was to study informed consent by the living donor. This study used surveys to evaluate the understanding of risk and psychological pressure that living organ donors felt when making the decision to donate. It compared participants' answers across geographic, racial and socio-economic backgrounds</td>
	<tr><td width="15%"><strong><b>Publication(s):</b></strong></td><td>&nbsp;</td></tr>
	<tr><td width="15%">&nbsp;</td><td>Morbidity and mortality of live lung donation: results from the RELIVE study. <i>Am J Transplant<i> 2014 Aug;14(8):1846-52. <a href='http://www.ncbi.nlm.nih.gov/pubmed/?term=25039865' title="PubMed - 25039865 target="new">[PubMed]</a></td>
	</tr>
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td>
	<tr><td>&nbsp;</td><td>
		<table border="1">
		<tr><td>Assay Type</td><td>Number of Exp. Samples</td></tr>
		<tr><td>none</td><td></td></tr>
		</table>
		<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>CRF, subject assessments</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>New Study, for more publication information see SDY294 at www.immport.org</td>
		</tr>			
	</table>	