<h2>BISC/ImmPort Data Release 15 Studies</h2>

<h5>December 2015</h5>

<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>Human Immune Project Consortium</td>
	</tr>
    	<tr><td width="15%"><strong>Title:</strong></td>
    	<td>Defining signatures for immune responsiveness by functional systems immunology</td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td>SDY58</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td>135</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>David Hafler MD, Yale University</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>Immunologic and genomic signatures of response to neuroinvasive or nonneuroinvasive West Nile Virus infection.</td>
	</tr>
	<tr><td width="15%"><strong><b>Publication(s):</b></strong></td><td>None</td></tr>
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td>
	<tr><td>&nbsp;</td><td>
	<table border="1">
		<tr><td>Assay Type</td><td>Number of Exp. Samples</td></tr>
		<tr><td>Array</td><td>195</td></tr>
		<tr><td>ELISA</td><td>138</td></tr>
		<tr><td>Flow Cytometry</Mestd><td>784</td></tr>
		<tr><td>Meso Scale Discovery</td><td>69</td></tr>
	</table>
		<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>None</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>New Study</td>
		</tr>			
	</table>
	<hr>
	
	<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>March of Dimes Human Microbiome</td>
	</tr>
    <tr><td width="15%"><strong>Title:</strong></td>
   		<td>Characterization of the human maternal immune response 6 months or greater post delivery via cytometry Time-of-Flight (CyTOF)</td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td> SDY475</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td> 23</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>Martin Angst MD, Stanford University</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>This study characterizes the human maternal immune system and identifies immune markers potentially associated with pre-term birth events.</td>
	</tr>
	<tr><td width="15%"><strong><b>Publication(s):</b></strong></td><td>&nbsp;</td></tr>
	<tr><td width="15%">&nbsp;</td><td>Implementing Mass Cytometry at the Bedside to Study the Immunological Basis of Human 
		Diseases:  Distinctive Immune Features in Patients with a History of Term or Preterm Birth. Cytometry A. 
		2015 Sep;87(9):817 - 29. doi: 10.1002/cyto.a.22720. <a href='http://www.ncbi.nlm.nih.gov/pubmed/?term=26190063' title="PubMed - 26190063" target="new">[PubMed]</a></td>
	</tr>
		
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td>
	<tr><td>&nbsp;</td><td>
	<table border="1">
		<tr><td>Assay Type</td><td>Number of Exp. Samples</td></tr>
		<tr><td>CyTOF</td><td>95</td></tr>
	</table>
	<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>Dermatological, gastrointestinal, hepatic, cardiovascular, etc.</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>New Study with parsed assessments</td>
		</tr>			
	</table>
		
<hr>

<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>Immune Tolerance Network</td>
	</tr>
    <tr><td width="15%"><strong>Title:</strong></td>
   		<td>AbATE ITN027AI:  Autoimmunity - blocking Antibody for Tolerance in Recently Diagnosed Type 1 Diabetes</td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td> SDY524</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td> 83</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>Kevan Herold MD, Yale University</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>Anti - CD3 monoclonal antibody (a.k.a. hOKT3gamma1 [Ala-Ala], teplizumab, MGA031) is a humanized antibody that is commonly used to prevent organ rejection. The purpose of this study is to determine whether anti-CD3 mAb treatment can halt the progression of newly diagnosed type 1 diabetes</td>
	</tr>
	<tr><td width="15%"><strong><b>Publication(s):</b></strong></td><td>&nbsp;</td></tr>
	<tr><td width="15%">&nbsp;</td><td>Teplizumab (anti-CD3 mAb) treatment preserves C-peptide responses in patients with new-onset type 1 diabetes in a randomized controlled trial:metabolic and immunologic features at baseline identify a subgroup of responders. 2013. Diabetes. 2013 Nov;62(11):3766 - 74. doi: 10.2337/db1-0345  <i>Nature.</i> 2011 Feb 24;470(7335):543-7. doi: 10.1038/nature09737. <a href='http://www.ncbi.nlm.nih.gov/pubmed/?term=23835333' title="PubMed - 23835333" target="new">[PubMed]</a></td>
	</tr>
		
	<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>Insulin Usage</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>Parsed data for adverse events and lab tests</td>
		</tr>			
	</table>
		
<hr>
<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>Immune Tolerance Network</td>
	</tr>
    <tr><td width="15%"><strong>Title:</strong></td>
   		<td>GPAC ITN025AD: Promoting Tolerance to Common Allergens in High-Risk Children: Global Prevention of Asthmas in Children</td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td> SDY545</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td> 51</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>Patrick Holt MD, Telethon Institute for Child Health Research</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>The purpose of this study is to determine whether early childhood exposure to common allergens (substances that can trigger allergies and asthma) can prevent the development of asthma in children at high risk for developing the disease.</td>
	<tr><td width="15%"><strong><b>Publication(s):</b></strong></td><td>&nbsp;</td></tr>
	<tr><td width="15%">&nbsp;</td>Prophylactic use of sublingual allergen immunotherapy in high-risk children: a pilot study.  Journal of Allergy and Clinical Immunology. 2013 Oct;132(4):991-3.e1. doi:10.1016/j.jaci.2013.04.049<td> <a href='http://www.ncbi.nlm.nih.gov/pubmed/?term=23768574' title="PubMed - 23768574" target="new">[PubMed]</a></td>
	</tr>
	<tr><td width="15%"><b>ClinicalTrials.gov ID:<u><a href='https://www.clinicaltrials.gov/ct2/show/study/NCT00346398' target="new">NCT00346398</u></b></a></td></tr>
	</tr>
	<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>environmental and OMIP questionnaire, baseline food allergen test, asthma</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>New study with parsed adverse events, concomitant medications and clinical lab tests (CBC with differential, comprehensive metabolic panel)</td>
		</tr>			
	</table>

<hr>

	<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>Immunobiology of Aging</td>
	</tr>
	<tr><td width="15%"><strong>Title:</strong></td>
		<td>Immunobiology of Aging</td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td> SDY420</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td> 744</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>Charles Fathman MD, Stanford University, Stanford, CA</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>A comprehensive database of immune phenotyping and functional profiling of healthy adults can serve as a 
		universal control (denominator) for studies on diseases (numerator) while accounting for age, gender and chronic infection</td>
	<tr><td width="15%"><strong><b>Publication(s):</b></strong></td><td>&nbsp;</td></tr>
	<tr><td width="15%">&nbsp;</td><td>Large-Scale and Comprehensive Immune Profiling and Functional Analysis of Normal Human Aging.  <i>PLoS One.</i> 2015 Jul 21;10(7):e0133627. doi: 10.1371/journal.pone.0133627. eCollection 2015 <a href='http://www.ncbi.nlm.nih.gov/pubmed/?term=26197454' title="PubMed - 26197454" target="new">[PubMed]</a></td>
	</tr>
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td>
	<tr><td>&nbsp;</td><td>
		<table border="1">
		<tr><td>Assay Type</td><td>Number of Exp. Samples</td></tr>
		<tr><td>FCM</td><td>1130</td></tr>
		<tr><td>Luminex xMap</td><td>1140</td></tr>
		</table>
		<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>None</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>New Study</td>
		</tr>			
	</table>	
<hr>
	<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>Autoimmunity Centers of Excellence</td>
	</tr>
    <tr><td width="15%"><strong>Title:</strong></td>
		<td>Treatment of MS with Copaxone and Albuterol</td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td> SDY471</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td> 44</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>Samia Khoury MD, Brigham and Women's Hospital, Harvard Medical School</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>MS is a chronic inflammatory disease of the central nervous system characterized by focal T cell and macrophage infiltrates that lead to demyelination and loss of neurologic function. 
		Four therapies are currently approved for the treatment of MS. Three of these are approved for the treatment of patients with the relapsing-remitting (RR) form of MS, in which patients have 
		clinical exacerbations followed by partial or complete recovery of function. These treatments are only modestly effective and are associated with significant toxicity, often causing patients to 
		delay therapy for significant lengths of time. Thus, there is a need to find therapies with low toxicities that can be administered early during the disease course with the potential for arresting the disease.</td>
	<tr><td width="15%"><strong><b>Publication(s):</b></strong></td><td>&nbsp;</td></tr>
	<tr><td width="15%">&nbsp;</td><td>A randomized controlled double-masked trial of albuterol add-on therapy in patients with multiple sclerosis.  <i>Arch Neurol.</i> 2010 Sep;67(9):1055-61. doi: 10.1001/archneurol.2010.222.  <a href='http://www.ncbi.nlm.nih.gov/pubmed/?term=20837847' title="PubMed - 20837847" target="new">[PubMed]</a></td>
	</tr>
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td>
	<tr><td>&nbsp;</td><td>
		<table border="1">
		<tr><td>Assay Type</td><td>Number of Exp. Samples</td></tr>
		<tr><td>ELISA</td><td>2055</td></tr>
		</table>
		<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>Laboratory tests, adverse events, concomitant medications, neurological assessments</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>New Study</td>
		</tr>			
	</table>	
<hr>
<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>Autoimmunity Centers of Excellence</td>
	</tr>
    <tr><td width="15%"><strong>Title:</strong></td>
		<td>Lovastatin Therapy in Rheumatoid Arthritis</td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td> SDY473</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td> 64</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>Cynthia Aranow MD, North Shore-Long Island Jewish Health System</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>This is a double-blind, placebo-controlled, randomized trial determining whether treatment with a statin reduces the serum CRP in subjects with mildly active RA. 
		After obtaining informed consent, subjects will complete a screening visit (visit 0) to determine whether inclusion and exclusion entry criteria are fulfilled. 
		Eligible subjects will return within 7 days for visit 1 to receive study medication (lovastatin 80 mg/day vs. placebo). Under certain circumstances, the dose may be adjusted. 
		Subjects will return for evaluation every 4 weeks for the duration of this 12-week study. In addition, subjects will have a blood sample drawn at Day 14 to assess CPK and transaminase levels for safety monitoring. </td>
	<tr><td width="15%"><strong><b>Publication(s):</b></strong></td><td>None</td></tr>

	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td>
	<tr><td>&nbsp;</td><td>
		<table border="1">
		<tr><td>Assay Type</td><td>Number of Exp. Samples</td></tr>
		<tr><td>ELISA</td><td>369</td></tr>
		</table>
		<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>Laboratory tests, adverse events, concomitant medications</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>New Study</td>
		</tr>			
	</table>
	<hr>
	<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>Autoimmunity Centers of Excellence</td>
	</tr>
    <tr><td width="15%"><strong>Title:</strong></td>
		<td>Vitamin D3 in Systemic Lupus Erythematosus</td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td> SDY474</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td> 57</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>Cynthia Aranow MD, North Shore-Long Island Jewish Health System </td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>This is a double-blind, multi-center, placebo controlled, Phase II study designed to assess biologic 
		effects of 12 weeks of vitamin D3 supplementation on patients with well-controlled stable systemic lupus erythematosus 
		who have low serum levels of 25-OH vitamin D and an IFN alpha signature.</td>
	<tr><td width="15%"><strong><b>Publication(s):</b></strong></td><td>&nbsp;</td></tr>
	<tr><td width="15%">&nbsp;</td><td>Double-Blind, Placebo-Controlled Trial of the Effect of Vitamin D3 on the Interferon Signature in Patients With Systemic Lupus Erythematosus.  <i>Arthritis Rheumatol.</i> 2015 Jul; 67: 1848–1857. doi: 10.1002/art.39108  <a href='http://www.ncbi.nlm.nih.gov/pubmed/?term=25777546' title="PubMed - 25777546" target="new">[PubMed]</a></td>
	</tr>
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td>
	<tr><td>&nbsp;</td><td>
		<table border="1">
		<tr><td>Assay Type</td><td>Number of Exp. Samples</td></tr>
		<tr><td>Q-PCR</td><td>162</td></tr>
		</table>
		<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>Laboratory tests, adverse events, concomitant medications, neurological assessments</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>New Study</td>
		</tr>			
	</table>	
<hr>
<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>New York Influenza Center of Excellence</td>
	</tr>
    <tr><td width="15%"><strong>Title:</strong></td>
		<td>Effect of Influenza A (H5N1) Vaccine Prepandemic Priming on CD4+ T-Cell Responses</td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td> SDY644</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td> 94</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>Jennifer Nayak MD, University of Rochester, Rochester, NY </td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>Previous priming with avian influenza vaccines results in more rapid and more robust neutralizing antibody responses upon revaccination, 
		but the role CD4+ T cells play in this process is not currently known.</td>
	<tr><td width="15%"><strong><b>Publication(s):</b></strong></td><td>&nbsp;</td></tr>
	<tr><td width="15%">&nbsp;</td><td>Effect of influenza A(H5N1) vaccine prepandemic priming on CD4+ T-cell responses.  <i>J.Infect.Dis.</i> 2015 May 1;211(9):1408-17. doi: 10.1093/infdis/jiu616. Epub 2014 Nov 6  <i>Arthritis Rheumatol.</i> 2015 Jul; 67: 1848–1857. doi: 10.1002/art.39108  <a href='http://www.ncbi.nlm.nih.gov/pubmed/?term=25378637' title="PubMed - 25378637" target="new">[PubMed]</a></td>
	</tr>
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td>
	<tr><td>&nbsp;</td><td>
		<table border="1">
		<tr><td>Assay Type</td><td>Number of Exp. Samples</td></tr>
		<tr><td>ELISPOT</td><td>651</td></tr>
		<tr><td>Virus Neutralization</td><td>373</td></tr>
		</table>
		<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>None</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>New Study</td>
		</tr>			
	</table>	
<hr>
<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>Immunological basis of age-related vulnerability in Biodefense and emerging infections</td>
	</tr>
    <tr><td width="15%"><strong>Title:</strong></td>
		<td>Repeated <i>in vivo</i> stimulation of T and B cell responses in old mice generates protective immunity against lethal West Nile Virus encephalitis</td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td> SDY646</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td> 8</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>Janko Nikolich PhD, University of Arizona, Tucson, AZ</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>This study characterizes T and B cell responses in old mice after vaccination with RepliVAX WN, a novel West Nile encephalitis vaccine based on single-cycle flavivirus particles.</td>
	<tr><td width="15%"><strong><b>Publication(s):</b></strong></td><td>&nbsp;</td></tr>
	<tr><td width="15%">&nbsp;</td><td>Repeated <i>in vivo</i> stimulation of T and B cell responses in old mice generates protective immunity against lethal West Nile virus encephalitis.  <i>J.Immunol.</i> 2011 Apr 1;186(7):3882-91. doi: 10.4049/jimmunol.1002799. Epub 2011 Feb 21.  <a href='http://www.ncbi.nlm.nih.gov/pubmed/?term=21339368' title="PubMed - 21339368" target="new">[PubMed]</a></td>
	</tr>
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td>
	<td>custom file format - PRIZM</td></tr>
	<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>None</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>New Study.  Study contains data in Prizm file format corresponding to publication figures.</td>
		</tr>			
	</table>	
<hr>
<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>Immunological basis of age-related vulnerability in Biodefense and emerging infections</td>
	</tr>
    <tr><td width="15%"><strong>Title:</strong></td>
		<td>Age-associated alterations in CD8 alpha+ dendritic cells impair CD8</td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td> SDY647</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td> 6</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>Janko Nikolich PhD, University of Arizona, Tucson, AZ</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>Age-associated decline in immunity to infection has been documented</td>
	<tr><td width="15%"><strong><b>Publication(s):</b></strong></td><td>&nbsp;</td></tr>
	<tr><td width="15%">&nbsp;</td><td>Age-associated alterations in CD8 alpha + dendritic cells impair CD8 T-cell expansion in response to an intracellular bacterium.  <i>Aging Cell.</i> 2012 Dec;11(6):968-77. doi: 10.1111/j.1474-9726.2012.00867.x. Epub 2012 Aug 30. <a href='http://www.ncbi.nlm.nih.gov/pubmed/?term=22862959' title="PubMed - 22862959" target="new">[PubMed]</a></td>
	</tr>
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td>
	<td>custom file format - PRIZM</td></tr>
	<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>None</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>New Study.  Study contains data in Prizm file format corresponding to publication figures.</td>
		</tr>			
	</table>	
<hr>
<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>Immunological basis of age-related vulnerability in Biodefense and emerging infections</td>
	</tr>
    <tr><td width="15%"><strong>Title:</strong></td>
		<td>Two separate defects affecting true naïve or virtual memory T cell precursors combine to reduce naïve T cell responses with aging.</td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td> SDY649</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td> 5</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>Janko Nikolich PhD, University of Arizona, Tucson, AZ</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>Unimmunized TCR transgenic (TCRTg) mice undergo massive VM conversion with age, exhibiting rapid effector function upon both TCR and cytokine triggering<td>
	<tr><td width="15%"><strong><b>Publication(s):</b></strong></td><td>&nbsp;</td></tr>
	<tr><td width="15%">&nbsp;</td><td>Two separate defects affecting true naïve or virtual memory T cell precursors combine to reduce naïve T cell responses with aging.  <i>J.Immunol.</i> 2014 Jan 1;192(1):151-9. doi: 10.4049/jimmunol.1301453. Epub 2013 Nov 29.Epub 2012 Aug 30.  <a href='http://www.ncbi.nlm.nih.gov/pubmed/?term=24293630' title="PubMed - 24293630" target="new">[PubMed]</a></td>
	</tr>
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td>
	<td>custom file format - PRIZM</td></tr>
	<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>None</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>New Study.  Study contains data in Prizm file format corresponding to publication figures.</td>
		</tr>			
	</table>	
<hr>
<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>Immunological basis of age-related vulnerability in Biodefense and emerging infections</td>
	</tr>
    <tr><td width="15%"><strong>Title:</strong></td>
		<td>West Nile virus induces pro-apoptotic miRNA</td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td> SDY651</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td> 0</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>Janko Nikolich PhD, University of Arizona, Tucson, AZ</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>Profiles of cellular miRNA expression in WNV infected cells were analyzed. Expression of one miRNA Hs_154 (miR-6124) was highly induced in infected cells. 
		This miRNA was shown to target several anti-apoptotic proteins (CTCF and ECOP/ VOPP1), potentially modulating WNV-induced apoptosis.<td>
	<tr><td width="15%"><strong><b>Publication(s):</b></strong></td><td>&nbsp;</td></tr>
	<tr><td width="15%">&nbsp;</td><td>Induction of the cellular microRNA, Hs_154, by West Nile virus contributes to virus-mediated apoptosis through repression of anti-apoptotic factors.  <a>J.Virol.</a> 2012 May;86(9):5278-87. doi: 10.1128/JVI.06883-11. Epub 2012 Feb 15.  <a href='http://www.ncbi.nlm.nih.gov/pubmed/?term=22345437' title="PubMed - 22345437" target="new">[PubMed]</a></td>
	</tr>
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td>
	<td>custom file format - PRIZM</td></tr>
	<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>None</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>New Study.  Study contains data in Prizm file format corresponding to publication figures.</td>
		</tr>			
	</table>	
<hr>
<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>Immunological basis of age-related vulnerability in Biodefense and emerging infections</td>
	</tr>
    <tr><td width="15%"><strong>Title:</strong></td>
		<td>Mouse recombination path counting on GPU</td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td> SDY652</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td> 2</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>Janko Nikolich PhD, University of Arizona, Tucson, AZ</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>Test convergent recombination as a predictor of TCR beta production efficiency</td>
	<tr><td width="15%"><strong><b>Publication(s):</b></strong></td><td>&nbsp;</td></tr>
	<tr><td width="15%">&nbsp;</td><td>Overcoming the limitations posed by TCR repertoire modeling through a GPU-based <a>in-silico</a> DNA recombination algorithm.  2014. <a>Institute of Electrical and Electronic Engineers:  International Parallel and Distributed Processing Symposium.</a></td>
	</tr>
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td>
	<tr><td>&nbsp;</td><td>
		<table border="1">
		<tr><td>Assay Type</td><td>Number of Exp. Samples</td></tr>
		<tr><td>Sequencing</td><td>2</td></tr>
		</table>
		<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>None</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>New Study</td>
		</tr>			
	</table>
	<hr>
	<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>Immunological basis of age-related vulnerability in Biodefense and emerging infections</td>
	</tr>
    <tr><td width="15%"><strong>Title:</strong></td>
		<td>Immune memory boosting dose of rapamycin impairs macrophage vesicle acidification and curtails glycolysis in effector CD8 cells, impairing defense against acute infections</td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td> SDY653</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td> 2</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>Janko Nikolich PhD, University of Arizona, Tucson, AZ</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>This study investigated the impact of acute Rapa treatment on immune effector cell function during the primary immune response to several acute infections.</td></tr>
	<tr><td width="15%"><strong><b>Publication(s):</b></strong></td><td>&nbsp;</td></tr>
	<tr><td width="15%">&nbsp;</td><td>Immune memory-boosting dose of rapamycin impairs macrophage vesicle acidification and curtails glycolysis in effector CD8 cells, impairing defense against acute infections.  <i>J.Immunol.</i> 2014 Jul 15;193(2):757-63. doi: 10.4049/jimmunol.1400188. Epub 2014 Jun 9. <a href='http://www.ncbi.nlm.nih.gov/pubmed/?term=24913978' title="PubMed - 24913978" target="new">[PubMed]</a></td>
	</tr>
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td>
	<td>custom file format - PRIZM</td></tr>
	<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>None</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>New Study.  Study contains data in Prizm file format corresponding to publication figures.</td>
		</tr>			
	</table>	
<hr>
<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>Immunological basis of age-related vulnerability in Biodefense and emerging infections</td>
	</tr>
    <tr><td width="15%"><strong>Title:</strong></td>
		<td>Lifespan-extending caloric restriction or mTOR inhibition impair adaptive immunity of old mice by distinct mechanisms</td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td> SDY654</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td> 10</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>Janko Nikolich PhD, University of Arizona, Tucson, AZ</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>This study tested how Rapa and caloric restriction each impacted the immune system in adult and old mice.</td></tr>
	<tr><td width="15%"><strong><b>Publication(s):</b></strong></td><td>&nbsp;</td></tr>
	<tr><td width="15%">&nbsp;</td><td>Lifespan-extending caloric restriction or mTOR inhibition impairs adaptive immunity of old mice by distinct mechanisms.  <i>Aging Cell.</i> 2015 Feb;14(1):130-8. doi: 10.1111/acel.12280. Epub 2014 Nov 26. <a href='http://www.ncbi.nlm.nih.gov/pubmed/?term=25424641' title="PubMed - 25424641" target="new">[PubMed]</a></td>
	</tr>
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td>
	<td>custom file format - PRIZM</td></tr>
	<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>None</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>New Study.  Study contains data in Prizm file format corresponding to publication figures.</td>
		</tr>
	</table>	
<hr>
<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>Immunological basis of age-related vulnerability in Biodefense and emerging infections</td>
	</tr>
    <tr><td width="15%"><strong>Title:</strong></td>
		<td>Histone deacetylation critically determines T cell subset radiosensitivity</td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td> SDY656</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td> 1</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>Janko Nikolich PhD, University of Arizona, Tucson, AZ</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>This study examined the radiosensitivity of naive (TN), effector memory (TEM), and central memory (TCM) T cell subsets in C57BL/6 mice and 
		found TEM to be more resistant to radiation-induced apoptosis than either TN or TCM</td></tr>
	<tr><td width="15%"><strong><b>Publication(s):</b></strong></td><td>&nbsp;</td></tr>
	<tr><td width="15%">&nbsp;</td><td>Histone deacetylation critically determines T cell subset radiosensitivity.  <a>J.Immunol.</a> 2014 Aug 1;193(3):1451-8. doi: 10.4049/jimmunol.1400434. Epub 2014 Jul 2. <a href='http://www.ncbi.nlm.nih.gov/pubmed/?term=24990082' title="PubMed - 24990082" target="new">[PubMed]</a></td>
	</tr>
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td>
	<td>custom file format - PRIZM</td></tr>
	<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>None</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>New Study.  Study contains data in Prizm file format corresponding to publication figures.</td>
		</tr>			
	</table>	
<hr>
<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>Immunological basis of age-related vulnerability in Biodefense and emerging infections</td>
	</tr>
    <tr><td width="15%"><strong>Title:</strong></td>
		<td>Contrasting effects of chronic, systemic treatment with mTOR inhibitors rapamycin and metformin on adult neural progenitors in mice</td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td> SDY659</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td> 3</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>Janko Nikolich PhD, University of Arizona, Tucson, AZ</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>This study evaluates the effects of chronic and systemic administration of the two mTOR inhibitors, rapamycin and metformin, on adult neural stem cells of the subventricular 
		region and the dendate gyrus of the mouse hippocampus</td></tr>
	<tr><td width="15%"><strong><b>Publication(s):</b></strong></td><td>&nbsp;</td></tr>
	<tr><td width="15%">&nbsp;</td><td>Contrasting effects of chronic, systemic treatment with mTOR inhibitors rapamycin and metformin on adult neural progenitors in mice.  <i>PLoS One.</i> 2014 Feb;36(1):199-212. doi: 10.1007/s11357-013-9572-5. Epub 2013 Aug 16. <a href='http://www.ncbi.nlm.nih.gov/pubmed/?term=23949159' title="PubMed - 23949159" target="new">[PubMed]</a></td>
	</tr>
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td>
	<td>None</td></tr>
	<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>None</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>New Study.</td>
		</tr>			
	</table>	
<hr>
<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>Immunological basis of age-related vulnerability in Biodefense and emerging infections</td>
	</tr>
    <tr><td width="15%"><strong>Title:</strong></td>
		<td>Self-recognition drives the preferential accumulation of promiscuous CD4+ T-cells in aged mice</td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td> SDY663</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td> 6</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>Janko Nikolich PhD, University of Arizona, Tucson, AZ</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>This study looks at how the ability of the CD4+ T-cell compartment to bind self- and foreign-pMHC changes over the lifespan</td></tr>
	<tr><td width="15%"><strong><b>Publication(s):</b></strong></td><td>&nbsp;</td></tr>
	<tr><td width="15%">&nbsp;</td><td>Self-recognition drives the preferential accumulation of promiscuous CD4+ T-cells in aged mice. <i>Elife.</i> 2015 Jul 14;4. doi: 10.7554/eLife.05949. <a href='http://www.ncbi.nlm.nih.gov/pubmed/?term=26173205' title="PubMed - 26173205" target="new">[PubMed]</a></td>
	</tr>
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td>
	<td>custom file format - PRIZM</td></tr>
	<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>None</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>New Study. Study contains data in Prizm file format corresponding to publication figures.</td>
		</tr>			
	</table>	

</table>