<h2>BISC/ImmPort Data Release 3 Studies</h2>

<h5>August 2013</h5>

<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>Influenza Pathogenesis & Immunology Research Center (IPIRC)</td>
	</tr>
    <tr><td width="15%"><strong>Title:</strong></td>
    	<td>Serological Memory and Long-term Protection to Novel H1N1 Influenza Virus after Skin Vaccination</td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td>SDY208</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td> 7</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>Joshy Jacob, Emory Vaccine Center, Emory University, Atlanta, GA</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>Skin vaccination in BALB/c mice with a single dose of 5 ug inactivated A/California/04/09 virus via coated metal microneedles (MN) applied to skin or via subcutaneous injection</td>
	</tr>
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td></tr>
		<tr><td>&nbsp;</td><td>
		<table border="1">
		<tr><td>Assay Type</td><td>Number of Exp. Samples</td></tr>
		<tr><td>HAI</td><td>4</td></tr>
		<tr><td>ELISA</td><td>61</td></tr>
		<tr><td>ELISA</td><td>13</td></tr>
		<tr><td>ELISPOT</td><td>9</td></tr>
		</table>
	</td></tr>
		<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>None</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>New Study</td>
		</tr>			
	</table>
	
	
<hr>	
<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>Vaccination and Infection:  Indicators of Immunologic Health and Responsiveness</td>
	</tr>
    <tr><td width="15%"><strong>Title:</strong></td>
    	<td>Apoptosis and other immune biomarkers predict influenza vaccine responsiveness</td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td>SDY212</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td>91</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>Mark M. Davis, Stanford University School of Medicine, Stanford, CA</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>In an effort to identify benchmarks of immunological health, influenza vaccination was used in 30 young (20 to 30 years) and 59 older subjects (60 to 89 years) as models for strong and weak immune responses, respectively.</td>
	</tr>
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td></tr>
		<tr><td>&nbsp;</td><td>
		<table border="1">
		<tr><td>Assay Type</td><td>Number of Exp. Samples</td></tr>
		<tr><td>HAI</td><td>267</td></tr>
		<tr><td>DNA Microarray</td><td>91</td></tr>
		<tr><td>Peptide Microarray</td><td>91</td></tr>
		<tr><td>PhosphoFlow</td><td>63</td></tr>
		<tr><td>Flow Cytometry</td><td>540</td></tr>
		<tr><td>MBAA, Luminex</td><td>91</td></tr>
		</table>
	</td></tr>
		<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>None</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>New Study</td>
		</tr>			
	</table>	
	

	
<hr>
<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>Vaccination and Infection:  Indicators of Immunologic Health and Responsiveness</td>
	</tr>
    <tr><td width="15%"><strong>Title:</strong></td>
    	<td>Vaccination of CD95-/- mice and ELISA for detection of influenza-specific antibodies</td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td>SDY215</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td>17</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>Mark M. Davis, Stanford University School of Medicine, Stanford, CA</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>Evaluation of influenza vaccination immune response in mice
	</td>
	</tr>
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td></tr>
		<tr><td>&nbsp;</td><td>
		<table border="1">
		<tr><td>Assay Type</td><td>Number of Exp. Samples</td></tr>
		<tr><td>ELISA</td><td>101</td></tr>
		</table>
	</td></tr>
		<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>None</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>New Study</td>
		</tr>			
	</table>
	
	<hr>
<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>New York Influenza Center of Excellence</td>
	</tr>
    <tr><td width="15%"><strong>Title:</strong></td>
    	<td>Antigenic and immunogenic properties of recombinant hemagglutinin proteins when produced in various protein expression systems</td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td>SDY78</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td>178</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>David J. Topham, New York Influenza Center of Excellence, Rochester, NY</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>Binding of anti-HA specific antibodies, elicited by vaccination or viral infection, to various recombinant forms of the HA from A/Brisbane/59/07 and B/Florida/04/06
	</td>
	</tr>
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td></tr>
		<tr><td>&nbsp;</td><td>
		<table border="1">
		<tr><td>Assay Type</td><td>Number of Exp. Samples</td></tr>
		<tr><td>ELISPOT</td><td>52</td></tr>
		<tr><td>ELISA</td><td>115</td></tr>
		<tr><td>HAI</td><td>64</td></tr>
		<tr><td>HAI</td><td>90</td></tr>
		<tr><td>ELISPOT</td><td>8</td></tr>
		<tr><td>ELISA</td><td>96</td></tr>
		<tr><td>ELISA</td><td>44</td></tr>
		</table>
	</td></tr>
		<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>None</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>New Study</td>
		</tr>			
	</table>
	
	<hr>
<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>New York Influenza Center of Excellence</td>
	</tr>
    <tr><td width="15%"><strong>Title:</strong></td>
    	<td>CD4 T cell response to pH1N1 vaccination</td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td>SDY97</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td>49</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>Andrea Sant, University of Rochester Medical Center, Rochester, NY</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>Healthy adult human subjects were given monovalent inactivated pH1N1 vaccine and antibody responses were assessed using HAI and MN assays. CD4 T cell reactivity was examined using IFN gamma Elispot assays to look at reactivity to unique and conserved peptide pools.
	</td>
	</tr>
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td></tr>
		<tr><td>&nbsp;</td><td>
		<table border="1">
		<tr><td>Assay Type</td><td>Number of Exp. Samples</td></tr>
		<tr><td>ELISPOT</td><td>950</td></tr>
		<tr><td>HAI</td><td>194</td></tr>
		<tr><td>Virus Neutralization</td><td>194</td></tr>
		</table>
	</td></tr>
		<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>None</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>New Study</td>
		</tr>			
	</table>
	
	
	<hr>
<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>Immunobiology of Food Allergy and its Treatment (CoFAR)</td>
	</tr>
    <tr><td width="15%"><strong>Title:</strong></td>
    	<td>Oral Immunotherapy for Childhood Egg Allergy</td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td>SDY218</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td>55</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>Wesley Burks, Duke University Medical Center, Durham, NC</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>The purpose of this study is to determine the safety and efficacy of the administration of oral immunotherapy (OIT). The intent is to develop desensitization and eventually tolerance to egg allergen.</td>
	</tr>
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td><td>None</td></tr>
	<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>Adverse Events,  Atopic Dermatitis, Basophil, Medication, Protocol Deviation, Study Encounter, Initial Escalation, Food Allergy Episode, Antibody Assay, Baseline Medical History, Prick Skin Results, Visit Form, Study Product Tracking</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>New Study</td>
		</tr>			
	</table>
	
	<hr>
<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>Influenza Pathogenesis &amp; Immunology Research Center (IPIRC)</td>
	</tr>
    <tr><td width="15%"><strong>Title:</strong></td>
    	<td>Systems Biology of Seasonal Influenza Vaccination in Humans</td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td>SDY61</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td>113</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>Bali Pulendran, Emory Vaccine Center, Atlanta, GA</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>Using a systems biology approach to study innate and adaptive responses to influenza vaccination in humans during 3 consecutive influenza seasons</td>
	</tr>
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td></tr>
		<tr><td>&nbsp;</td><td>
		<table border="1">
		<tr><td>Assay Type</td><td>Number of Exp. Samples</td></tr>
		<tr><td>HAI</td><td>390</td></tr>
		<tr><td>ELISPOT</td><td>336</td></tr>
		<tr><td>FCM</td><td>63</td></tr>
		<tr><td>MBAA</td><td>168</td></tr>
		<tr><td>Array</td><td>290</td></tr>
		<tr><td>Q-PCR</td><td>196</td></tr>
		<tr><td>ELISA</td><td>100</td></tr>
		<tr><td>Immunoblot</td><td>10</td></tr>
		<tr><td>Immunoblot</td><td>16</td></tr>
		</table>
	</td></tr>
	<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>None</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>update of subject to ARM mapping</td>
		</tr>			
	</table>
	
	<hr>
<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>Influenza Pathogenesis &amp; Immunology Research Center (IPIRC)</td>
	</tr>
    <tr><td width="15%"><strong>Title:</strong></td>
    	<td>Immunologic and genomic signatures of response to Hepatitis C Virus Infection</td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td>SDY162</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td>20</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>David Hafler, Yale University, New Haven, CT</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>Examine the immune response in primary immune cells from subjects who have spontaneously cleared HCV compared to HCV chronically infected subjects </td>
	</tr>
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td></tr>
		<tr><td>&nbsp;</td><td>
		<table border="1">
		<tr><td>Assay Type</td><td>Number of Exp. Samples</td></tr>
		<tr><td>Array</td><td>80</td></tr>
		</table>
	</td></tr>
	<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>None</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>Updated treatment information for HCV microarray data</td>
		</tr>			
	</table>
	
	
<hr>
<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>Population Genetics Analysis Programs:  Immunity to Vaccines/Infections</td>
	</tr>
    <tr><td width="15%"><strong>Title:</strong></td>
    	<td>Genetic Associations in subjects of anthrax trial [Anthrax Vaccine Adsorbed: Human Reactogenicity and Immunogenicity Trial to Address Change in Route of Administration and Dose Reduction (AVA000)</td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td>SDY24</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td>1563</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>Richard Kaslow, University of Alabama, Birmingham, AL</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>Innate immunity gene products are known to be the first-line of host-defense and to control and assist the adaptive immune system. This research represents the opportunity to study, in detail, the responses longitudinally to vaccination (using clinical examination and laboratory assays) in a large ethnic population. Consequently, a prioritized set of genes and gene products from both systems will be evaluated</td>
	</tr>
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td></tr>
		<tr><td>&nbsp;</td><td>
		<table border="1">
		<tr><td>Assay Type</td><td>Number of Exp. Samples</td></tr>
		<tr><td>ELISA</td><td>35092</td></tr>
		<tr><td>HLA typing</td><td>949</td></tr>
		<tr><td>Array</td><td>1</td></tr>
		<tr><td>Sequencing</td><td>2</td></tr>
		</table>
	</td></tr>
	<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>None</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>Added ELISA experiment to view</td>
		</tr>			
	</table>
	
	<hr>
<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>Population Genetics Analysis Program:  Immunity to Vaccines/Infection</td>
	</tr>
    <tr><td width="15%"><strong>Title:</strong></td>
    	<td>Genotyping and gene functions in healthy volunteers</td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td>SDY25</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td>1426</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>Richard Kaslow, University of Alabama, Birmingham, AL</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>Functionally important genetic variants (certain naturally occurring SNPs) in a set of candidate genes that are known to be relevant for immune response to protein antigens, are expected to be associated with AbPA response and B-cell physiology.</td>
	</tr>
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td><td>None</td></tr>
	<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>Serum cytokine/chemokine quantification, serum immunoglobulin</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>Updates to subject-to-arm mapping</td>
		</tr>			
	</table>
	
	<hr>
<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>Population Genetics Analysis Programs:  Immunity to Vaccines/Infections</td>
	</tr>
    <tr><td width="15%"><strong>Title:</strong></td>
    	<td>Humoral and Cell-Mediated Immune Responses to Vaccinia Virus Immunization</td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td>SDY28</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td>1092</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>Gregory Poland, Mayo Clinic, Rochester, MN</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>Our broad objective is to examine the role of candidate human immune response gene polymorphisms (and their receptors, expression and function) in inter-individual variability in vaccinia vaccine-induced humoral and cell-mediated immune responses among a cohort of 1,000 vaccinated subjects.</td>
	</tr>
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td></tr>
		<tr><td>&nbsp;</td><td>
		<table border="1">
		<tr><td>Assay Type</td><td>Number of Exp. Samples</td></tr>
		<tr><td>ELISPOT</td><td>13819</td></tr>
		<tr><td>ELISPOT</td><td>13420</td></tr>
		<tr><td>HLA Typing</td><td>1071</td></tr>
		<tr><td>Genotyping</td><td>1</td></tr>
		<tr><td>ELISA</td><td>4317</td></tr>
		<tr><td>ELISA</td><td>66791</td></tr>
		<tr><td>Array</td><td>426</td></tr>
		<tr><td>Genotyping</td><td>341</td></tr>
		<tr><td>Genotyping</td><td>339</td></tr>
		<tr><td>Flow Cytometry</td><td>806</td></tr>
		</table>
	</td></tr>
	<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>None</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>Shared two additional experiments--genotyping</td>
		</tr>			
	</table>	
	
	
	<hr>
<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>New York Influenza Center of Excellence</td>
	</tr>
    <tr><td width="15%"><strong>Title:</strong></td>
    	<td>Vaccination with drifted variants of H5 hemagglutinin protein elicits a broadened antibody response</td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td>SDY62</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td>86</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>Felix Santiago, University of Rochester Medical Center, Rochester, NY</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>Assess the humoral response of mice immunized with drifted variant H5 hemagglutinin proteins</td>
	</tr>
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td></tr>
	<tr><td>&nbsp;</td><td>
		<table border="1">
		<tr><td>Assay Type</td><td>Number of Exp. Samples</td></tr>
		<tr><td>Virus Neutralization</td><td>66</td></tr>
		<tr><td>ELISA</td><td>108</td></tr>
		</table>
	</td></tr>
	<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>None</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>Added competitive ELISA to view, added schematic placeholder</td>
		</tr>			
	</table>	
	
	
	<hr>
<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>NIAID Vaccine Research Center (VRC)</td>
	</tr>
    <tr><td width="15%"><strong>Title:</strong></td>
    	<td>A Phase I Study of the Safety and Immunogenicity of a Recombinant DNA Plasmid Vaccine (VRC-AVIDNA036-00-VP) Encoding for the Influenza Virus H5 Hemagglutinin Protein in Healthy Adults</td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td>SDY167</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td>45</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>Julie Ledgerwood, NIAID, Vaccine Research Center, Bethesda, MD</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>VRC304 - A Phase I, double-blind, placebo-controlled, randomized, dose escalation study to evaluate safety, tolerability, and immunogenicity of a recombinant DNA vaccine against the influenza virus hemagglutinin H5.</td>
	</tr>
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td></tr>
	<tr><td>&nbsp;</td><td>
		<table border="1">
		<tr><td>Assay Type</td><td>Number of Exp. Samples</td></tr>
		<tr><td>ELISA</td><td>430</td></tr>
		<tr><td>HAI</td><td>44</td></tr>
		<tr><td>ELISPOT</td><td>300</td></tr>
		<tr><td>Virus Neutralization</td><td>88</td></tr>
		</table>
	</td></tr>
	<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>Actual Visit, Adverse Event, Chemistry, Hematology, Report Early Termination</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>Updated to add FCS files</td>
		</tr>			
	</table>			
	
		