<h2>BISC/ImmPort Data Release 2 Studies</h2>

<h5>June 2013</h5>

<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>Innate Immune Responsiveness in the Elderly and the Immunocompromised</td>
	</tr>
    <tr><td width="15%"><strong>Title:</strong></td>
    	<td>Delineate innate immune responses in populations at risk (the elderly and the immunosuppressed) that are different from the general population</td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td>SDY40</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td>884</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>Erol Fikrig</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>Assess the efficiency of the immune response of monocytes and dendritic cells in different populations (young adult and elderly) in response to stimulation with specific TLR ligands. Focus separately on TLRs 3, 7, 8, 9, that recognize viral targets, TLRs 1, 2, 4, 6 (bacterial targets), and the effects of aging on MIF.  Quantify TLR expression as well as efficiency of signaling pathways triggered by TLR engagement to identify mechanisms that contribute to the impairments of innate immunity associated with aging and immunosuppression.  And assess the functional and genetic polymorphisms of MIF in the innate response to TLR stimulation. </td>
	</tr>
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td>
	<tr><td>&nbsp;</td><td>
		<table border="1">
		<tr><td>Assay Type</td><td>Number of Exp. Samples</td></tr>
		<tr><td>ELISA/IL8</td><td>3624</td></tr>
		<tr><td>ELISA/TNFalpha</td><td>3630</td></tr>
		<tr><td>ELISA</td><td>2833</td></tr>
		<tr><td>ELISA/WNV/DC</td><td>154</td></tr>
		<tr><td>FCM</td><td>1626</td></tr>
		<tr><td>FCM/DC TLR</td><td>184</td></tr>
		<tr><td>FCM/DC cytokine</td><td>816</td></tr>
		<tr><td>qPCR/WNV</td><td>228</td></tr>
		<tr><td>qPCR/WNV cytokine</td><td>342</td></tr>
		<tr><td>qPCR/DC TLR</td><td>520</td></tr>
		<tr><td>qPCR/monocytes</td><td>288</td></tr>
		<tr><td>qPCR/WNV TLR</td><td>456</td></tr>
		<tr><td>Western Blot</td><td>336</td></tr>
		<tr><td>Genotyping/other</td><td>515</td></tr>
		<tr><td>Genotyping/PCR</td><td>517</td></tr>
		</table>
	</td></tr>
		<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>None</td>
		</tr>
	</table>

<hr>	
<table>
	<tr><td><strong width="15%">Study Program:  </strong></td>
		<td>Innate Immune Responsiveness in the Elderly and the Immunocompromised</td>
	</tr>
    <tr><td width="15%"><strong>Title:</strong></td>
    	<td>Determine whether differences in TLR-responsiveness alter susceptibility to Biodefense priority pathogens, using WN virus as a paradigm, or responsiveness to vaccination</td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td>SDY41</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td>903</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>Erol Fikrig</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>To assess the effects of the impairments in innate immunity identified in the study titled Delineate innate immune responses in populations at risk (the elderly and the immunosuppressed) that are different from the general populationon the efficiency of the response to agents of Bioterrorism, using WN virus infection and influenza vaccination as models.  Assess these responses directly from patients who had WN virus infection or the influenza vaccine.  Elucidate mechanisms mediating innate immune responses to viral infection using murine models.</td>
	</tr>
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td></tr>
	<tr><td>&nbsp;</td><td>
		<table border="1">
		<tr><td>Assay Type</td><td>Number of Exp. Samples</td></tr>
		<tr><td>ELISA/IL8</td><td>3624</td></tr>
		<tr><td>ELISA/TNFalpha</td><td>3630</td></tr>
		<tr><td>ELISA/</td><td>2833</td></tr>
		<tr><td>ELISA/WNV/DC</td><td>154</td></tr>
		<tr><td>FCM</td><td>1626</td></tr>
		<tr><td>FCM/DC TLR</td><td>184</td></tr>
		<tr><td>FCM/DC cytokine</td><td>816</td></tr>
		<tr><td>qPCR/WNV</td><td>228</td></tr>
		<tr><td>qPCR/WNV cytokine</td><td>342</td></tr>
		<tr><td>qPCR/DC TLR</td><td>520</td></tr>
		<tr><td>qPCR/monocytes</td><td>288</td></tr>
		<tr><td>qPCR/WNV TLR</td><td>456</td></tr>
		<tr><td>Western Blot</td><td>336</td></tr>
		<tr><td>Genotyping/other</td><td>515</td></tr>
		<tr><td>Genotyping/PCR</td><td>517</td></tr>
		</table>
	</td></tr>
		<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>None</td>
		</tr>
	</table>
	
	<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>&nbsp;</td>
	</tr>
    <tr><td width="15%"><strong>Title:</strong></td>
    	<td>Systems Biology of Seasonal Influenza Vaccination in Humans</td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td>SDY61</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td>110</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>Bali Pulendran</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>Using a systems biology approach to study innate and adaptive responses to influenza vacciniation in humans during 3 consecutive influenza seasons.</td>
	</tr>
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td></tr>
	<tr><td>&nbsp;</td><td>
		<table border="1">
		<tr><td>Assay Type</td><td>Number of Exp. Samples</td></tr>
		<tr><td>EMBAA/Luminex</td><td>168</td></tr>
		<tr><td>Genome expression/array</td><td>290</td></tr>
		<tr><td>qRT-PCR</td><td>196</td></tr>
		<tr><td>ELISA</td><td>100</td></tr>
		<tr><td>Western Blot</td><td>10</td></tr>
		<tr><td>Western Blot</td><td>16</td></tr>
		<tr><td>Neutralizing Antibody Titer</td><td>390</td></tr>
		<tr><td>ELISPOT</td><td>336</td></tr>
		<tr><td>FCM</td><td>63</td></tr>
		<tr><td>qPCR/DC TLR</td><td>520</td></tr>
		<tr><td>qPCR/monocytes</td><td>288</td></tr>
		<tr><td>qPCR/WNV TLR</td><td>456</td></tr>
		<tr><td>Western Blot</td><td>336</td></tr>
		<tr><td>Genotyping/other</td><td>515</td></tr>
		<tr><td>Genotyping/PCR</td><td>517</td></tr>
		</table>
	</td></tr>
		<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>None</td>
		</tr>
	</table>
	
	<hr>
	<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>New York Influenza Center of Excellence</td>
	</tr>
    <tr><td width="15%"><strong>Title:</strong></td>
    	<td>Vaccination with drifted variants of H5 hemagglutinin protein elicits a broadened antibody response</td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td>SDY62</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td>86</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>Felix Santiago</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>Assess the humoral response of mice immunized with drifted variant H5 hemagglutinin proteins </td>
	</tr>
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td></tr>
	<tr><td>&nbsp;</td><td>
		<table border="1">
		<tr><td>Neutralizing Antibody Titer</td><td>66</td></tr>
		<tr><td>ELISA/competitive</td><td>108</td></tr>
		</table>
	</td></tr>
		<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>None</td>
		</tr>
	</table>

<hr>
<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>Influenza Pathogenesis and Immunology Research Center (IPIRC)</td>
	</tr>
    <tr><td width="15%"><strong>Title:</strong></td>
    	<td>Aerosol vaccination in mice</td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td>SDY64</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td>197</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>Ralph Tripp</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>A comparison between large and small droplet flu vaccination</td>
	</tr>
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td></tr>
	<tr><td>&nbsp;</td><td>
		<table border="1">
		<tr><td>Virus Titer</td><td>62</td></tr>
		<tr><td>Hemagglutination Inhibition</td><td>14</td></tr>
		<tr><td>ELISA</td><td>168</td></tr>
		</table>
	</td></tr>
		<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>None</td>
		</tr>
	</table>

<hr>
	<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>Rochester University Modeling Immunity for Biodefense</td>
	</tr>
    	<tr><td width="15%"><strong>Title:</strong></td>
    	<td>During the human B cell (Bc) recall response, rapid cell division results in multiple Bc subpopulations. RNA microarray and functional analyses showed that proliferating CD27lo cells are a transient pre-plasmablast population, expressing genes associated with Bc receptor editing. Undivided cells had an active transcriptional program of non-ASC B cell functions, including cytokine secretion and costimulation, suggesting a link between innate and adaptive Bc responses. Transcriptome analysis suggested a gene regulatory network for CD27lo and CD27hi Bc differentiation.</td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td>SDY165</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td>15</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>TBA</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>During the human B cell (Bc) recall response, rapid cell division results in multiple Bc subpopulations. RNA microarray and functional analyses showed that proliferating CD27lo cells are a transient pre-plasmablast population, expressing genes associated with Bc receptor editing. Undivided cells had an active transcriptional program of non-ASC B cell functions, including cytokine secretion and costimulation, suggesting a link between innate and adaptive Bc responses. Transcriptome analysis suggested a gene regulatory network for CD27lo and CD27hi Bc differentiation.</td>
	</tr>
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td></tr>
	<tr><td>&nbsp;</td><td>
		<table border="1">
		<tr><td>ELISPOT</td><td>21</td></tr>
		<tr><td>qRT-PCR</td><td>2954</td></tr>
		<tr><td>FCM</td><td>80</td></tr>
		<tr><td>Transcript Quantification</td><td>18</td></tr>
	</table>
	</td></tr>
		<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>None</td>
		</tr>
	</table>

<hr>
<table>
	<tr><td><strong width="15%">Study Program/Title:</strong></td>
    	<td>VRC304- A Phase I Study of the Safety and Immunogenicity of a Recombinant DNA Plasmid Vaccine (VRC-AVIDNA036-00-VP), Encoding for the Influenza Virus H5 Hemagglutinin Protein in Healthy Adults</td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td>SDY167</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td>45</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>Julie Ledgerwood</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>VRC304 - A Phase I, double-blind, placebo-controlled, randomized, dose escalation study to evaluate safety, tolerability, and immunogenicity of a recombinant DNA vaccine against the influenza virus hemagglutinin H5.</td>
	</tr>
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td></tr>
	<tr><td>&nbsp;</td><td>
		<table border="1">
		<tr><td>ELISA</td><td>430</td></tr>
		<tr><td>Neutralizing Antibody Titer</td><td>44</td></tr>
		<tr><td>ELISPOT</td><td>300</td></tr>
		<tr><td>FCM</td><td>80</td></tr>
		<tr><td>Virus Neutralization</td><td>88</td></tr>
	</table>
	</td></tr>
		<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>None</td>
		</tr>
	</table>

<hr>
<table>
	<tr><td width="15%"><strong>Study Program/Title:</strong></td>
    	<td>Immune response evaluation in patients treated with TNF-alpha blockade (anti-TNF)</td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td>SDY146</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td>225</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>Jennifer Anolik, Christopher Ritchlin, Ignacio Sanz, Laura Milner </td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>A systematic study of human immune function with the goal of identifying defective mechanisms of immune response in patients treated with TNF-alpha blockade (anti-TNF) </td>
	</tr>
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td></tr>
	<tr><td>&nbsp;</td><td>
		<table border="1">
		<tr><td>FCM</td><td>TBD</td></tr>
		
	</table>
	</td></tr>
		<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>None</td>
		</tr>
	</table>


<hr>
<table>
	<tr><td width="15%"><strong>Study Program/Title:</strong></td>
    	<td>Responses to Influenza Vaccination in Systemic Lupus Year 1blockade (anti-TNF)</td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td>SDY196</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td>225</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>Linda Thompson </td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>Compare the major components of the normal immune response to flu vaccination in SLE patients and control subjects in order to identify abnormalities in SLE group of immunocompromised individuals. </td>
	</tr>
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td></tr>
	<tr><td>&nbsp;</td><td>
		<table border="1">
		<tr><td>FCM</td><td>TBD</td></tr>
		
	</table>
	</td></tr>
		<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>22 experiments, 5060 files</td>
		</tr>
	</table>