<h2>BISC/ImmPort Data Release 19 Studies</h2>

<h5>June 2016</h5>


<table>
	<tr><td><strong><b>Global Updates:</b></strong></td><td>General updates study updates include parsed clinical assessment and lab test data and preferred terminology updates for analytes</strong></td></tr>
</table>
<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>Clinical Outcomes of Live Organ Donors: Data Coordinating Center</td>
	</tr>
    	<tr><td width="15%"><strong>Title:</strong></td>
    	<td>Live Lung Donor Retrospective Study (RELIVE-02) </td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td>SDY293</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td>369</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>Akinlolu Ojo, MD, University of Michigan</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>The purpose of this study is to determine the mortality, the early postoperative morbidity, and the occurrence of end stage lung disease for participants who underwent donor lobectomy between 1993 and 2006. Participants in this study have had donor lobectomy at the University of Southern California in Los Angeles or the Washington University Medical Center and Barnes-Jewish Hospital in St. Louis.</td>
	</tr>
	<tr><td width="15%"><strong><b>Publication(s):</b></strong></td><td>&nbsp;</td></tr>
	<tr><td width="15%">&nbsp;</td><td>Morbidity and mortality of live lung donation: results from the RELIVE study.  <i>Am J Transplant.</i> 2014 Aug;14(8):1846-52.  <a href='http://www.ncbi.nlm.nih.gov/pubmed/?term=25039865' title="PubMed - 20539865" target="new">[PubMed]</a></td>
	<tr><td width="15%"><strong><b>Resources:</b></strong></td><td>&nbsp;</td></tr>
	<tr><td width="15%">&nbsp;</td><td>ClinicalTrials.gov:  <a href='http://www.clinicaltrials.gov/ct2/show/NCT00553397' title="CT.gov - NCT00553397" target="new">[NCT00553397]</a></td>
	<tr><td width="15%">&nbsp;</td><td>NIH RePORTER:  <a href='http://projectreporter.nih.gov/project_info_details.cfm?aid=7099088&icde=26162525' title="NIH RePORTER - 26162525" target="new">[26162525]</a></td>
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td>
	<td>None</td></tr>
	<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>Case report form</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>New Study.</td>
		</tr>			
	</table>	
	<hr>
	
	<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>Molecular Profiling and Immunomodulatory Interventions (CTOT-03, CTOT-04)</td>
	</tr>
    <tr><td width="15%"><strong>Title:</strong></td>
   		<td>Urinary cell mRNA profiles of rejection (CTOT-04)</td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td> SDY479</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td> 494</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>Abraham Shaked, MD, University of Pennsylvania Medical Center</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>This is an observational, uncontrolled and non-randomized study in which all deceased donor and living donor kidney allograft recipients at all participating centers are eligible for enrollment. The primary aims are : (1) To investigate whether the levels of mRNA encoding cytotoxic proteins perforin and granzyme B, and T cell marker CD3, are a sensitive and specific noninvasive diagnostic test for acute rejection in renal allografts; and (2) To determine whether mRNA profiles of sequential urine specimens predict the development of rejection. We will investigate whether mRNA profiles predict kidney graft function as assessed by estimated GFR at 12, 24 and 36 months after transplantation.</td>
	</tr>
	<tr><td width="15%"><strong><b>Publication(s):</b></strong></td><td>&nbsp;</td></tr>
	<tr><td width="15%">&nbsp;</td><td>Urine Metabolite Profiles Predictive of Human Kidney Allograft Status  <i>J Am Soc Nephrol.</i> 2016 Feb;27(2):626-36. doi: 10.1681/ASN.2015010107. Epub 2015 Jun 5. <a href='http://www.ncbi.nlm.nih.gov/pubmed/?term=26047788' title="PubMed - 26047788" target="new">[PubMed]</a></td>
	<tr><td width="15%">&nbsp;</td><td>Urinary-cell mRNA profile and acute cellular rejection in kidney allografts,  <i>New Engl J Med.</i> 2013 Jul 4;369(1):20-31. doi: 10.1056/NEJMoa1215555. <a href='http://www.ncbi.nlm.nih.gov/pubmed/?term=23822777' title="PubMed - 23822777" target="new">[PubMed]</a></td>
	</tr>
	<tr><td width="15%"><strong><b>Resources:</b></strong></td><td>&nbsp;</td></tr>
	<tr><td width="15%">&nbsp;</td><td>ClinicalTrials.gov:  <a href='http://www.clinicaltrials.gov/ct2/show/NCT00337220' title="CT.gov - NCT00337220" target="new">[NCT00337220]</a></td>
	<tr><td width="15%">&nbsp;</td><td>NIH RePORTER:  <a href='https://projectreporter.nih.gov/project_info_description.cfm?aid=6875931' title="NIH RePORTER - 6875931" target="new">[6875931]</a></td>		
	</tr>
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td>
	<tr><td>&nbsp;</td><td>
	<table border="1">
		<tr><td>Assay Type</td><td>Number of Exp. Samples</td></tr>
		<tr><td>HLA_Typing</td><td>984</td></tr>
		<tr><td>Q-PCR</td><td>3883</td></tr>
	</table>
	<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>Concomitant medications, clinical lab tests (CBC, CMP), rejection status</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>New Study</td>
		</tr>			
	</table>
		
<hr>

<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>Noninvasive Markers and Transplant Outcome in Humans (CTOT-01)</td>
	</tr>
    <tr><td width="15%"><strong>Title:</strong></td>
   		<td>Noninvasive Monitoring in Kidney Transplantation (CTOT-01)</td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td> SDY557</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td> 282</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>Peter Heeger, MD, Mount Sinai School of Medicine</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>This is a non randomized observational study to assess the sensitivity, specificity, and predictive value of a panel of noninvasive monitoring tests as correlates with acute rejection, graft loss, deterioration of renal function, and degree of graft fibrosis in renal allograft recipients receiving commonly used immunosuppressive regimens.</td>
	</tr>
	<tr><td width="15%"><strong><b>Publication(s):</b></strong></td><td>&nbsp;</td></tr>
	<tr><td width="15%">&nbsp;</td><td>Interferon Gamma ELISPOT Testing as a Risk-Stratifying Biomarker for Kidney Transplant Injury: Results from the CTOT-01 Multicenter Study  <i>Am J Transplant. </i> 2015 Dec;15(12):3166-73. doi: 10.1111/ajt.13401. Epub 2015 Jul 30. <a href='http://www.ncbi.nlm.nih.gov/pubmed/?term=26226830' title="PubMed - 26226830" target="new">[PubMed]</a></td>
	<tr><td width="15%">&nbsp;</td><td>Optimization for peptide sample preparation for urine peptidomics  <i>Clin Proteomics.</i> 2014 Feb 25;11(1):7. doi: 10.1186/1559-0275-11-7. <a href='http://www.ncbi.nlm.nih.gov/pubmed/?term=24568099' title="PubMed - 24568099" target="new">[PubMed]</a></td>
	<tr><td width="15%">&nbsp;</td><td>Multicenter validation of urinary CXCL9 as a risk-stratifying biomarker for kidney transplant injury  <i>Am J Transplant.</i> 2013 Oct;13(10):2634-44. doi: 10.1111/ajt.12426. Epub 2013 Aug 22. <a href='http://www.ncbi.nlm.nih.gov/pubmed/?term=23968332' title="PubMed - 23968332" target="new">[PubMed]</a></td>
	<tr><td width="15%">&nbsp;</td><td>Multicenter evaluation of a standardized protocol for noninvasive gene expression profiling  <i>Am J Transplant.</i> 2013 Jul;13(7):1891-7. doi: 10.1111/ajt.12284. <a href='http://www.ncbi.nlm.nih.gov/pubmed/?term=23802725' title="PubMed - 23802725" target="new">[PubMed]</a></td>
	<tr><td width="15%">&nbsp;</td><td>Comprehensive assessment and standardization of solid phase multiplex-bead arrays for the detection of antibodies to HLA <i>Am J Transplant.</i> 2013 Jul;13(7):1859-70. doi: 10.1111/ajt.12287. Epub 2013 Jun 13. <a href='http://www.ncbi.nlm.nih.gov/pubmed/?term=23763485' title="PubMed - 23763485" target="new">[PubMed]</a></td>
	<tr><td width="15%">&nbsp;</td><td>Standardization and cross validation of alloreactive IFN ELISPOT assays within the clinical trials in organ transplantation consortium  <i>Am J Transplant.</i> . 2013 Jul;13(7):1871-9. doi: 10.1111/ajt.12286. Epub 2013 May 24. <a href='http://www.ncbi.nlm.nih.gov/pubmed/?term=23710568' title="PubMed - 23710568" target="new">[PubMed]</a></td>
	</tr>
	<tr><td width="15%"><strong><b>Resources:</b></strong></td><td>&nbsp;</td></tr>
	<tr><td width="15%">&nbsp;</td><td>ClinicalTrials.gov:  <a href='https://clinicaltrials.gov/ct2/show/NCT00308802' title="CT.gov - NCT00308802" target="new">[NCT00308802]</a></td>
	<tr><td width="15%">&nbsp;</td><td>NIH RePORTER:  <a href='https://projectreporter.nih.gov/project_info_description.cfm?aid=6875911' title="NIH RePORTER - 6875911" target="new">[6875911]</a></td>		
	</tr>
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td>
	<tr><td>&nbsp;</td><td>
		<table border="1">
		<tr><td>Assay Type</td><td>Number of Exp. Samples</td></tr>
		<tr><td>ELISA</td><td>1232</td></tr>
		<tr><td>ELISPOT</td><td>3771</td></tr>
		<tr><td>HLA_Typing</td><td>560</td></tr>
		<tr><td>Luminex</td><td>2102</td></tr>
		<tr><td>Q-PCR</td><td>1935</td></tr>
		</table>
	</td></tr>
		<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>Clinical lab tests (comprehensive metabolic panel, hematology), concomitant medications, adverse events, study interventions, etc</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>New Study</td>
		</tr>			
	</table>
		
<hr>
<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>Noninvasive Markers and Transplant Outcome in Humans (CTOT-01)</td>
	</tr>
    <tr><td width="15%"><strong>Title:</strong></td>
   		<td>Observational Study of Alloimmunity in Cardiac Transplant Recipients (CTOT-05)</td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td> SDY571</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td> 200</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>Peter Heeger, MD, Mount Sinai School of Medicine</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>The purpose of this study is to identify a single test or a combination of noninvasive tests currently used for heart transplant monitoring that correlate to long-term graft survival.</td>
	<tr><td width="15%"><strong><b>Publication(s):</b></strong></td><td>&nbsp;</td></tr>
	<tr><td width="15%">&nbsp;</td><td>Multicenter Analysis of Immune Biomarkers and Heart Transplant Outcomes: Results of the Clinical Trials in Organ Transplantation-05 Study.  <i>Am J Transplant.</i> 2016 Jan;16(1):121-36. doi: 10.1111/ajt.13422. Epub 2015 Aug 10. <a href='http://www.ncbi.nlm.nih.gov/pubmed/?term=26260101' title="PubMed - 26260101" target="new">[PubMed]</a></td>
	<tr><td width="15%">&nbsp;</td><td>Comprehensive assessment and standardization of solid phase multiplex-bead arrays for the detection of antibodies to HLA <i>Am J Transplant.</i> 2013 Jul;13(7):1859-70. doi: 10.1111/ajt.12287. Epub 2013 Jun 13. <a href='http://www.ncbi.nlm.nih.gov/pubmed/?term=23763485' title="PubMed - 23763485" target="new">[PubMed]</a></td>
	</tr>
		<tr><td width="15%"><strong><b>Resources:</b></strong></td><td>&nbsp;</td></tr>
	<tr><td width="15%">&nbsp;</td><td>ClinicalTrials.gov:  <a href=' 	https://clinicaltrials.gov/ct2/show/NCT00466804' title="CT.gov - NCT00466804" target="new">[NCT00466804]</a></td>
	<tr><td width="15%">&nbsp;</td><td>NIH RePORTER:  <a href='https://projectreporter.nih.gov/project_info_description.cfm?aid=6875911' title="NIH RePORTER - 6875911" target="new">[6875911]</a></td>		
	</tr>
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td>
	<tr><td>&nbsp;</td><td>
		<table border="1">
		<tr><td>Assay Type</td><td>Number of Exp. Samples</td></tr>
		<tr><td>ELISA<td>185</td></tr>
		<tr><td>ELISPOT</td><td>585<td></tr>
		<tr><td>HLA_Typing</td><td>386<td></tr>
		<tr><td>Q-PCR</td><td>1300<td></tr>
		</table>
	<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>clinical lab tests (CBC, chemistries), concomitant medications, adverse events, etc</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>New Study</td>
		</tr>			
	</table>

<hr>
	
	<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>Molecular Profiling and Immunomodulatory Interventions (CTOT-03, CTOT-04)</td>
	</tr>
	<tr><td width="15%"><strong>Title:</strong></td>
		<td>Molecular Profiling of Donor and Recipient Proinflammatory and Allograft Response (CTOT-03) </td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td> SDY670</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td> 311</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>Abraham Shaked, MD, University of Pennsylvania Medical Center</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>A prospective observational cohort study designed to test the association of proinflammatory pathways of injury in thoracic (lung and heart) and abdominal (kidney and liver) donor organs, with immediate and short term allograft function as well as subsequent alloimmune response</td>
	<tr><td width="15%"><strong><b>Publication(s):</b></strong></td><td>&nbsp;</td></tr>
	<tr><td width="15%">&nbsp;</td><td>Validation of a current definition of early allograft dysfunction in liver transplant recipients and analysis of risk factors.  <i>Liver Transpl.</i> 2010 Aug;16(8):943-9. doi: 10.1002/lt.22091 <a href='http://www.ncbi.nlm.nih.gov/pubmed/?term=20677285' title="PubMed - 20677285" target="new">[PubMed]</a></td>
	<tr><td width="15%">&nbsp;</td><td>Gene set enrichment analysis identifies key innate immune pathways in primary graft dysfunction after lung transplantation  <i>Am J Transplant.</i> 2013 Jul;13(7):1898-904. doi: 10.1111/ajt.12283. Epub 2013 May 24 <a href='http://www.ncbi.nlm.nih.gov/pubmed/?term=23710539' title="PubMed - 23710539" target="new">[PubMed]</a></td>
	</tr>
	<tr><td width="15%"><strong><b>Resources:</b></strong></td><td>&nbsp;</td></tr>
	<tr><td width="15%">&nbsp;</td><td>ClinicalTrials.gov:  <a href=' 	https://www.clinicaltrials.gov/ct/show/NCT00531921' title="CT.gov - NCT00531921" target="new">[NCT00531921]</a></td>
	<tr><td width="15%">&nbsp;</td><td>NIH RePORTER:  <a href='http://projectreporter.nih.gov/project_info_description.cfm?aid=6875931&icde=25772230' title="NIH RePORTER - 25772230" target="new">[25772230]</a></td>		
	</tr>
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td>
	<tr><td>&nbsp;</td><td>
		<table border="1">
		<tr><td>Assay Type</td><td>Number of Exp. Samples</td></tr>
		<tr><td>Array</td><td>286</td></tr>
		<tr><td>HLA-Typing</td><td>495</td></tr>
		</table>
		<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>clinical lab tests (CBC, chemistries), concomitant medications, adverse events, etc</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>New Study</td>
		</tr>			
	</table>	
<hr>
	<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>Novel Therapies of Chronic Allograft Dysfunction (CTOT-02)</td>
	</tr>
    <tr><td width="15%"><strong>Title:</strong></td>
		<td>B-Cell depletion by anti-CD20 in renal allograft recipients who develop de novo anti-HLA alloantibodies</td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td> SDY689</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td>  757</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>Mohamed Sayegh, MD, Brigham and Women’s Hospital, Harvard Medical School</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>The purpose of this study is to determine whether treatment with rituximab (anti-CD20, Rituxan, MabThera) in individuals who develop new anti-HLA antibodies after renal (kidney) transplant will promote longer-term survival of the transplanted kidney. The pilot study compares the use of rituximab (Rituxan) + site-specific standard immunosuppression to placebo + site-specific standard immunosuppression in the treatment of circulating anti-HLA antibodies in subjects who develop de novo anti-HLA antibodies between 3-36 months after transplant.</td>
	<tr><td width="15%"><strong><b>Publication(s):</b></strong></td><td>None</td></tr>
	</tr>
	<tr><td width="15%"><strong><b>Resources:</b></strong></td><td>&nbsp;</td></tr>
	<tr><td width="15%">&nbsp;</td><td>ClinicalTrials.gov:  <a href=' 	https://www.clinicaltrials.gov/ct/show/NCT00307125' title="CT.gov - NCT00307125" target="new">[NCT00307125]</a></td>
	<tr><td width="15%">&nbsp;</td><td>NIH RePORTER:  <a href='http://projectreporter.nih.gov/project_info_description.cfm?aid=6880173' title="NIH RePORTER - 6880173" target="new">[6880173]</a></td>		
	</tr>
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td>
	<tr><td>&nbsp;</td><td>
		<table border="1">
		<tr><td>Assay Type</td><td>Number of Exp. Samples</td></tr>
		<tr><td>HLA_Typing</td><td>1507</td></tr>
		</table>
		<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>clinical lab tests (CBC, chemistries, urinalysis), concomitant medications, study interventions, etc</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>New Study</td>
		</tr>			
	</table>	
<hr>
<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>Improving Kidney Transplant Outcomes by Using Novel B-cell Immune Profiling</td>
	</tr>
    <tr><td width="15%"><strong>Title:</strong></td>
		<td>Immune Profiles to Predict Response to Desensitization Therapy in Highly HLA-Sensitized Kidney Transplant Candidates</td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td> SDY788</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td> 22</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>Julie Yabu, MD, Stanford University Medical School</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>Immune profiles were performed retrospectively in highly sensitized kidney transplant candidates.</td>
	<tr><td width="15%"><strong><b>Publication(s):</b></strong></td><td>&nbsp;</td></tr>
	<tr><td width="15%">&nbsp;</td><td>Immune Profiles to Predict Response to Desensitization Therapy in Highly HLA-Sensitized Kidney Transplant Candidates.  <i>PLoS One.</i> 2016 Apr 14;11(4):e0153355. doi: 10.1371/journal.pone.0153355. eCollection 2016 <a href='http://www.ncbi.nlm.nih.gov/pubmed/?term=27078882' title="PubMed - 27078882" target="new">[PubMed]</a></td>
	</tr>
		<tr><td width="15%"><strong><b>Resources:</b></strong></td><td>&nbsp;</td></tr>
	<tr><td width="15%">&nbsp;</td><td>None </td>
	</tr>
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td>
	<tr><td>&nbsp;</td><td>
		<table border="1">
		<tr><td>Assay Type</td><td>Number of Exp. Samples</td></tr>
		<tr><td>Array</td><td>39</td></tr>
		<tr><td>CyTOF</td><td>141</td></tr>
		<tr><td>Flow cytometry</td><td>360</td></tr>
		</table>
		<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>none</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>New Study</td>
		</tr>			
	</table>
	<hr>
	<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>Mount Sinai School of Medicine Modeling Immunity for Biodefense Contract</td>
	</tr>
    <tr><td width="15%"><strong>Title:</strong></td>
		<td>Temporal Response to seasonal and pandemic H1N1 infection in human DCs</td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td> SDY789</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td> 2</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>Stuart Sealfon MD, Mount Sinai School of Medicine, New York </td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>mRNA expression analysis of DC response to influenza viruses. Experiment variables (brief description of biological sample treatments and time points): human mDCs are infected with H1N1 influenza viruses (IAV) Brevig/1918, California/09, New Caledonia/99 and Texas/91 for 2, 2.4, 3.2, 4, 5, 6, 7 and 8 hours. RNA is isolated and hybridized to gene expression microarrays.</td>
	<tr><td width="15%"><strong><b>Publication(s):</b></strong></td><td>&nbsp;</td></tr>
	<tr><td width="15%">&nbsp;</td><td>Human Dendritic Cell Response Signatures Distinguish 1918, Pandemic, and Seasonal H1N1 Influenza Viruses.  <i>Journal of Virology.</i> 2015 Oct;89(20):10190-205. doi: 10.1128/JVI.01523-15. Epub 2015 Jul 29. <a href='http://www.ncbi.nlm.nih.gov/pubmed/?term=26223639' title="PubMed - 26223639" target="new">[PubMed]</a></td>
	</tr>
		<tr><td width="15%"><strong><b>Resources:</b></strong></td><td>&nbsp;</td></tr>
	<tr><td width="15%">&nbsp;</td><td>Gene Expression Omnibus:  <a href=' 	http://www.ncbi.nlm.nih.gov/geo/query/acc.cgi?acc=GSE55278' title="GEO - GSE55278" target="new">[GSE55278]</a></td>
	<tr><td width="15%">&nbsp;</td><td>NIH RePORTER:  <a href='https://projectreporter.nih.gov/project_info_description.cfm?aid=8159582&icde=29095415' title="NIH RePORTER - 29095415" target="new">[29095415]</a></td>		
	<tr><td width="15%">&nbsp;</td><td>PRiME:  <a href='http://tsb.mssm.edu/primeportal/?q=Immunet_interactive_networks' title="PRiME - Program for Research on Immune Modeling and Experimentation" target="new">[PRiME]</a></td>		
	</tr>
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td>
	<tr><td>&nbsp;</td><td>
		<table border="1">
		<tr><td>Assay Type</td><td>Number of Exp. Samples</td></tr>
		<tr><td>Array</td><td>39</td></tr>
		<tr><td>Flow cytometry</td><td>160</td></tr>
		<tr><td>Hemagglutination inhibition</td><td>464</td></tr>
		<tr><td>Virus neutralization</td><td>464</td></tr>
		</table>
		<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>none</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>New Study</td>
		</tr>			
	</table>	
<hr>
<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>Immune Tolerance Network</td>
	</tr>
    <tr><td width="15%"><strong>Title:</strong></td>
		<td>T1DAL ITN045AI: Inducing Remission in New Onset Type 1 Diabetes Mellitus with Alefacept(Amevive)  </td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td> SDY797</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td> 49</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>Mark R. Rigby MD, PhD, Indiana University </td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>The purpose of this trial is to test whether a drug called alefacept will slow or halt destruction of the beta cells in the pancreas. If the destruction of the beta cells is stopped, the patients might be able to produce insulin on their own longer, which could stop or slow the progression of their type 1 diabetes.</td>
	<tr><td width="15%"><strong><b>Publication(s):</b></strong></td><td>&nbsp;</td></tr>
	<tr><td width="15%">&nbsp;</td><td>Targeting of memory T cells with alefacept in new-onset type 1 diabetes (T1DAL study): 12 month results of a randomised, double-blind, placebo-controlled phase 2 trial. <i>Lancet Diabetes Endocrinol.</i> 2013 Dec;1(4):284-94. doi: 10.1016/S2213-8587(13)70111-6. Epub 2013 Sep 23.   <a href='http://www.ncbi.nlm.nih.gov/pubmed/24622414' title="PubMed - 24622414" target="new">[PubMed]</a></td>
	</tr>
	<tr><td width="15%"><strong><b>Resources:</b></strong></td><td>&nbsp;</td></tr>
	<tr><td width="15%">&nbsp;</td><td>ClinicalTrials.gov:  <a href=' 	https://clinicaltrials.gov/ct2/show/NCT00965458' title="CT.gov - NCT00965458" target="new">[NCT00965458]</a></td>
	<tr><td width="15%">&nbsp;</td><td>ITN Trialshare:  <a href='https://www.itntrialshare.org/project/Studies/ITN045AIJCI/Study%20Data/begin.view' title="ITN Trialshare - T1DAL ITN045AI" target="new">[T1DAL ITN045AI]</a></td>		
	</tr>
		<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td>
			<td>none</td>
		</tr>
		<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>adverse events, insulin usage, clinical lab tests</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>New Study</td>
		</tr>			
	</table>	
<hr>
<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>Immune Tolerance Network</td>
	</tr>
    <tr><td width="15%"><strong>Title:</strong></td>
		<td>Diamond-Wofsy ITN002AI: Treating Systemic Lupus Erythematosus (SLE) Patients with CTLA4-IgG4m (RG2077) </td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td> SDY798</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td> 6</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>Betty Diamond MD, Columbia University and David Wofsy, MD University of California, San Francisco</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>The purpose of this study is to examine the safety of a single dose of RG2077 in patients with systemic lupus erythematosus (SLE) who are currently receiving cyclophosphamide. This study will also determine if RG2077 is effective in decreasing disease activity in these patients.</td>
	<tr><td width="15%"><strong><b>Publication(s):</b></strong></td><td>&nbsp;</td></tr>
	<tr><td width="15%">&nbsp;</td><td>Block and tackle: CTLA4Ig takes on lupus.  <i>Lupus.</i> 2005;14(3):197-203.  <a href='http://www.ncbi.nlm.nih.gov/pubmed/?term=15807196' title="PubMed - 15807196" target="new">[PubMed]</a></td>
	</tr>
	<tr><td width="15%"><strong><b>Resources:</b></strong></td><td>&nbsp;</td></tr>
	<tr><td width="15%">&nbsp;</td><td>ClinicalTrials.gov:  <a href=' 	https://www.clinicaltrials.gov/ct2/show/NCT00094380' title="CT.gov - NCT00094380" target="new">[NCT00094380]</a></td>
	<tr><td width="15%">&nbsp;</td><td>ITN Trialshare:  <a href='https://www.itntrialshare.org/project/Studies/ITN002AIPUBLIC/Study%20Data/begin.view' title="ITN Trialshare - Diamond-Wofsy ITN002AI" target="new">[Diamond-Wofsy ITN002AI]</a></td>		
	</tr>
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td>
	<td>none</tr>
	<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>Concomitant medications, adverse events, anergy skin tests, global assessment, etc</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>New Study</td>
		</tr>			
	</table>	
<hr>
<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>Immune Tolerance Network</td>
	</tr>
    <tr><td width="15%"><strong>Title:</strong></td>
		<td>Rituximab for the Treatment of Wegener's Granulomatosis and Microscopic Polyangiitis (RAVE ITN021AI)</td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td> SDY91</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td> 197</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>John H. Stone MD, Johns Hopkins University, Ulrich Specks MD, Mayo Clinic</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>Antineutrophil cytoplasmic antibodies (ANCA)-associated vasculitis is the most common type of small blood vessel inflammation in adults. ANCA-associated vasculitis includes Wegener's granulomatosis (WG) and microscopic polyangiitis (MPA). Rituximab is a man-made antibody used to treat certain types of cancer. The purpose of this study is to determine the effectiveness of rituximab in treating patients with WG and MPA</td>
	<tr><td width="15%"><strong><b>Publication(s):</b></strong></td><td>&nbsp;</td></tr>
	<tr><td width="15%">&nbsp;</td><td>Efficacy of remission-induction regimens for ANCA-associated vasculitis.  <i>N Engl J Med.</i> 2013 Aug 1;369(5):417-27. doi: 10.1056/NEJMoa1213277. <a href='http://www.ncbi.nlm.nih.gov/pubmed/?term=23902481' title="PubMed - 23902481" target="new">[PubMed]</a></td>
	<tr><td width="15%">&nbsp;</td><td>Rituximab versus cyclophosphamide for ANCA-associated vasculitis.  <i>N Engl J Med.</i> 2010 Jul 15;363(3):221-32. doi: 10.1056/NEJMoa0909905. <a href='http://www.ncbi.nlm.nih.gov/pubmed/?term=20647199' title="PubMed - 20647199" target="new">[PubMed]</a></td>
	</tr>
	<tr><td width="15%"><strong><b>Resources:</b></strong></td><td>&nbsp;</td></tr>
	<tr><td width="15%">&nbsp;</td><td>ClinicalTrials.gov:  <a href=' 	http://clinicaltrials.gov/ct2/show/NCT00104299' title="CT.gov - NCT00104299" target="new">[NCT00104299]</a></td>
	<tr><td width="15%">&nbsp;</td><td>ITN Trialshare:  <a href='https://www.itntrialshare.org/project/Studies/ITN021AIAR/Study%20Data/begin.view' title="ITN Trialshare - RAVE ITN021AI" target="new">[RAVE ITN021AI]</a></td>		
	</tr>
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td>
	<tr><td>&nbsp;</td><td>
		<table border="1">
		<tr><td>Assay Type</td><td>Number of Exp. Samples</td></tr>
		<tr><td>ELISA</td><td>1175</td></tr>
		<tr><td>Flow cytometry</td><td>1151</td></tr>
		</table>
		<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>Adverse events, concomitant medications, clinical lab tests (CBC, renal function), BVAS/WG score, etc</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>Updated with parsed assessments.</td>
		</tr>			
	</table>	
<hr>
<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>Vaccination and Infection:  indicators of immunological health and responsiveness</td>
	</tr>
    <tr><td width="15%"><strong>Title:</strong></td>
		<td>T cell responses to H1N1v and a longitudinal study of seasonal influenza vaccination (TIV) - 2008 (See companion studies SDY315 2012 / SDY312 2009 / SDY311 2010 / SDY112 2011).</td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td> SDY314</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td> 92</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>Mark Davis, PhD, Stanford University </td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>Systems biology approach to examine effects of seasonal flu vaccination in adults of different ages on gene expression, cytokine stimulation and serum cytokines with parameters such as immune senescence to uncover new markers and mechanisms behind failure of immune function in many older people<td>
	<tr><td width="15%"><strong><b>Publication(s):</b></strong></td><td>None</td></tr>
	</tr>
	<tr><td width="15%"><strong><b>Resources:</b></strong></td><td>&nbsp;</td></tr>
	<tr><td width="15%">&nbsp;</td><td>None </td>
	</tr>
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td>
	<tr><td>&nbsp;</td><td>
		<table border="1">
		<tr><td>Assay Type</td><td>Number of Exp. Samples</td></tr>
		<tr><td>Array</td><td>80</td></tr>
		<tr><td>Hemagglutination inhibition</td><td>178</td></tr>
		<tr><td>HLA_Typing</td><td>81</td></tr>
		<tr><td>Flow cytometry</td><td>445</td></tr>
		<tr><td>ELISPOT</td><td>178</td></tr>
		</table>
	<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>None</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>Updated with new phospho flow experiment.</td>
		</tr>			
	</table>	
<hr>
<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>Vaccination and Infection:  indicators of immunological health and responsiveness</td>
	</tr>
    <tr><td width="15%"><strong>Title:</strong></td>
		<td>T cell responses to H1N1v and a longitudinal study of seasonal influenza vaccination (TIV) - 2012 (See companion studies SDY311 2010 / SDY312 2009 / SDY314 2008 / SDY112 2011)</td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td> SDY315</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td>  72</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>Mark Davis, PhD, Stanford University</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>Systems biology approach to examine effects of seasonal flu vaccination in adults of different ages on gene expression, cytokine stimulation and serum cytokines with parameters such as immune senescence to uncover new markers and mechanisms behind failure of immune function in many older people.<td>
	<tr><td width="15%"><strong><b>Publication(s):</b></strong></td><td>None</td></tr>
	</tr>
	<tr><td width="15%"><strong><b>Resources:</b></strong></td><td>&nbsp;</td></tr>
	<tr><td width="15%">&nbsp;</td><td>None </td>
	</tr>
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td>
	<tr><td>&nbsp;</td><td>
		<table border="1">
		<tr><td>Assay Type</td><td>Number of Exp. Samples</td></tr>
		<tr><td>Array</td><td>1151</td></tr>
		<tr><td>Hemagglutination inhibition</td><td>136</td></tr>
		<tr><td>CyTOF</td><td>73</td></tr>
		<tr><td>Flow cytometry</td><td>408</td></tr>
		<tr><td>Luminex_xMAP</td><td>138</td></tr>
		</table>
	<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>None</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>Updated with new phospho flow experiment.</td>
		</tr>			
	</table>	
<hr>
<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>Bioinformatics Approaches to Influenza A/H1N1 Vaccine Immune Profiling</td>
	</tr>
    <tr><td width="15%"><strong>Title:</strong></td>
		<td>Bioinformatics Approach to 2010-2011 TIV Influenza A/H1N1 Vaccine Immune Profiling</td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td> SDY67</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td>  159</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>Gregory Poland, MD, Mayo Clinic</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>Aim 1: Characterize Immune Profiles Over Time, Aim 2: Correlate Immune Profiles with Vaccine Immunogenicity,Aim 3: Replication of Immune Profiles and Verification of Models.<td>
	<tr><td width="15%"><strong><b>Publication(s):</b></strong></td><td>&nbsp;</td></tr>
	<tr><td width="15%">&nbsp;</td><td>The impact of immunosenescence on humoral immune response variation after influenza A/H1N1 vaccination in older subjects.  <i>PLoS One.</i> 2015 Mar 27;10(3):e0122282. doi: 10.1371/journal.pone.0122282. eCollection 2015. <a href='http://www.ncbi.nlm.nih.gov/pubmed/?term=25816015' title="PubMed - 25816015" target="new">[PubMed]</a></td>
	<tr><td width="15%">&nbsp;</td><td>System-Wide Associations between DNA-Methylation, Gene Expression, and Humoral Immune Response to Influenza Vaccination.  <i>PLoS One.</i> 2016 Mar 31;11(3):e0152034. doi: 10.1371/journal.pone.0152034. eCollection 2016. <a href='http://www.ncbi.nlm.nih.gov/pubmed/?term=27031986' title="PubMed - 27031986" target="new">[PubMed]</a></td>
	</tr>
	<tr><td width="15%"><strong><b>Resources:</b></strong></td><td>&nbsp;</td></tr>
	<tr><td width="15%">&nbsp;</td><td>NIH RePORTER:  <a href=' 	 	http://projectreporter.nih.gov/project_info_details.cfm?aid=8695082' title="NIH RePORTER - 8695082" target="new">[8695082]</a></td>
	</tr>
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td>
	<tr><td>&nbsp;</td><td>
		<table border="1">
		<tr><td>Assay Type</td><td>Number of Exp. Samples</td></tr>
		<tr><td>Array</td><td>476</td></tr>
		<tr><td>Hemagglutination inhibition</td><td>1272</td></tr>
		<tr><td>ELISPOT</td><td>1113</td></tr>
		<tr><td>Flow cytometry</td><td>3387</td></tr>
		<tr><td>Meso_Scale</td><td>1272</td></tr>
		<tr><td>Mass_spec</td><td>61</td></tr>
		<tr><td>PCR</td><td>466</td></tr>
		<tr><td>Q-PCR</td><td>159</td></tr>
		<tr><td>RNA_seq</td><td>1100</td></tr>
		<tr><td>Virus Neutralization</td><td>635</td></tr>
		<tr><td>Cell Culture</td><td>556</td></tr>
		</table>
	<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>None</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>Updated with RNA sequencing.</td>
		</tr>			
	</table>	
<hr>
</table>