﻿<h2>BISC/ImmPort Data Release 18 Studies </h2>

<h5>February 2016</h5>

<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>HIPC Yale – Immunologic and genomic signatures of influenza vaccine</td>
	</tr>
    	<tr><td width="15%"><strong>Title:</strong></td>
    	<td>Immunologic and genomic signatures of influenza vaccine response - 2010 (see companion studies SDY400, SDY404, and SDY520)</td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td>SDY63</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td>219</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>David Hafler MD, Yale University</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>Immunologic and genomic signatures of influenza vaccine response.</td>
	</tr>
	<tr><td width="15%"><strong><b>Publication(s):</b></strong></td><td>None</td></tr>
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td>
	<tr><td>&nbsp;</td><td>
	<table border="1">
		<tr><td>Assay Type</td><td>Number of Exp. Samples</td></tr>
		<tr><td>Hemagglutination Inhibition</td><td>90</td></tr>
		<tr><td>Microarray</td><td>288</td></tr>
	</table>
		<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>None</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>New Study</td>
		</tr>			
	</table>
	<hr>
	
	<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>Bioinformatics Approach to Influenza A/H1N1 Vaccine Immune Profiling</td>
	</tr>
    <tr><td width="15%"><strong>Title:</strong></td>
   		<td>Bioinformatics Approach to 2010-2011 TIV Influenza A/H1N1 Vaccine Immune Profiling</td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td> SDY67</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td> 159</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>Gregory Poland MD, Mayo Clinic, Rochester, MN</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>Characterize Immune Profiles over Time, Correlate Immune Profiles with Vaccine Immunogenicity, Replication of Immune Profiles and Verification of Models</td>
	</tr>
	<tr><td width="15%"><strong><b>Publication(s):</b></strong></td><td>&nbsp;</td></tr>
	<tr><td width="15%">&nbsp;</td><td>The impact of Immunosenescence on humoral immune response variation after influenza A/H1N1 vaccination in older subjects. PLoS One. 2015 Mar 27;10(3):e0122282. doi: 10.1371/journal.pone.0122282. <a href='http://www.ncbi.nlm.nih.gov/pubmed/?term=25816015' title="PubMed - 25816015" target="new">[PubMed]</a></td>
	</tr>
		
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td>
	<tr><td>&nbsp;</td><td>
	<table border="1">
		<tr><td>Assay Type</td><td>Number of Exp. Samples</td></tr>
		<tr><td>ELISPOT</td><td>1113</td></tr>
		<tr><td>Flow Cytometry</td><td>3387</td></tr>
		<tr><td>Hemagglutination Inhibition</td><td>1272</td></tr>
		<tr><td>Mass Spectrometry</td><td>61</td></tr>
		<tr><td>Meso_Scale_Discovery</td><td>1272</td></tr>
		<tr><td>PCR</td><td>466</td></tr>
		<tr><td>Q-PCR</td><td>159</td></tr>
		<tr><td>RNA Sequencing</td><td>477</td></tr>
		<tr><td>Virus Neutralization</td><td>635</td></tr>
	</table>
	<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>None</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>updated with additional ELISPOT, Flow cytometry, RNA-seq, Meso-Scale Discovery, Hemagglutination Inhibition and Mass Spec data</td>
		</tr>			
	</table>
		
<hr>

<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>HIPC Baylor - Systems Analysis Vaccine Responses in Healthy and Hyporesponsive Humans</td>
	</tr>
    <tr><td width="15%"><strong>Title:</strong></td>
   		<td>Systems scale interactive exploration reveals quantitative and qualitative differences in response to 2009-2010 Fluzone influenza vaccine and pneumococcal vaccine</td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td> SDY180</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td> 46</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>A. Karolina Palucka MD, PhD, Baylor University, Dallas, TX</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>Systems immunology approaches were employed to investigate innate and adaptive immune responses to influenza and pneumococcal vaccines. Software solutions were developed to explore correlates of vaccine efficacy measured as antibody titers at day 28. These enabled a further dissection of transcriptional responses. </td>
	</tr>
	<tr><td width="15%"><strong><b>Publication(s):</b></strong></td><td>&nbsp;</td></tr>
	<tr><td width="15%">&nbsp;</td><td>Systems scale interactive exploration reveals quantitative and qualitative differences in response to influenza and pneumococcal vaccines. Immunity. 2013 Apr 18;38(4):831-44. doi: 10.1016/j.immuni.2012.12.008 <a href='http://www.ncbi.nlm.nih.gov/pubmed/?term=23601689' title="PubMed - 23601689" target="new">[PubMed]</a></td>
	</tr>
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td>
	<tr><td>&nbsp;</td><td>
	<table border="1">
		<tr><td>Assay Type</td><td>Number of Exp. Samples</td></tr>
		<tr><td>Array</td><td>703</td></tr>
		<tr><td>Flow Cytometry</td><td>2208</td></tr>
		<tr><td>Hemagglutination Inhibition</td><td>66</td></tr>
		<tr><td>Luminex-xMAP</td><td>229</td></tr>
		<tr><td>Nanostring</td><td>18</td></tr>
		<tr><td>Virus Neutralization</td><td>89</td></tr>
	</table>
		
	<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>None</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>Updated with parsed CBC lab test data, nanostring experiment data, units update</td>
		</tr>			
	</table>
		
<hr>
<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>HIPC Baylor - Systems Analysis Vaccine Responses in Healthy and Hyporesponsive Humans</td>
	</tr>
    <tr><td width="15%"><strong>Title:</strong></td>
   		<td>Systems Biology Approach to Analysis of 2011-12 TIV Fluzone Influenza Vaccine Response in Healthy Individuals</td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td> SDY296</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td> 45</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>A. Karolina Palucka MD, PhD, Baylor University, Dallas, TX</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>This project will contribute to the overall vision and goals of this U19 by analyzing the immune response to Flu vaccination in healthy individuals. The knowledge generated in this Project will be transferred to Projects 3-5 where immune effects of vaccination will be studied in patients with underlying immune system alterations</td>
	<tr><td width="15%"><strong><b>Publication(s):</b></strong></td><td>None</td></tr>
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td>
	<tr><td>&nbsp;</td><td>
	<table border="1">
		<tr><td>Assay Type</td><td>Number of Exp. Samples</td></tr>
		<tr><td>Microarray</td><td>219</td></tr>
		<tr><td>Flow Cytometry</td><td>975</td></tr>
		<tr><td>Hemagglutination Inhibition</td><td>74</td></tr>
		<tr><td>Nanostring</td><td>36</td></tr>
		<tr><td>RNA Sequencing</td><td>42</td></tr>
		<tr><td>Virus Neutralization</td><td>74</td></tr>
	</table>
	<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>Lab tests (hematocrit, mean corpuscular volume, mean platelets volume, RBC, basophil count, etc) </td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>New study</td>
		</tr>			
	</table>

<hr>

	<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>HIPC Baylor - Systems Analysis Vaccine Responses in Healthy and Hyporesponsive Humans</td>
	</tr>
	<tr><td width="15%"><strong>Title:</strong></td>
		<td>Systems Biology Approach to Analysis of 2012-13 TIV Fluzone Influenza Vaccine Response in Healthy Individuals</td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td> SDY301</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td> 40</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>A. Karolina Palucka MD, PhD, Baylor University, Dallas, TX</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>This project will contribute to the overall vision and goals of this U19 by analyzing the immune response to Flu vaccination in healthy individuals. The knowledge generated in this Project will be transferred to Projects 3-5 where immune effects of vaccination will be studied in patients with underlying immune system alterations</td>
	<tr><td width="15%"><strong><b>Publication(s):</b></strong></td><td>None</td></tr>
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td>
	<tr><td>&nbsp;</td><td>
	<table border="1">
		<tr><td>Assay Type</td><td>Number of Exp. Samples</td></tr>
		<tr><td>Microarray</td><td>213</td></tr>
		<tr><td>Flow Cytometry</td><td>642</td></tr>
		<tr><td>Hemagglutination Inhibition</td><td>240</td></tr>
		<tr><td>Nanostring</td><td>38</td></tr>
		<tr><td>RNA Sequencing</td><td>108</td></tr>
		<tr><td>Virus Neutralization</td><td>240</td></tr>
	</table>
	<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>Lab tests (hematocrit, mean corpuscular volume, mean platelets volume, RBC, basophil count, etc)</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>New Study</td>
		</tr>			
	</table>	

<hr>
	<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>HIPC Yale - Defining signatures for immune responsiveness by functional systems immunology</td>
	</tr>
    <tr><td width="15%"><strong>Title:</strong></td>
		<td>Immunologic and genomic signatures of influenza vaccine response - 2012 (see companion studies SDY63, SDY404, and SDY520)</td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td> SDY400</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td> 98</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>David Hafler MD, Yale University</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>Immunologic and genomic signatures of influenza vaccine response – year 3 2012</td>
	<tr><td width="15%"><strong><b>Publication(s):</b></strong></td><td>none</td></tr>
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td>
	<tr><td>&nbsp;</td><td>
	<table border="1">
		<tr><td>Assay Type</td><td>Number of Exp. Samples</td></tr>
		<tr><td>Microarray</td><td>356</td></tr>
		<tr><td>Hemagglutination Inhibition</td><td>187</td></tr>
	</table>
	<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>none</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>New study</td>
		</tr>			
	</table>	
<hr>

	<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>HIPC Yale - Defining signatures for immune responsiveness by functional systems immunology</td>
	</tr>
    <tr><td width="15%"><strong>Title:</strong></td>
		<td>Immunologic and genomic signatures of influenza vaccine response - 2011 (see companion studies SDY63, SDY400, and SDY520)</td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td> SDY404</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td> 72</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>David Hafler MD, Yale University</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>Immunologic and genomic signatures of influenza vaccine response - year2 2011</td>
	<tr><td width="15%"><strong><b>Publication(s):</b></strong></td><td>&nbsp;</td></tr>
	<tr><td width="15%">&nbsp;</td><td>Prolonged proinflammatory cytokine production in monocytes modulated by interleukin 10 after influenza vaccination in older adults. Journal of Infectious Diseases. 2015 Apr 1;211(7):1174-84. doi: 10.1093/infdis/jiu573. Epub 2014 Nov 2  <a href='http://www.ncbi.nlm.nih.gov/pubmed/?term=25367297' title="PubMed - 25367297" target="new">[PubMed]</a></td>
	</tr>
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td>
	<tr><td>&nbsp;</td><td>
	<table border="1">
		<tr><td>Assay Type</td><td>Number of Exp. Samples</td></tr>
		<tr><td>Flow Cytometry</td><td>2062</td></tr>
		<tr><td>Microarray</td><td>512</td></tr>
		<tr><td>Hemagglutination Inhibition</td><td>138</td></tr>
	</table>
	<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>none</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>New study</td>
		</tr>			
	</table>	
<hr>

<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>Immune Tolerance Network</td>
	</tr>
    <tr><td width="15%"><strong>Title:</strong></td>
		<td>FACTOR ITN507ST: Study of Tolerant Kidney Transplant Recipients</td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td> SDY546</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td> 88</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>Kenneth Newell MD, PhD, Emory University</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>The purpose of this multi-center (observational) registry study is to establish a database of clinical and laboratory information that may help to identify any unique characteristics of tolerant participants that differ from participants who reject their kidney after discontinuing immunosuppressive drugs. </td>
	<tr><td width="15%"><strong><b>Publication(s):</b></strong></td><td>&nbsp;</td></tr>
	<tr><td width="15%">&nbsp;</td><td>•	Identification of a B cell signature associated with renal transplant tolerance in humans.  Journal of Clinical Investigations. 2010 Jun;120(6):1836-47. doi: 10.1172/JCI39933 <a href='http://www.ncbi.nlm.nih.gov/pubmed/?term=20501946' title="PubMed - 20501946" target="new">[PubMed]</a></td></tr>
	<tr><td width="15%">&nbsp;</td><td>•	Donor-specific indirect pathway analysis reveals a B-cell-independent signature which reflects outcomes in kidney transplant recipients. American Journal of Transplantation. 2012 Mar;12(3):640-8. doi: 10.1111/j.1600-6143.2011.03869.x  <a href='http://www.ncbi.nlm.nih.gov/pubmed/?term=22151236' title="PubMed - 22151236" target="new">[PubMed]</a></td></tr>
	<tr><td width="15%"><b>ClinicalTrials.gov ID:</td><td><u><a href='https://www.clinicaltrials.gov/ct2/show/study/NCT01338779' target="new">NCT01338779</u></b></a></td></tr>
	<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>Leukocyte flow cytometry evaluation</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:  </b></strong></td>
			<td>updated with annotated CRF</td>
		</tr>			
	</table>
	<hr>
	
	
	<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>Immune Tolerance Network</td>
	</tr>
    	<tr><td width="15%"><strong>Title:</strong></td>
		<td>WISP-R ITN029ST: Withdrawal of Immunosuppression in Pediatric Liver Transplant Recipients</td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td> SDY662</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td> 25</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>Sandy Feng MD, University of California, San Francisco</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>Antirejection medicines are prescribed to organ transplant recipients to prevent new organ rejection. Long-term use places transplant recipients at higher risk of serious infections and certain types of cancer. The purpose of this study is to determine whether immunosuppressive drugs can be safely withdrawn over a minimum of 9 months from children who received liver transplants at least 4 years ago.</td>
	<tr><td width="15%"><strong><b>Publication(s):</b></strong></td><td>&nbsp;</td></tr>
	<tr><td width="15%">&nbsp;</td><td>Complete immunosuppression withdrawal and subsequent allograft function among pediatric recipients of parental living donor liver transplants. JAMA. 2012 Jan 18;307(3):283-93. doi: 10.1001/jama.2011.2014. <a href='http://www.ncbi.nlm.nih.gov/pubmed/?term=22253395' title="PubMed - 22253395" target="new">[PubMed]</a></td>
	</tr>
	<tr><td width="15%"><b>ClinicalTrials.gov ID:</td><td><u><a href='https://www.clinicaltrials.gov/ct2/show/study/NCT00320606' target="new">NCT00320606</u></b></a></td></tr>
	<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>allograft dysfunction, rejection history</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>updated with parsed assessment data</td>
		</tr>			
	</table>
<hr>
<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>Immune Tolerance Network</td>
	</tr>
    <tr><td width="15%"><strong>Title:</strong></td>
		<td>Miller-Burke ITN022ST: Using Donor Stem Cells and Alemtuzumab to Prevent Organ Rejection in Kidney Transplant Patients</td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td> SDY668</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td> 9</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>George Burke III MD, University of Miami, Florida</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>This study will evaluate treatment of kidney transplant recipients with alemtuzumab and other immune system suppressing medications with or without infusions of bone marrow stem cells from the kidney donor. The purpose of this study is to find out which strategy is more effective in preventing organ rejection and maintaining patient health.</td>
	<tr><td width="15%"><strong><b>Publication(s):</b></strong></td><td>none</td></tr>
	<tr><td width="15%"><b>ClinicalTrials.gov ID:</td><td><u><a href='https://www.clinicaltrials.gov/ct2/show/study/NCT00183248' target="new">NCT00183248</u></b></a></td></tr>
	<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
		<td>outcome data, alcohol and smoking history, glomerular filtration, lipid profile, etc.</td>
		</tr>
	<tr><td width="15%"><strong><b>Notes:</b></strong></td>
		<td>updated with parsed assessment data</td>
		</tr>			
	</table>	
<hr>
<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>Immune Tolerance Network</td>
	</tr>
    <tr><td width="15%"><strong>Title:</strong></td>
		<td>Knechtle ITN013ST: Combination Immunosuppressive Therapy to Prevent Kidney Transplant Rejection in AdultsSDY671</td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td> SDY671</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td> 20</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>Arjang D’jamali MD MS, Immune Tolerance Network</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>The purpose of this study is to test the safety and effectiveness of alemtuzumab in combination with sirolimus and tacrolimus, to prevent organ rejection after kidney transplantation. This study will test whether the medications allow patients to withdraw from anti-rejection medications.</td>
	<tr><td width="15%"><strong><b>Publication(s):</b></strong></td><td>&nbsp;</td></tr>
	<tr><td width="15%">&nbsp;</td><td>Early and limited use of tacrolimus to avoid rejection in an alemtuzumab and sirolimus regimen for kidney transplantation:  clinical results and immune monitoring. American Journal of Transplantation. 2009 May;9(5):1087-98. doi: 10.1111/j.1600-6143.2009.02581.x.  <a href='http://www.ncbi.nlm.nih.gov/pubmed/?term=19344431' title="PubMed - 19344431" target="new">[PubMed]</a></td>
	</tr>
	
	<tr><td width="15%"><b>ClinicalTrials.gov ID:</td><td><u><a href='https://www.clinicaltrials.gov/ct2/show/study/NCT00078559' target="new">NCT00078559</u></b></a></td></tr>
	<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>allograft dysfunction, blood transfusion history, etc</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>updated with parsed assessment data</td>
		</tr>			
	</table>	
<hr>
<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>Immune Tolerance Network</td>
	</tr>
    <tr><td width="15%"><strong>Title:</strong></td>
		<td>Vincenti ITN023ST: Belatacept to Prevent Organ Rejection in Kidney Transplant Patients </td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td> SDY674</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td> 10</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>Flavio Vincienti MD, University of California and Christian Larsen MD, Emory University</td>
	</tr>
	<tr><td width="15%"><strong><b>Publication(s):</b></strong></td><td>&nbsp;</td></tr>
	<tr><td width="15%">&nbsp;</td><td>Costimulation blockade with belatacept in renal transplantation. New England Journal of Medicine. 2005 Aug 25;353(8):770-81.     <a href='http://www.ncbi.nlm.nih.gov/pubmed/?term=16120857' title="PubMed - 16120857" target="new">[PubMed]</a></td>	</tr>
	
	<tr><td width="15%"><b>ClinicalTrials.gov ID:</td><td><u><a href='https://www.clinicaltrials.gov/ct2/show/study/NCT00346151' target="new">NCT00346151</u></b></a></td></tr>
	
	<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>CBC with differential, comprehensive metabolic panel</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>updated with parsed assessment data</td>
		</tr>			
	</table>	
<hr>
<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>Atopic Dermatitis & Vaccinia Network (ADVN) Clinical Studies Consortium</td>
	</tr>
    <tr><td width="15%"><strong>Title:</strong></td>
		<td>ADVN Biomarker Registry Study</td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td> SDY6</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td> 1229</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>Lisa Beck MD, University of Rochester Medical Center, Rochester, NY</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>The proposed Registry is a database with a minimum of 1,000 subjects to improve scientific understanding of the increased risk of complications after exposure to the smallpox vaccine for people with atopic dermatitis</td>
	<tr><td width="15%"><strong><b>Publication(s):</b></strong></td><td>none</td></tr>
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td>
	<tr><td>&nbsp;</td><td>
	<table border="1">
		<tr><td>Assay Type</td><td>Number of Exp. Samples</td></tr>
		<tr><td>ELISA</td><td>236</td></tr>
	</table>	
	<tr><td width="15%"><b>ClinicalTrials.gov ID:</td><td><u><a href='https://www.clinicaltrials.gov/ct2/show/study/NCT00550316' target="new">NCT00550316</u></b></a></td></tr>
	<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>Allergy history, concomitant medications, lab tests (CBC, IgE/RAST, etc)</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>Updated with parsed adverse events</td>
		</tr>			
	</table>	
<hr>
<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>HIPC Baylor - Systems Analysis Vaccine Responses in Healthy and Hyporesponsive Humans</td>
	</tr>
    <tr><td width="15%"><strong>Title:</strong></td>
		<td>Systems Biology Approach to Analysis of 2010-11 TIV Fluzone Influenza Vaccine Response in Healthy Individuals (see companion studies SDY301, SDY296)</td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td> SDY74</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td> 12</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>A. Karolina Palucka MD, PhD, Baylor University, Dallas, TX</td>
	</tr>
	<tr><td width="15%"><strong><b>Publication(s):</b></strong></td><td>&nbsp;</td></tr>
	<tr><td width="15%">&nbsp;</td><td>Induction of ICOS+CXCR3+CXCR5+ TH cells correlates with antibody responses to influenza vaccination. Science Translational Medicine. 2013 Mar 13;5(176):176ra32. doi: 10.1126/scitranslmed.3005191. <a href='http://www.ncbi.nlm.nih.gov/pubmed/?term=23486778" target="new">[PubMed]</a></td>	</tr>
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td>
	<tr><td>&nbsp;</td><td>	
	<table border="1">
		<tr><td>Assay Type</td><td>Number of Exp. Samples</td></tr>
		<tr><td>Flow Cytometry</td><td>459</td></tr>
		<tr><td>Microarray</td><td>60</td></tr>
	</table>	
	<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>concomitant medications, clinical lab tests</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>Updated with parsed CBC with differential, adverse events</td>
		</tr>			
	</table>	
<hr>
<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>HIPC Baylor - Systems Analysis Vaccine Responses in Healthy and Hyporesponsive Humans</td>
	</tr>
    <tr><td width="15%"><strong>Title:</strong></td>
		<td>Systems Biology Approach to Study Influenza Vaccine 2011-12 in Healthy Children (see companion studies SDY364, SDY368, SDY387)</td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td> SDY144</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td> 17</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>Octavio Ramilo MD, Center for Vaccines and Immunity, The Research Institute Department of Pediatrics, The Ohio State University College of Medicine, Columbus, Ohio</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>To characterize the cellular and transcriptional signatures of response to Flu vaccine in healthy children</td>
	<tr><td width="15%"><strong><b>Publication(s):</b></strong></td><td>None</td></tr>
	</tr>
	<tr><td width="15%"><strong><b>Publication(s):</b></strong></td><td>&nbsp;</td></tr>
	<tr><td width="15%">&nbsp;</td><td>Differences in antibody responses between trivalent inactivated influenza vaccine and live attenuated influenza vaccine correlate with the kinetics and magnitude of interferon signaling in children. The Journal of Infectious Diseases. 2014 Jul 15;210(2):224-33. doi: 10.1093/infdis/jiu079. Epub 2014 Feb 4 <a href='http://www.ncbi.nlm.nih.gov/pubmed/?term=24495909" target="new">[PubMed]</a></td>	</tr>
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td>
	<tr><td>&nbsp;</td><td>
	<table border="1">
		<tr><td>Assay Type</td><td>Number of Exp. Samples</td></tr>
		<tr><td>Flow Cytometry</td><td>486</td></tr>
		<tr><td>Microarray</td><td>60</td></tr>
		<tr><td>Hemagglutination Inhibition</td><td>32</td></tr>
		<tr><td>Virus Neutralization</td><td>96</td></tr>
	</table>
	<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>CBC with differential, comprehensive metabolic panel</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>Flow cytometry experiment split into 4 flow panel-specific experiments</td>
		</tr>			
	</table>	
<hr>
</table>