<h2>BISC/ImmPort Data Release 7 Studies</h2>

<h5>January 2014</h5>

<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>University of Rochester Center for Biodefense Immune Modeling</td>
	</tr>
    <tr><td width="15%"><strong>Title:</strong></td>
   		<td>Immune Response to Seasonal Influenza Vaccination in Humans</td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td>SDY224</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td> 14</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>Martin Zand,  Hulin Wu, University of Rochester Medical Center, Rochester, NY</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>Systems biology approach to compare differences in immune response to vaccination.</td>
	</tr>
	<tr><td width="15%"><strong><b>Publication(s):</b></strong></td>
		<td>&nbsp;</td>
	</tr>
	<tr><td width="15%">&nbsp;</td><td>Ki-67 expression reveals strong, transient influenza specific CD4 T cell responses after adult vaccination. <i>Vaccine</i> 2012 Jun 29;30(31):4581-4. doi: 10.1016/j.vaccine.2012.04.059.  <a href='http://www.ncbi.nlm.nih.gov/pubmed/22554464' title="PubMed - 22554464" target="new">[PubMed]</a></td></tr>
	<tr><td width="15%">&nbsp;</td><td>High-resolution temporal response patterns to influenza vaccine reveal a distinct human plasma cell gene signature.  <i>Scientific Reports</i> 2013;3:2327. doi: 10.1038/srep02327.  <a href='http://www.ncbi.nlm.nih.gov/pubmed/23900141' title="PubMed - 23900141" target="new">[PubMed]</a></td></tr>
	
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td>
	<tr><td>&nbsp;</td><td>
		<table border="1">
		<tr><td>Assay Type</td><td>Number of Exp. Samples</td></tr>
		<tr><td>ELISA</td><td>423</td></tr>
		<tr><td>ELISPOT</td><td>120</td></tr>
		<tr><td>Flow Cytometry</td><td>560</td></tr>
		<tr><td>Hemagglutination Inhibition</td><td>543</td></tr>
		<tr><td>Q-PCR</td><td>1548</td></tr>
		<tr><td>Sequencing</td><td>110</td></tr>
		</table>
	</td></tr>
		<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>None</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>New Study</td>
		</tr>			
	</table>
		
<hr>
<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>Multiscale Systems Immunology for Adjuvant Development</td>
	</tr>
    <tr><td width="15%"><strong>Title:</strong></td>
    	<td>Gene Expression Study of TLR Responses on Dendritic Cells 
		</td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td>SDY21</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td>  4</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>Thomas Kepler, Boston University School of Medicine, Boston, MA</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>Microarray and Luminex assays</td>
	</tr>
	<tr><td width="15%"><strong><b>Publication(s):</b></strong></td>
		<td>None</td><tr>
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td>
	<tr><td>&nbsp;</td><td>
		<table border="1">
		<tr><td>Assay Type</td><td>Number of Exp. Samples</td></tr>
		<tr><td>Array</td><td>1866</td></tr>
		<tr><td>Luminex xMap</td><td>150</td></tr>
		<tr><td>Flow Cytometry</td><td>5612</td></tr>
		</table>
	</td></tr>
		<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>None</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>New Study</td>
		</tr>			
	</table>	
		
<hr>
<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>Multiscale Systems Immunology for Adjuvant Development</td>
	</tr>
    <tr><td width="15%"><strong>Title:</strong></td>
    	<td>Determine anti-PA titer kinetics 
		</td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td>SDY29</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td> 48</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>Thomas Kepler, Boston University School of Medicine, Boston, MA</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>Determine anti-PA titer kinetics </td>
	</tr>
	<tr><td width="15%"><strong><b>Publication(s):</b></strong></td>
		<td>None</a></td>
	</tr>
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td>
	<tr><td>&nbsp;</td><td>
		<table border="1">
		<tr><td>Assay Type</td><td>Number of Exp. Samples</td></tr>
		<tr><td>ELISA</td><td>4192</td></tr>
		</table>
	</td></tr>
		<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>None</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>New Study</td>
		</tr>			
	</table>	
	
	<hr>
<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>Multiscale Systems Immunology for Adjuvant Development</td>
	</tr>
    <tr><td width="15%"><strong>Title:</strong></td>
    	<td>Comprehensive study of germinal center development and antibody response</td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td>SDY30</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td> 54</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>Thomas Kepler, Boston University School of Medicine, Boston, MA</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>To comprehensively study the humoral response to immunization with rPA with or without Alum using in vitro antibody analyses and tissue staining.  </td>
	</tr>
	<tr><td width="15%"><strong><b>Publication(s):</b></strong></td>
		<td>None</td>
	</tr>
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td>
	<tr><td>&nbsp;</td><td>
		<table border="1">
		<tr><td>Assay Type</td><td>Number of Exp. Samples</td></tr>
		<tr><td>ELISA</td><td>180</td></tr>
		<tr><td>Imaging Data</td><td>445</td></tr>
		</table>
	</td></tr>
		<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>None</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>New Study</td>
		</tr>			
	</table>	
	
	<hr>
<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>Multiscale Systems Immunology for Adjuvant Development</td>
	</tr>
    <tr><td width="15%"><strong>Title:</strong></td>
    	<td>Determining the effect of different adjuvants and doses on the immune response</td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td>  SDY31</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td> 96</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>Thomas Kepler, Boston University School of Medicine, Boston, MA</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>Inbred C57BL/6 female mice (8-10 weeks old) were immunized subcutaneously according to the 8 immunization groups. Serum samples were collected weekly from 2 staggered groups and analyzed for PA-specific (Total Ig, IgG1, IgG2a, and IgG3) and neutralizing antibody titers. Also, spleen, thymus, and brachial and inguinal lymph nodes will be harvested from 1 of each group at 4 time points for histology.</td>
	</tr>
	<tr><td width="15%"><strong><b>Publication(s):</b></strong></td>
		<td>None</a></td></td>
	</tr>
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td>
	<tr><td>&nbsp;</td><td>
		<table border="1">
		<tr><td>ELISA</td><td>1788</td></tr>
		<tr><td>Imaging Data</td><td>617</td></tr>
		</table>
	</td></tr>
		<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>None</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>New Study</a></td>
		</tr>			
	</table>	
	
	<hr>

<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>Multiscale Systems Immunology for Adjuvant Development</td>
	</tr>
    <tr><td width="15%"><strong>Title:</strong></td>
    	<td>Determining the effect of different adjuvants and doses on the immune response to rPA</td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td>SDY32</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td> 210</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>Thomas Kepler, Boston University School of Medicine, Boston, MA</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>Inbred C57BL/6 female mice (12-15 weeks old) were immunized subcutaneously according to the 7 immunization groups. Serum samples were collected weekly from subgroup A and analyzed serum antibody response using ELISA, Toxin Neutralization Assays, and Surface Plasmon Resonance. Also, brachial and inguinal lymph nodes were harvested from 3 of each group at 10 time points. Lymph nodes from one side of each mouse were used for histology and nodes from the other side were used for phenotyping by flow cytometry.</td>
	</tr>
	<tr><td width="15%"><strong><b>Publication(s):</b></strong></td>
		<td>None</td>
	</tr>
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td>
	<tr><td>&nbsp;</td><td>
		<table border="1">
		<tr><td>ELISA</td><td>2290</td></tr>
		<tr><td>Imaging Data</td><td>8309</td></tr>
		</table>
	</td></tr>
		<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>None</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>New Study</td>
		</tr>			
	</table>	
	
<hr>

<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>Multiscale Systems Immunology for Adjuvant Development</td>
	</tr>
    <tr><td width="15%"><strong>Title:</strong></td>
    	<td>Cooperation between DCs and basophils in TH2 response to papain</td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td>SDY256</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td> 211</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>Thomas Kepler, Boston University School of Medicine, Boston, MA</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>To investigate the contribution of dendritic cells and basophils to TH2 differentiation, induction with OVA and papain was used to investigate signaling in both in vivo and in vitro systems. </td>
	</tr>
	<tr><td width="15%"><strong><b>Publication(s):</b></strong></td>
		<td>The T helper type 2 response to cysteine proteases requires dendritic cell-basophil cooperation via ROS-mediated signaling <i>Nature Immunology</i> 2010 Jul;11(7):608-17. doi: 10.1038/ni.1883.  <a href='http://www.ncbi.nlm.nih.gov/pubmed/20495560' title="PubMed - 20495560" target="new">[PubMed]</a></td>
	</tr>
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td>
	<tr><td>&nbsp;</td><td>
		<table border="1">
		<tr><td>Flow Cytometry</td><td>221</td></tr>
		</table>
	</td></tr>
		<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>None</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>New Study</td>
		</tr>			
	</table>		

	<hr>

<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>Multiscale Systems Immunology for Adjuvant Development</td>
	</tr>
    <tr><td width="15%"><strong>Title:</strong></td>
    	<td>Dendritic cells and TH2 differentiation in <i>vivo</i></td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td>SDY258</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td> 281</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>Thomas Kepler, Boston University School of Medicine, Boston, MA</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>TH2 cell differentiation was investigated by measuring IL-4 output after OVA plus papain challenge in normal and dendritic-cell depleted mice. The role of migrating dermal dendritic cells in OVA plus papain challenge by blocking migration and depleting dendritic cell subtypes. </td>
	</tr>
	<tr><td width="15%"><strong><b>Publication(s):</b></strong></td>
		<td>The T helper type 2 response to cysteine proteases requires dendritic cell-basophil cooperation via ROS-mediated signaling <i>Nature Immunology</i> 2010 Jul;11(7):608-17. doi: 10.1038/ni.1883. <a href='http://www.ncbi.nlm.nih.gov/pubmed/20495560' title="PubMed - 20495560" target="new">[PubMed]</a></td>
	</tr>
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td>
	<tr><td>&nbsp;</td><td>
		<table border="1">
		<tr><td>Flow Cytometry</td><td>281</td></tr>
		</table>
	</td></tr>
		<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>None</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>New Study</td>
		</tr>			
	</table>	
	
	
	<hr>

<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>Multiscale Systems Immunology for Adjuvant Development</td>
	</tr>
    <tr><td width="15%"><strong>Title:</strong></td>
    	<td>Reactive oxygen species and TH2 responses to papain</td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td>SDY259</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td> 212</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>Thomas Kepler, Boston University School of Medicine, Boston, MA</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>The role of reactive oxygen species in the TH2 response to papain was investigated. The production of ROS by dendritic cells both in vivo and in vitro was examined as an inducer of TH2 differentiation and suppressor of TH1 differentiation. CD70 and IL-12 as effectors of ROS-mediated suppression of TH1 differentiation were investigated as well as the effect of ROS on IL-4-mediated TH2 response. </td>
	</tr>
	<tr><td width="15%"><strong><b>Publication(s):</b></strong></td>
		<td>The T helper type 2 response to cysteine proteases requires dendritic cell-basophil cooperation via ROS-mediated signaling <i>Nature Immunology</i> 2010 Jul;11(7):608-17. doi: 10.1038/ni.1883.  <a href='http://www.ncbi.nlm.nih.gov/pubmed/20495560' title="PubMed - 20495560" target="new">[PubMed]</a></td>
	</tr>
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td>
	<tr><td>&nbsp;</td><td>
		<table border="1">
		<tr><td>Array</td><td>8</td></tr>
		<tr><td>Flow Cytometry</td><td>204</td></tr>
		</table>
	</td></tr>
		<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>None</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>New Study</td>
		</tr>			
	</table>	
	
	
	<hr>

<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>Multiscale Systems Immunology for Adjuvant Development</td>
	</tr>
    <tr><td width="15%"><strong>Title:</strong></td>
    	<td>The role of TLR4 and TRIF signaling in TH2 response to papain </td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td>SDY260</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td> 110</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>Thomas Kepler, Boston University School of Medicine, Boston, MA</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>The role of TLR4 signaling in TH2 response to papain was measured by IL-4 and antibody production. The involvement of MyD88, TRIF, and oxidized phospholipids in the TLR4 pathway was examined. Basophil recruitment to the draining lymph node through dendritic-cell-secreted CCL7 was investigated as a component of the TLR4/TRIF pathway. </td>
	</tr>
	<tr><td width="15%"><strong><b>Publication(s):</b></strong></td>
		<td>The T helper type 2 response to cysteine proteases requires dendritic cell-basophil cooperation via ROS-mediated signaling <i>Nature Immunology</i> 2010 Jul;11(7):608-17. doi: 10.1038/ni.1883.   <a href='http://www.ncbi.nlm.nih.gov/pubmed/20495560' title="PubMed - 20495560" target="new">[PubMed]</a></td>
	</tr>
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td>
	<tr><td>&nbsp;</td><td>
		<table border="1">
		<tr><td>Flow Cytometry</td><td>110</td></tr>
		</table>
	</td></tr>
		<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>None</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>New Study</td>
		</tr>			
	</table>	
	
	
	<hr>

<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>Systems Analysis Vaccine Responses in Healthy and Hyporesponsive Humans</td>
	</tr>
    <tr><td width="15%"><strong>Title:</strong></td>
    	<td>Systems scale interactive exploration reveals quantitative and qualitative differences in response to influenza and pneumococcal vaccines  </td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td>SDY180</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td> 46</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>A. Karolina Palucka, Baylor Institute for Immunology Research, Dallas, TX</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>Systems approach to study immune response to seasonal influenza and 23-valent pneumoccocal vaccination in healthy adults.  </td>
	</tr>
	<tr><td width="15%"><strong><b>Publication(s):</b></strong></td>
		<td>Systems scale interactive exploration reveals quantitative and qualitative differences in response to influenza and pneumococcal vaccines. <i>Immunity</i> 2013 Apr 18;38(4):831-44. <a href='http://www.ncbi.nlm.nih.gov/pubmed/23601689' title="PubMed - 23601689" target="new">[PubMed]</a></td>
	</tr>
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td>
	<tr><td>&nbsp;</td><td>
		<table border="1">
		<tr><td>Array</td><td>542</td></tr>
		<tr><td>Flow Cytometry</td><td>2208</td></tr>
		<tr><td>Luminex xMAP</td><td>182</td></tr>
		<tr><td>Virus Neutralization</td><td>89</td></tr>
		</table>
	</td></tr>
		<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>None</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>Update flow cytometry marker annotation</td>
		</tr>			
	</table>	
	
	
	<hr>

<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>University of Rochester Center for Biodefense Immune Modeling</td>
	</tr>
    <tr><td width="15%"><strong>Title:</strong></td>
    	<td>Simulation and Prediction of the Adaptive Immune Response and Quantification of Early and Adaptive Immune Response Kinetics to Influenza A Virus Infection </td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td>SDY241</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td> 494</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>David Topham, Hulin Wu, University of Rochester, Rochester, NY</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>Modeling approaches were combined with experimental data to investigate innate and adaptive immune responses to IAV infection.</td>
	</tr>
	<tr><td width="15%"><strong><b>Publication(s):</b></strong></td><td>&nbsp;</td></tr>
	<tr><td width="15%">&nbsp;</td><td>Simulation and prediction of the adaptive immune response to influenza A virus infection. <i>Journal of Virology</i> 2009 Jul;83(14):7151-65. doi: 10.1128/JVI.00098-09 <a href='http://www.ncbi.nlm.nih.gov/pubmed/19439465' title="PubMed - 19439465" target="new">[PubMed]</a></td></tr>
	<tr><td width="15%">&nbsp;</td><td>Quantifying the early immune response and adaptive immune response kinetics in mice infected with influenza A virus.  <i>Journal of Virology</i> 2010 Jul;84(13):6687-98. doi: 10.1128/JVI.00266-10. <a href='http://www.ncbi.nlm.nih.gov/pubmed/20410284' title="PubMed - 20410284" target="new">[PubMed]</a></td></tr>
	<tr><td width="15%">&nbsp;</td><td>Modeling of influenza-specific CD8+ T cells during the primary response indicates that the spleen is a major source of effectors. <i>Journal of Immunology</i> 2011 Nov 1;187(9):4474-82. doi: 10.4049/jimmunol.1101443 <a href='http://www.ncbi.nlm.nih.gov/pubmed/21948988' title="PubMed - 21948988" target="new">[PubMed]</a></td></tr>
	<tr><td width="15%">&nbsp;</td><td>Functionally Distinct Subpopulations of CpG-Activated Memory B Cells.  <i>Scientific Reports</i> 2012;2:345. doi: 10.1038/srep00345.  <a href='http://www.ncbi.nlm.nih.gov/pubmed/22468229' title="PubMed - 22468229" target="new">[PubMed]</a></td></tr>
	<tr><td width="15%">&nbsp;</td><td>Ki-67 expression reveals strong, transient influenza specific CD4 T cell responses after adult vaccination. <i>Vaccine</i> 2012 Jun 29;30(31):4581-4. doi: 10.1016/j.vaccine.2012.04.059. <a href='http://www.ncbi.nlm.nih.gov/pubmed/22554464' title="PubMed - 22554464" target="new">[PubMed]</a></td></tr>
	<tr><td width="15%">&nbsp;</td><td>High-resolution temporal response patterns to influenza vaccine reveal a distinct human plasma cell gene signature.  <i>Scientific Reports</i> 2013;3:2327. doi: 10.1038/srep02327. <a href='http://www.ncbi.nlm.nih.gov/pubmed/23900141' title="PubMed - 23900141" target="new">[PubMed]</a></td></tr>
	
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td>
	<tr><td>&nbsp;</td><td>
		<table border="1">
		<tr><td>ELISA</td><td>1866</td></tr>
		<tr><td>ELISPOT</td><td>485</td></tr>
		<tr><td>Flow cytometry</td><td>5090</td></tr>
		</table>
	</td></tr>
		<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>None</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>Added 181 subjects, added and updated flow cytometry reagent links to experiment samples.</td>
		</tr>			
	</table>	
	