<h2>BISC/ImmPort Data Release 5 Studies</h2>

<h5>November 2013</h5>

<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>Generation and Decay of Memory T Cell in Young, Old and Immunocompromised Populations</td>
	</tr>
    <tr><td width="15%"><strong>Title:</strong></td>
   		<td>Decay of Memory T cells In Old Population
	</td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td>SDY60</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td> 70</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>Jack Gorski, Blood Center of Wisconsin, Milwaukee, WI</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>To expand our study of T cell memory repertoires in an aging population for which the repertoires may be decaying. These studies will provide data about the aging-specific dynamics of memory repertoires.</td>
	</tr>
	<tr><td width="15%"><strong><b>Publication(s):</b></strong></td>
		<td>Selective T cell expansion during aging of CD8 memory repertoires to influenza revealed by modeling. The Journal of Immunology 186.11 (2011): 6617-6624. <a href='http://www.ncbi.nlm.nih.gov/pubmed/21515795' title="PubMed - 21515795" target="new">[PubMed]</a></td>
	</tr>
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td>
	<tr><td>&nbsp;</td><td>
		<table border="1">
		<tr><td>Assay Type</td><td>Number of Exp. Samples</td></tr>
		<tr><td>Clonotype</td><td>106</td></tr>
		<tr><td>Flow Cytometry</td><td>539</td></tr>
		</table>
	</td></tr>
		<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>None</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>New Study</td>
		</tr>			
	</table>
		
<hr>
<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>Modeling Immunity to Enteric Pathogens (MIEP)</td>
	</tr>
    <tr><td width="15%"><strong>Title:</strong></td>
    	<td>Immune responses to Helicobacter pylori in a pig model
		</td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td>SDY110</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td>  15</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>Barbara Kronsteiner-Dobramysl, Virginia Bioinformatics Institute, Blacksburg, VA</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>With the objective of developing a large animal model of H. pylori infection, pigs were inoculated with either H. pylori strain SS1 or J99. Changes in peripheral blood mononuclear cell populations were monitored weekly, and mucosal immune responses and bacterial loads were assessed at day 57 post-infection.</td>
	</tr>
	<tr><td width="15%"><strong><b>Publication(s):</b></strong></td>
		<td>Helicobacter pylori infection in a pig model is dominated by Th1 and cytotoxic CD8+ T cell responses Infectious Immunity 2013 Oct;81(10):3803-13. doi: 10.1128/IAI.00660-13. Epub 2013 Jul 29 <a href='http://www.ncbi.nlm.nih.gov/pubmed/23897614' title="PubMed - 23897614" target="new">[PubMed]</a></td>
	</tr>
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td>
	<tr><td>&nbsp;</td><td>
		<table border="1">
		<tr><td>Assay Type</td><td>Number of Exp. Samples</td></tr>
		<tr><td>Flow Cytometry</td><td>171</td></tr>
		<tr><td>H. pylori reisolation</td><td>56</td></tr>
		<tr><td>Q-PCR</td><td>76</td></tr>
		</table>
	</td></tr>
		<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>None</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>New Study</td>
		</tr>			
	</table>	
		
<hr>
<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>Modeling Immunity to Enteric Pathogens (MIEP)</td>
	</tr>
    <tr><td width="15%"><strong>Title:</strong></td>
    	<td>The Role of Peroxisome Proliferator-Activated Receptor gamma in Immune Responses to Enteroaggregative Escherichia coli Infection
		</td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td>SDY148</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td> 243</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>Raquel Hontecillas, Virginia Bioinformatics Institute, Blacksburg, VA</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>Enteroaggregative Escherichia coli (EAEC) is recognized as an emerging cause of persistent diarrhea and enteric disease worldwide. Mucosal immunity towards EAEC infections is incompletely understood;due in part to the lack of appropriate animal models. This study presents a new mouse model and investigates the role of peroxisome proliferator-activated receptor gamma (PPARg) in the modulation of host responses to EAEC in nourished and malnourished mice. </td>
	</tr>
	<tr><td width="15%"><strong><b>Publication(s):</b></strong></td>
		<td>None</td>
	</tr>
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td>
	<tr><td>&nbsp;</td><td>
		<table border="1">
		<tr><td>Other</td><td>345</td></tr>
		</table>
	</td></tr>
		<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>None</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>New Study</td>
		</tr>			
	</table>	
	
	<hr>
<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>Modeling Immunity to Enteric Pathogens (MIEP)</td>
	</tr>
    <tr><td width="15%"><strong>Title:</strong></td>
    	<td>Impact of Nutrition and Nitazoxanide on EAEC Infection
		</td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td>SDY214</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td> 100</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>Josep Bassaganya-Riera, Virginia Bioinformatics Institute, Blacksburg, VA</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>Comparing EAEC JM221 to EAEC 042; comparing infection in nourished vs malnourished mice; studying the effect of NTZ on EAEC 042 infection </td>
	</tr>
	<tr><td width="15%"><strong><b>Publication(s):</b></strong></td>
		<td>None</td>
	</tr>
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td>
	<tr><td>&nbsp;</td><td>
		<table border="1">
		<tr><td>None</td><td>&nbsp;</td></tr>
		</table>
	</td></tr>
		<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>None</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>New Study</td>
		</tr>			
	</table>	
	
	<hr>
<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>Modeling Immunity to Enteric Pathogens (MIEP)</td>
	</tr>
    <tr><td width="15%"><strong>Title:</strong></td>
    	<td>CD4+ T cell differentiation studies
		</td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td>SDY216</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td> 91</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>Josep Bassaganya-Riera, Virginia Bioinformatics Institute, Blacksburg, VA</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>Experimental approaches were combined with computational modeling to investigate the mechanisms controlling differentiation and plasticity of CD4+ T cells in the gut of mice. The computational model encompasses the major intracellular pathways involved in CD4+ T cell differentiation into T helper 1 (Th1), Th2, Th17 and induced regulatory T cells (iTreg). Modeling efforts predicted a critical role for peroxisome proliferator-activated receptor gamma (PPARg) in modulating plasticity between Th17 and iTreg cells </td>
	</tr>
	<tr><td width="15%"><strong><b>Publication(s):</b></strong></td>
		<td>None</td>
	</tr>
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td>
	<tr><td>&nbsp;</td><td>
		<table border="1">
		<tr><td>Flow Cytometry</td><td>300</td></tr>
		</table>
	</td></tr>
		<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>None</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>New Study</td>
		</tr>			
	</table>	
	
	<hr>
<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>Influenza Pathogenesis & Immunology Research Center (IPIRC)</td>
	</tr>
    <tr><td width="15%"><strong>Title:</strong></td>
    	<td>Aerosol Inoculation with a Sub-lethal Influenza Virus Leads to Exacerbated Morbidity and Pulmonary Disease Pathogenesis
		</td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td>SDY225</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td> 5</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>Ralph Tripp, Influenza Pathogenesis & Immunology Research Center, Atlanta, GA</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>Examined how the method of inoculation affected immunity and disease pathogenesis in mice using mouseadaptedH3N2 A/Aichi/2/68 (x31)  </td>
	</tr>
	<tr><td width="15%"><strong><b>Publication(s):</b></strong></td>
		<td>Aerosol inoculation with a sub-lethal influenza virus leads to exacerbated morbidity and pulmonary disease pathogenesis. Viral Immunology, 2011 Apr;24(2):131-42. doi: 10.1089/vim.2010.0085. <a href='http://www.ncbi.nlm.nih.gov/pubmed/21449723' title="PubMed - 21449723" target="new">[PubMed]</a></td>
	</tr>
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td>
	<tr><td>&nbsp;</td><td>
		<table border="1">
		<tr><td>Flow Cytometry</td><td>10</td></tr>
		<tr><td>Luminex xMAP</td><td>2</td></tr>
		<tr><td>Microscopy</td><td>16</td></tr>
		<tr><td>Molecular Quantification</td><td>6</td></tr>
		<tr><td>Virus Titer</td><td>16</td></tr>
		</table>
	</td></tr>
		<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>None</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>New Study</td>
		</tr>			
	</table>	
	
	<hr>
<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>Modeling Immunity to Enteric Pathogens (MIEP)</td>
	</tr>
    <tr><td width="15%"><strong>Title:</strong></td>
    	<td>Predictive computational modeling of the mucosal immune responses during Helicobacter pylori infection
		</td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td>SDY230</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td> 53</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>Josep Bassaganya-Riera, Virginia Bioinformatics Institute, Blacksburg, VA</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>Our Helicobacter pylori computational models predicted that the cause of lesion formation during the chronic phase of disease is the effector immune responses and not the pathogenic effects of the bacterium itself. Mice will be set up as a maximum of 10 mice per group. 8-12 weeks old mice will be challenged with either PBS or 500uL 5*107 HP PMSS1 CFU/mL at days 0 and 2and mice will be fasted 12h prior to inoculation to increase colonization. Mice will be monitored on a daily basis.</td>
	</tr>
	<tr><td width="15%"><strong><b>Publication(s):</b></strong></td>
		<td>None</td>
	</tr>
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td>
	<tr><td>&nbsp;</td><td>
		<table border="1">
		<tr><td>Flow Cytometry</td><td>58</td></tr>
		<tr><td>Histology</td><td>10</td></tr>
		</table>
	</td></tr>
		<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>None</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>New Study</td>
		</tr>			
	</table>	
	
	<hr>
<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>Stanford HIPC Proj Blish_NK_Study-1</td>
	</tr>
    <tr><td width="15%"><strong>Title:</strong></td>
    	<td>Determinants of human NK cell diversity by mass cytometry
		</td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td>SDY232</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td> 22</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>Catherine Blish, Stanford University School of Medicine, Stanford, CA</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>To provide an unprecedented understanding of NK cell repertoire diversity, mass cytometry was used to simultaneously analyze 35 parameters, including 28 NK cell receptors, on peripheral blood NK cells from five sets of monozygotic twins and twelve unrelated donors of defined HLA and killer cell immunoglobulin-like receptor (KIR) genotype. This analysis revealed a remarkable degree of NK cell diversity, with an estimated 6,000-30,000 phenotypic populations within an individual and &gt;100,000 phenotypes in this population.</td>
	</tr>
	<tr><td width="15%"><strong><b>Publication(s):</b></strong></td>
		<td>Genetic and environmental determinants of human NK cell diversity revealed by mass cytometry.  Science Translational Medicine 2013 Oct 23;5(208):208ra145. doi: 10.1126/scitranslmed.3006702  <a href='http://www.ncbi.nlm.nih.gov/pubmed/24154599' title="PubMed - 24154599" target="new">[PubMed]</a></td>
	</tr>
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td>
	<tr><td>&nbsp;</td><td>
		<table border="1">
		<tr><td>Flow Cytometry, CyTOF</td><td>22</td></tr>
		</table>
	</td></tr>
		<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>None</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>New Study</td>
		</tr>			
	</table>	
	
	<hr>
<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>Responses to Influenza Vaccination in Systemic Lupus</td>
	</tr>
    <tr><td width="15%"><strong>Title:</strong></td>
    	<td>Responses to Influenza Vaccination in Systemic Lupus Year 1 2005-2006
		</td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td>SDY196</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td> 62</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>Linda Thompson, Oklahoma Medical Research Foundation, Oklahoma City, OK</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>Compare the major components of the normal immune response to flu vaccination in SLE patients and control subjects in order to identify abnormalities in SLE group of immunocompromised individuals. </td>
	</tr>
	<tr><td width="15%"><strong><b>Publication(s):</b></strong></td>
		<td>None</td>
	</tr>
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td>
	<tr><td>&nbsp;</td><td>
		<table border="1">
		<tr><td>ELISPOT</td><td>1488</td></tr>
		<tr><td>Flow Cytometry</td><td>1865</td></tr>
		<tr><td>Hemagglutination Inhibition</td><td>744</td></tr>
		</table>
	</td></tr>
		<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>None</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>Flow cytometry experiments combined based on flow cytometry panel</td>
		</tr>			
	</table>	
	
	<hr>
<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>Responses to Influenza Vaccination in Systemic Lupus</td>
	</tr>
    <tr><td width="15%"><strong>Title:</strong></td>
    	<td>Responses to Influenza Vaccination in Systemic Lupus Year 2 2006-2007
		</td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td>SDY197</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td> 63</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>Linda Thompson, Oklahoma Medical Research Foundation, Oklahoma City, OK</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>Compare the major components of the normal immune response to flu vaccination in SLE patients and control subjects in order to identify abnormalities in SLE group of immunocompromised individuals. </td>
	</tr>
	<tr><td width="15%"><strong><b>Publication(s):</b></strong></td>
		<td>None</td>
	</tr>
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td>
	<tr><td>&nbsp;</td><td>
		<table border="1">
		<tr><td>ELISPOT</td><td>1488</td></tr>
		<tr><td>Flow Cytometry</td><td>2311</td></tr>
		<tr><td>Hemagglutination Inhibition</td><td>744</td></tr>
		</table>
	</td></tr>
		<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>None</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>Flow cytometry experiments combined based on flow cytometry panel</td>
		</tr>			
	</table>	
	
	
	<hr>
<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>Responses to Influenza Vaccination in Systemic Lupus</td>
	</tr>
    <tr><td width="15%"><strong>Title:</strong></td>
    	<td>Responses to Influenza Vaccination in Systemic Lupus Year 3 2007-2008
		</td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td>SDY198</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td> 74</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>Linda Thompson, Oklahoma Medical Research Foundation, Oklahoma City, OK</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>Compare the major components of the normal immune response to flu vaccination in SLE patients and control subjects in order to identify abnormalities in SLE group of immunocompromised individuals. </td>
	</tr>
	<tr><td width="15%"><strong><b>Publication(s):</b></strong></td>
		<td>None</td>
	</tr>
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td>
	<tr><td>&nbsp;</td><td>
		<table border="1">
		<tr><td>ELISPOT</td><td>1488</td></tr>
		<tr><td>Flow Cytometry</td><td>2733</td></tr>
		<tr><td>Hemagglutination Inhibition</td><td>744</td></tr>
		</table>
	</td></tr>
		<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>None</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>Flow cytometry experiments combined based on flow cytometry panel</td>
		</tr>			
	</table>	
	
	<hr>
<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>Responses to Influenza Vaccination in Systemic Lupus</td>
	</tr>
    <tr><td width="15%"><strong>Title:</strong></td>
    	<td>Responses to Influenza Vaccination in Systemic Lupus Year 4 2008-2009
		</td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td>SDY199</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td> 69</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>Linda Thompson, Oklahoma Medical Research Foundation, Oklahoma City, OK</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>Compare the major components of the normal immune response to flu vaccination in SLE patients and control subjects in order to identify abnormalities in SLE group of immunocompromised individuals. </td>
	</tr>
	<tr><td width="15%"><strong><b>Publication(s):</b></strong></td>
		<td>None</td>
	</tr>
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td>
	<tr><td>&nbsp;</td><td>
		<table border="1">
		<tr><td>ELISPOT</td><td>1488</td></tr>
		<tr><td>Flow Cytometry</td><td>2440</td></tr>
		<tr><td>Hemagglutination Inhibition</td><td>744</td></tr>
		</table>
	</td></tr>
		<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>None</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>Flow cytometry experiments combined based on flow cytometry panel</td>
		</tr>			
	</table>	
	
	<hr>
<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>Responses to Influenza Vaccination in Systemic Lupus</td>
	</tr>
    <tr><td width="15%"><strong>Title:</strong></td>
    	<td>Responses to Influenza Vaccination in Systemic Lupus Year 5 2009-2010
		</td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td>SDY200</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td> 70</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>Linda Thompson, Oklahoma Medical Research Foundation, Oklahoma City, OK</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>Compare the major components of the normal immune response to flu vaccination in SLE patients and control subjects in order to identify abnormalities in SLE group of immunocompromised individuals. </td>
	</tr>
	<tr><td width="15%"><strong><b>Publication(s):</b></strong></td>
		<td>None</td>
	</tr>
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td>
	<tr><td>&nbsp;</td><td>
		<table border="1">
		<tr><td>ELISPOT</td><td>1488</td></tr>
		<tr><td>Flow Cytometry</td><td>635</td></tr>
		<tr><td>Hemagglutination Inhibition</td><td>744</td></tr>
		</table>
	</td></tr>
		<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>None</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>Flow cytometry experiments combined based on flow cytometry panel</td>
		</tr>			
	</table>	
	
	<hr>
<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>Responses to Influenza Vaccination in Systemic Lupus</td>
	</tr>
    <tr><td width="15%"><strong>Title:</strong></td>
    	<td>Responses to Influenza Vaccination in Systemic Lupus Year 6 2010-2011
		</td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td>SDY201</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td> 34</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>Linda Thompson, Oklahoma Medical Research Foundation, Oklahoma City, OK</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>Compare the major components of the normal immune response to flu vaccination in SLE patients and control subjects in order to identify abnormalities in SLE group of immunocompromised individuals.  </td>
	</tr>
	<tr><td width="15%"><strong><b>Publication(s):</b></strong></td>
		<td>None</td>
	</tr>
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td>
	<tr><td>&nbsp;</td><td>
		<table border="1">
		<tr><td>ELISPOT</td><td>1488</td></tr>
		<tr><td>Flow Cytometry</td><td>860</td></tr>
		<tr><td>Hemagglutination Inhibition</td><td>744</td></tr>
		</table>
	</td></tr>
		<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>None</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>Flow cytometry experiments combined based on flow cytometry panel</td>
		</tr>			
	</table>	