<h2>BISC/ImmPort Data Release 8 Studies</h2>

<h5>April 2014</h5>

<table>
	<tr><td><strong>Study updates:  Planned Visits have been added to, or updated in, existing studies.</strong></td></tr>
</table>
<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>Influenza Pathogenesis &amp; Immunology Research Center (IPIRC)</td>
	</tr>
    <tr><td width="15%"><strong>Title:</strong></td>
   		<td>MicroRNA Regulation of Human Protease Genes</td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td> SDY261</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td> 1</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>Ralph Tripp, CEIRS, Emory University, Atlanta, GA</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>Human protease genes required for influenza virus replication were determined and validated using RNA interference approaches. Genes validated as critical for influenza virus replication were ADAMTS7, CPE, DPP3, MST1, and PRSS12.  Pathway analysis showed these genes were in global host cell pathways governing inflammation (NF-kB), cAMP/calcium signaling (CRE/CREB), and apoptosis.</td>
	</tr>
	<tr><td width="15%"><strong><b>Publication(s):</b></strong></td><td>&nbsp;</td>
	</tr>
	<tr><td width="15%">&nbsp;</td><td>MicroRNA regulation of human protease genes essential for influenza virus replication.  <i>PLoS One.</i>  2012;7(5):e37169. doi: 10.1371/journal.pone.0037169  <a href='http://www.ncbi.nlm.nih.gov/pubmed/22606348' title="PubMed - 22606348" target="new">[PubMed]</a></td></tr>
	
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td>
	<tr><td>&nbsp;</td><td>
		<table border="1">
		<tr><td>Assay Type</td><td>Number of Exp. Samples</td></tr>
		<tr><td>Array</td><td>4</td></tr>
		<tr><td>Liquid chromatography</td><td>8</td></tr>
		<tr><td>Protein quantification</td><td>28</td></tr>
		<tr><td>Q-PCR</td><td>13</td></tr>
		<tr><td>TCID50</td><td>23</td></tr>
		</table>
	</td></tr>
		<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>None</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>New Study</td>
		</tr>			
	</table>
		
<hr>
<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td> Influenza Pathogenesis &amp; Immunology Research Center (IPIRC)</td>
	</tr>
    <tr><td width="15%"><strong>Title:</strong></td>
    	<td>Strategies to alleviate original antigenic sin</td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td>SDY264</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td>  21</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>Joshy Jacob, CEIRS, Emory University, Atlanta, GA</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>Explored strategies to overcome original antigenic sin responses in mice sequentially exposed to two closely related H1N1 influenza strains A/PR/8/34 and A/FM/1/47.</td>
	</tr>
	<tr><td width="15%"><strong><b>Publication(s):</b></strong></td><td>&nbsp;</td></tr>
	<tr><td width="15%">&nbsp;</td><td>Strategies to alleviate original antigenic sin responses to influenza viruses. <i>Proceedings of the National Academy of Sciences of the United States of America.</i> 2012 Aug 21;109(34):13751-6. doi: 10.1073/pnas.0912458109   <a href='http://www.ncbi.nlm.nih.gov/pubmed/22869731' title="PubMed - 22869731" target="new">[PubMed]</a></td></tr>
	
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td>
	<tr><td>&nbsp;</td><td>
		<table border="1">
		<tr><td>Assay Type</td><td>Number of Exp. Samples</td></tr>
		<tr><td>Plaque Assay</td><td>13</td></tr>
		<tr><td>Virus Neutralization</td><td>59</td></tr>
		<tr><td>ELISPOT</td><td>8</td></tr>
		</table>
	</td></tr>
		<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>None</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>New Study</td>
		</tr>			
	</table>	
		
<hr>
<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>Immune Tolerance Network, Casale</td>
	</tr>
    <tr><td width="15%"><strong>Title:</strong></td>
    	<td>Efficacy and Safety Evaluation of Allergen Immunotherapy co-Administered with Omalizumab (an anti-IgE Monoclonal Antibody</td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td>SDY1</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td> 159</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>Thomas Casale, Creighton University, Omaha, Nebraska</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>A series of allergy shots may reduce symptoms of seasonal ragweed allergies. This study will determine whether taking a drug called omalizumab (also known as Xolair) before getting the allergy shots is more effective than allergy shots alone or other treatments, such as prescription antihistamines.</td>
	</tr>
	<tr><td width="15%"><strong><b>Publication(s):</b></strong></td><td>&nbsp;</td></tr>
		<tr><td width="15%">&nbsp;</td><td>Omalizumab pretreatment decreases acute reactions after rush immunotherapy for ragweed-induced seasonal allergic rhinitis. <i>Journal of Allergy and Clinical Immunology</i> 2006 Jan;117(1):134-40.  <a href='http://www.ncbi.nlm.nih.gov/pubmed/16387596' title="PubMed - 16387596" target="new">[PubMed]</a></td></tr>
		<tr><td width="15%">&nbsp;</td><td>Combination treatment with omalizumab and rush immunotherapy for ragweed-induced allergic rhinitis: Inhibition of IgE-facilitated allergen binding.  <i>Journal of Allergy and Clinical Immunology</i> 2007 Sep;120(3):688-95 <a href='http://www.ncbi.nlm.nih.gov/pubmed/17631952' title="PubMed - 17631952" target="new">[PubMed]</a></td></tr>
	
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td>
	<tr><td>&nbsp;</td><td>
		<table border="1">
		<tr><td>Assay Type</td><td>Number of Exp. Samples</td></tr>
		<tr><td>ELISA</td><td>4376</td></tr>
		<tr><td>Flow Cytometry</td><td>14462</td></tr>
		</table>
	</td></tr>
		<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>Allergen history, food allergy, immunotherapy history, adverse events, concomitant medications, allergy skin reaction measurement, etc.</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>Updated planned visits for PV65-96</td>
		</tr>			
	</table>	
	
	<hr>

<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>Influenza Pathogenesis & Immunology Research Center (IPIRC)</td>
	</tr>
    <tr><td width="15%"><strong>Title:</strong></td>
    	<td>Systems Biology of Seasonal Influenza Vaccination in Humans</td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td>SDY61</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td> 10</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>Bali Pulendran, Emory Vaccine Center, Atlanta, GA</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>Using a systems biology approach to study innate and adaptive responses to influenza vaccination in humans during 3 consecutive influenza seasons</td>
	</tr>
	<tr><td width="15%"><strong><b>Publication(s):</b></strong></td><td>&nbsp;</td></tr>
	<tr><td width="15%">&nbsp;</td><td>Systems biology of vaccination for seasonal influenza in humans.  <i>Nature Immunology</i> 2011 Jul 10;12(8):786-95. doi: 10.1038/ni.2067.  <a href='http://www.ncbi.nlm.nih.gov/pubmed/21743478' title="PubMed - 21743478" target="new">[PubMed]</a></td></tr>
	
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td>
	<tr><td>&nbsp;</td><td>
		<table border="1">
		<tr><td>Assay Type</td><td>Number of Exp. Samples</td></tr>
		<tr><td>Hemagglutination Inhibition</td><td>54</td></tr>
		<tr><td>FCM</td><td>4</td></tr>
		<tr><td>Array</td><td>27</td></tr>
		<tr><td>Q-PCR</td><td>27</td></tr>
		</table>
	</td></tr>
		<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>None</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>Updated--Split study into 4 studies (SDY61, SDY269, SDY270, and SDY271) to reflect vaccine years</td>
		</tr>			
	</table>	
	
	<hr>

<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>Influenza Pathogenesis & Immunology Research Center (IPIRC)</td>
	</tr>
    	<tr><td width="15%"><strong>Title:</strong></td>
    	<td>Systems Biology of Seasonal Influenza Vaccination in Humans</td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td>  SDY269</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td> 63</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>Systems Biology of Seasonal Influenza Vaccination in Humans</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>Using a systems biology approach to study innate and adaptive responses to influenza vaccination in humans during 3 consecutive influenza seasons</td>
	</tr>
	<tr><td width="15%"><strong><b>Publication(s):</b></strong></td><td>&nbsp;</td></tr>
	<tr><td width="15%">&nbsp;</td><td>Systems biology of vaccination for seasonal influenza in humans.  <i>Nature Immunology 2011</i> Jul 10;12(8):786-95. doi: 10.1038/ni.2067.  <a href='http://www.ncbi.nlm.nih.gov/pubmed/21743478' title="PubMed - 21743478" target="new">[PubMed]</a></td></tr>
	
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td>
	<tr><td>&nbsp;</td><td>
		<table border="1">
		<tr><td>Assay Type</td><td>Number of Exp. Samples</td></tr>
		<tr><td>Hemagglutination Inhibition</td><td>336</td></tr>
		<tr><td>FCM</td><td>59</td></tr>
		<tr><td>Array</td><td>263</td></tr>
		<tr><td>Q-PCR</td><td>75</td></tr>
		<tr><td>ELISPOT</td><td>336</td></tr>
		<tr><td>Luminex_xMAP</td><td>168</td></tr>
		</table>
	</td></tr>
		<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>None</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>Updated--Split study across 4 studies (SDY61, SDY269, SDY270, and SDY271) to reflect vaccine years</td>
		</tr>			
	</table>	
	
	<hr>

<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>Influenza Pathogenesis & Immunology Research Center (IPIRC)</td>
	</tr>
    <tr><td width="15%"><strong>Title:</strong></td>
    	<td>Systems Biology of Seasonal Influenza Vaccination in Humans</td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td>SDY270</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td> 30</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>Bali Pulendran, Emory Vaccine Center, Atlanta, GA</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>Using a systems biology approach to study innate and adaptive responses to influenza vaccination in humans during 3 consecutive influenza seasons</td>
	</tr>
	<tr><td width="15%"><strong><b>Publication(s):</b></strong></td><td>&nbsp;</td></tr>
	<tr><td width="15%">&nbsp;</td><td>Systems biology of vaccination for seasonal influenza in humans.  <i>Nature Immunology</i> 2011 Jul 10;12(8):786-95. doi: 10.1038/ni.2067. <a href='http://www.ncbi.nlm.nih.gov/pubmed/22554464' title="PubMed - 22554464" target="new">[PubMed]</a></td></tr>
	
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td>
	<tr><td>&nbsp;</td><td>
		<table border="1">
		<tr><td>Assay Type</td><td>Number of Exp. Samples</td></tr>
		<tr><td>Q-PCR</td><td>90</td></tr>
		</table>
	</td></tr>
		<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>None</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>Updated--Split study across 4 studies (SDY61, SDY269, SDY270, and SDY271) to reflect vaccine years</td>
		</tr>			
	</table>	
	
<hr>

<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>Influenza Pathogenesis & Immunology Research Center (IPIRC)</td>
	</tr>
    	<tr><td width="15%"><strong>Title:</strong></td>
    	<td>Systems Biology of Seasonal Influenza Vaccination in Humans</td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td>SDY271</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td> 36</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>Bali Pulendran, Emory Vaccine Center, Atlanta, GA</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>Using a systems biology approach to study innate and adaptive responses to influenza vaccination in humans during 3 consecutive influenza seasons</td>
	</tr>
	<tr><td width="15%"><strong><b>Publication(s):</b></strong></td><td>&nbsp;</td></tr>
	<tr><td width="15%">&nbsp;</td><td>Systems biology of vaccination for seasonal influenza in humans.  <i>Nature Immunology</i> 2011 Jul 10;12(8):786-95. doi: 10.1038/ni.2067. <a href='http://www.ncbi.nlm.nih.gov/pubmed/21743478' title="PubMed - 21743478" target="new">[PubMed]</a></td>
	</tr>
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td>
	<tr><td>&nbsp;</td><td>
		<table border="1">
		<tr><td>Assay Type</td><td>Number of Exp. Samples</td></tr>
		<tr><td>Q-PCR</td><td>4</td></tr>
		<tr><td>ELISA</td><td>100</td></tr>
		<tr><td>Immunoblot</td><td>26</td></tr>
		</table>
	</td></tr>
		<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>None</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>Split study across 4 studies (SDY61, SDY269, SDY270, and SDY271) to reflect vaccine years</td>
		</tr>			
	</table>		

	<hr>

<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>NIAID Vaccine Research Center (VRC)</td>
	</tr>
    <tr><td width="15%"><strong>Title:</strong></td>
    	<td>VRC304 - A Phase I Study of the Safety and Immunogenicity of a Recombinant DNA Plasmid Vaccine (VRC-AVIDNA036-00-VP) Encoding for the Influenza Virus H5 Hemagglutinin Protein in Healthy Adults</td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td>SDY167</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td> 45</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>Julie Ledgerwood, Vaccine Research Center, National Institutes of Health, Bethesda, MD</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>VRC304 - A Phase I, double-blind, placebo-controlled, randomized, dose escalation study to evaluate safety, tolerability, and immunogenicity of a recombinant DNA vaccine against the influenza virus hemagglutinin H5. </td>
	</tr>
	<tr><td width="15%"><strong><b>Publication(s):</b></strong></td>
		<td>&nbsp;</td></tr>
	<tr><td width="15%">&nbsp;</td><td>Influenza virus h5 DNA vaccination is immunogenic by intramuscular and intradermal routes in humans. <i>Clinical Vaccine Immunology</i> 12 Nov;19(11):1792-7. doi: 10.1128/CVI.05663-11  <a href='http://www.ncbi.nlm.nih.gov/pubmed/22956656' title="PubMed - 22956656" target="new">[PubMed]</a></td>
	</tr>
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td>
	<tr><td>&nbsp;</td><td>
		<table border="1">
		<tr><td>Assay Type</td><td>Number of Exp. Samples</td></tr>
		<tr><td>ELISA</td><td>430</td></tr>
		<tr><td>ELISPOT</td><td>300</td></tr>
		<tr><td>Flow Cytometry</td><td>874</td></tr>
		<tr><td>Hemagglutination Inhibition</td><td>44</td></tr>
		<tr><td>Virus Neutralization</td><td>88</td></tr>
		</table>
	</td></tr>
		<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>None</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td> Flow Cytometry experiment controls assigned experiment sample accession numbers and linked to treatment records.</td>
		</tr>			
	</table>	
	

	<hr>

<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>Systems Analysis Vaccine Responses in Healthy and Hyporesponsive Humans</td>
	</tr>
    <tr><td width="15%"><strong>Title:</strong></td>
    	<td>Systems scale interactive exploration reveals quantitative and qualitative differences in response to influenza and pneumococcal vaccines</td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td>SDY180</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td> 46</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td> A. Karolina Palucka, Baylor Institute for Immunology Research, Dallas, TX</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>Systems approach to study immune response to seasonal influenza and 23-valent pneumoccocal vaccination in healthy adults. </td>
	</tr>
	<tr><td width="15%"><strong><b>Publication(s):</b></strong></td><td>&nbsp;</td></tr>
	<tr><td width="15%">&nbsp;</td><td>Systems scale interactive exploration reveals quantitative and qualitative differences in response to influenza and pneumococcal vaccines. <i>Immunity</i> 2013 Apr 18;38(4):831-44. <a href='http://www.ncbi.nlm.nih.gov/pubmed/23601689' title="PubMed - 23601689" target="new">[PubMed]</a></td>
	</tr>
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td>
	<tr><td>&nbsp;</td><td>
		<table border="1">
		<tr><td>Assay Type</td><td>Number of Exp. Samples</td></tr>
		<tr><td>Array</td><td>542</td></tr>
		<tr><td>Flow Cytometry</td><td>2208</td></tr>
		<tr><td>Luminex xMAP</td><td>182</td></tr>
		<tr><td>Virus Neutralization</td><td>89</td></tr>
		</table>
	</td></tr>
		<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>None</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>Virus neutralization experiment updated to HAI.</td>
		</tr>			
	</table>	
	
		
	<hr>

<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>Vaccination and Infection:  Indicators of Immunologic Health and Responsiveness</td>
	</tr>
    	<tr><td width="15%"><strong>Title:</strong></td>
    	<td>Apoptosis and other immune biomarkers predict influenza vaccine responsiveness </td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td>SDY212</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td> 91</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>Mark M. Davis, Stanford University School of Medicine, Stanford, CA</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>In an effort to indentify benchmarks of immunological health, influenza vaccination was used in 30 young (20 to 30 years) and 59 older subjects (60 to 89 years) as models for strong and weak immune responses, respectively.</td>
	</tr>
	<tr><td width="15%"><strong><b>Publication(s):</b></strong></td><td>&nbsp;</td></tr>
	<tr><td width="15%">&nbsp;</td><td>Apoptosis and other immune biomarkers predict influenza vaccine responsiveness.  <i>Molecular Systems Biology</i> 2013 Apr 16;9:659. doi: 10.1038/msb.2013.15.  <a href='http://www.ncbi.nlm.nih.gov/pubmed/23591775' title="PubMed - 23591775" target="new">[PubMed]</a></td>
	</tr>
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td>
	<tr><td>&nbsp;</td><td>
		<table border="1">
		<tr><td>Assay Type</td><td>Number of Exp. Samples</td></tr>
		<tr><td>Hemagglutination Inhibition</td><td>534</td></tr>
		<tr><td>DNA Microarray</td><td>91</td></tr>
		<tr><td>Peptide Microarray</td><td>91</td></tr>
		<tr><td>PhosphoFlow</td><td>63</td></tr>
		<tr><td>Flow Cytometry</td><td>540</td></tr>
		<tr><td>MBAA, Luminex</td><td>91</td></tr>
		</table>
	</td></tr>
		<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>None</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>Updated HAI to include Visit 3</td>
		</tr>			
	</table>	
	
	
	<hr>

<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>University of Rochester Center for Biodefense Immune Modeling</td>
	</tr>
    <tr><td width="15%"><strong>Title:</strong></td>
    	<td>Immune Response to Seasonal Influenza Vaccination in Humans </td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td>SDY224</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td> 14</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>Martin Zand, Hulin Wu, University of Rochester Medical Center, Rochester, NY</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td> Systems biology approach to compare differences in immune response to vaccination</td>
	</tr>
	<tr><td width="15%"><strong><b>Publication(s):</b></strong></td><td>&nbsp;</td></tr>
		<tr><td width="15%">&nbsp;</td><td>Ki-67 expression reveals strong, transient influenza specific CD4 T cell responses after adult vaccination.  <i>Vaccine</i> 2012 Jun 29;30(31):4581-4. doi: 10.1016/j.vaccine.2012.04.059. <a href='http://www.ncbi.nlm.nih.gov/pubmed/22554464' title="PubMed - 22554464" target="new">[PubMed]</a></td></tr>
		<tr><td width="15%">&nbsp;</td><td>High-resolution temporal response patterns to influenza vaccine reveal a distinct human plasma cell gene signature.  <i>Scientific Reports</i> 2013;3:2327. doi: 10.1038/srep02327.  <a href='http://www.ncbi.nlm.nih.gov/pubmed/23900141' title="PubMed - 23900141" target="new">[PubMed]</a></td>
		</tr>
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td>
	<tr><td>&nbsp;</td><td>
		<table border="1">
		<tr><td>Assay Type</td><td>Number of Exp. Samples</td></tr>
		<tr><td>ELISA</td><td>423</td></tr>
		<tr><td>ELISPOT</td><td>120</td></tr>
		<tr><td>Flow Cytometry</td><td>560</td></tr>
		<tr><td>Hemagglutination Inhibition</td><td>543</td></tr>
		<tr><td>Q-PCR</td><td>1548</td></tr>
		<tr><td>RNA sequencing</td><td>110</td></tr>
		</table>
	</td></tr>
		<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>None</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>Updates made to RNA-seq summary results</td>
		</tr>			
	</table>	
		
	<hr>

<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>University of Rochester Center for Biodefense Immune Modeling</td>
	</tr>
    <tr><td width="15%"><strong>Title:</strong></td>
    	<td>Simulation and Prediction of the Adaptive Immune Response and Quantification of Early and Adaptive Immune Response Kinetics to Influenza A Virus Infection</td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td>SDY241</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td> 495</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>David Topham, Hulin Wu, University of Rochester, Rochester, NY</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>Modeling approaches were combined with experimental data to investigate innate and adaptive immune responses to IAV infection.</td>
	</tr>
	<tr><td width="15%"><strong><b>Publication(s):</b></strong></td><td>&nbsp;</td></tr>
	<tr><td width="15%">&nbsp;</td><td>Simulation and prediction of the adaptive immune response to influenza A virus infection.  <i>Journal of Virology</i> 2009 Jul;83(14):7151-65. doi: 10.1128/JVI.00098-09 <a href='http://www.ncbi.nlm.nih.gov/pubmed/19439465' title="PubMed - 19439465" target="new">[PubMed]</a></td></tr>
	<tr><td width="15%">&nbsp;</td><td>Quantifying the early immune response and adaptive immune response kinetics in mice infected with influenza A virus.  <i>Journal of Virology</i> 2010 Jul;84(13):6687-98. doi: 10.1128/JVI.00266-10. <a href='http://www.ncbi.nlm.nih.gov/pubmed/20410284' title="PubMed - 20410284" target="new">[PubMed]</a></td></tr>
	<tr><td width="15%">&nbsp;</td><td>Modeling of influenza-specific CD8+ T cells during the primary response indicates that the spleen is a major source of effectors. <i>Journal of Immunology</i> 2011 Nov 1;187(9):4474-82. doi: 10.4049/jimmunol.1101443 <a href='http://www.ncbi.nlm.nih.gov/pubmed/21948988' title="PubMed - 21948988" target="new">[PubMed]</a></td></tr>
	
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td>
	<tr><td>&nbsp;</td><td>
		<table border="1">
		<tr><td>Assay Type</td><td>Number of Exp. Samples</td></tr>
		<tr><td>ELISA</td><td>1866</td></tr>
		<tr><td>ELISPOT</td><td>485</td></tr>
		<tr><td>Flow cytometry</td><td>5090</td></tr>
		<tr><td>Array</td><td>71</td></tr>
		<tr><td>PCR</td><td>396</td></tr>
		</table>
	</td></tr>
		<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>None</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td> Updated--added Array and PCR virus quantification experiments.</td>
		</tr>			
	</table>	
<hr>

<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>Modeling Immunity to Enteric Pathogens (MIEP)</td>
	</tr>
    <tr><td width="15%"><strong>Title:</strong></td>
    	<td>SWHP03 A novel pig model of Helicobacter pylori infection demonstrating Th1 and cytotoxic T cell responses</td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td>SDY262</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td> 35</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>Josep Bassaganya-Riera, Virginia Bioinformatics Institute, Blacksburg, VA</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>This time-course study assesses systemic and local immune responses in pigs challenged with a European and African strain of Helicobacter pylori. Immunophenotype and gene expression was assessed in peripheral blood mononuclear cells every week over a course of 2 months.</td>
	</tr>
	<tr><td width="15%"><strong><b>Publication(s):</b></strong></td><td>&nbsp;</td></tr>
	<tr><td width="15%">&nbsp;</td><td>Helicobacter pylori infection in a pig model is dominated by Th1 and cytotoxic CD8+ T cell responses <i>Infectious Immunity</i> 2013 Oct;81(10):3803-13. doi: 10.1128/IAI.00660-13  <a href='http://www.ncbi.nlm.nih.gov/pubmed/23897614' title="PubMed - 23897614" target="new">[PubMed]</a></td></tr>
	
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td>
	<tr><td>&nbsp;</td><td>
		<table border="1">
		<tr><td>Assay Type</td><td>Number of Exp. Samples</td></tr>
		<tr><td>Bacterial re-isolation</td><td>168</td></tr>
		<tr><td>ELISPOT</td><td>140</td></tr>
		<tr><td>Flow cytometry</td><td>2785</td></tr>
		<tr><td>Q-PCR</td><td>234</td></tr>
		<tr><td>Microscopy</td><td>156</td></tr>
		</table>
	</td></tr>
		<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>None</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>Updates made to Re-isolation experiment.</td>
		</tr>			
	</table>	
	