<h2>BISC/ImmPort Data Release 10 Studies</h2>

<h5>June 2014</h5>

<table>
	<tr><td><strong>Study updates:  Planned Visits have been added to, or updated in, existing studies.</strong></td></tr>
</table>
<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>University of Pittsburgh Center for Modeling Immunity for Biodefense</td>
	</tr>
    <tr><td width="15%"><strong>Title:</strong></td>
   		<td>Modeling Pulmonary Immunity:  Evaluation of the Innate Immune Response to Pathogens <i>Francisella tularensis, Mycobacterium tuberculosis</i> and Influenza A virus in cynomolgus macaque</td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td> SDY286</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td> 24</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>Penelope Morel, M.D., University of Pittsburgh, Pittsburgh, PA</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>Alveolar macrophages from mice and macaques following infection with viral and bacterial pathogens were used to determine the similarities and differences to invading pulmonary pathogens.</td>
	</tr>
	<tr><td width="15%"><strong><b>Publication(s):</b></strong></td><td>&nbsp;</td>
	</tr>
	<tr><td width="15%">&nbsp;</td><td>Large scale comparison of innate responses to viral and bacterial pathogens in mouse and macaque. <i>PLoS One.</i>  2011;6(7):e22401. doi: 10.1371/journal.pone.0022401  <a href='http://www.ncbi.nlm.nih.gov/pubmed/21789257' title="PubMed - 21789257" target="new">[PubMed]</a></td></tr>
	
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td>
	<tr><td>&nbsp;</td><td>
		<table border="1">
		<tr><td>Assay Type</td><td>Number of Exp. Samples</td></tr>
		<tr><td>Flow Cytometry</td><td>796</td></tr>
		<tr><td>Luminex</td><td>46</td></tr>
		<tr><td>Array</td><td>258</td></tr>
		</table>
	</td></tr>
		<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>None</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>New Study</td>
		</tr>			
	</table>
		
<hr>
<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>University of Pittsburgh Center for Modeling Immunity for Biodefense</td>
	</tr>
    <tr><td width="15%"><strong>Title:</strong></td>
   		<td>Modeling Pulmonary Immunity:  Evaluation of the Innate Immune Response to Pathogens <i>Francisella tularensis, Mycobacterium tuberculosis</i> and Influenza A virus in mice (C57BL/6, BALB/c)</td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td> SDY288</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td> 876</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>Penelope Morel, M.D., University of Pittsburgh, Pittsburgh, PA</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>Alveolar macrophages from mice and macaques following infection with viral and bacterial pathogens were used to determine the similarities and differences to invading pulmonary pathogens.</td>
	</tr>
	<tr><td width="15%"><strong><b>Publication(s):</b></strong></td><td>&nbsp;</td></tr>
	<tr><td width="15%">&nbsp;</td><td>Large scale comparison of innate responses to viral and bacterial pathogens in mouse and macaque. <i>PLoS One.</i> 2011;6(7):e22401. doi: 10.1371/journal.pone.0022401  <a href='http://www.ncbi.nlm.nih.gov/pubmed/21789257' title="PubMed - 21789257" target="new">[PubMed]</a></td></tr>
	
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td>
	<tr><td>&nbsp;</td><td>
		<table border="1">
		<tr><td>Assay Type</td><td>Number of Exp. Samples</td></tr>
		<tr><td>Array</td><td>381</td></tr>
		<tr><td>Cell Culture</td><td>52</td></tr>
		<tr><td>ELISPOT</td><td>12</td></tr>
		<tr><td>Flow Cytometry</td><td>1427</td></tr>
		<tr><td>Luminex</td><td>148</td></tr>
		</table>
	</td></tr>
		<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>None</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>New Study</td>
		</tr>			
	</table>	
		
<hr>
<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>Influenza Pathogenesis & Immunology Research Center (IPIRC)</td>
	</tr>
    <tr><td width="15%"><strong>Title:</strong></td>
    	<td>Systems Biology of Seasonal Influenza Vaccination in Humans</td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td>SDY61</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td> 10</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>Bali Pulendran, Emory Vaccine Center, Atlanta, GA</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>Using a systems biology approach to study innate and adaptive responses to influenza vaccination in humans during 3 consecutive influenza seasons.</td>
	</tr>
	<tr><td width="15%"><strong><b>Publication(s):</b></strong></td><td>&nbsp;</td></tr>
		<tr><td width="15%">&nbsp;</td><td>Systems biology of vaccination for seasonal influenza in humans. <i>Nature Immunology</i> 2011 Jul 10;12(8):786-95. doi: 10.1038/ni.2067.  <a href='http://www.ncbi.nlm.nih.gov/pubmed/21743478' title="PubMed - 21743478" target="new">[PubMed]</a></td></tr>
		
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td>
	<tr><td>&nbsp;</td><td>
		<table border="1">
		<tr><td>Assay Type</td><td>Number of Exp. Samples</td></tr>
		<tr><td>Hemagglutination Inhibition</td><td>54</td></tr>
		<tr><td>FCM</td><td>4</td></tr>
		<tr><td>Array</td><td>27</td></tr>
		<tr><td>Q-PCR</td><td>27</td></tr>
		</table>
	</td></tr>
		<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>None</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>Updates to Subject-to-results mapping for HAI results</td>
		</tr>			
	</table>	
	
	<hr>

<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>Influenza Pathogenesis & Immunology Research Center (IPIRC)</td>
	</tr>
    <tr><td width="15%"><strong>Title:</strong></td>
    	<td>Systems Biology of Seasonal Influenza Vaccination in Humans</td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td>SDY269</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td> 63</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>Bali Pulendran, Emory Vaccine Center, Atlanta, GA</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>Using a systems biology approach to study innate and adaptive responses to influenza vaccination in humans during 3 consecutive influenza seasons</td>
	</tr>
	<tr><td width="15%"><strong><b>Publication(s):</b></strong></td><td>&nbsp;</td></tr>
	<tr><td width="15%">&nbsp;</td><td>Systems biology of vaccination for seasonal influenza in humans.  <i>Nature Immunology</i> 2011 Jul 10;12(8):786-95. doi: 10.1038/ni.2067.  <a href='http://www.ncbi.nlm.nih.gov/pubmed/21743478' title="PubMed - 21743478" target="new">[PubMed]</a></td></tr>
	
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td>
	<tr><td>&nbsp;</td><td>
		<table border="1">
		<tr><td>Assay Type</td><td>Number of Exp. Samples</td></tr>
		<tr><td>Hemagglutination Inhibition</td><td>336</td></tr>
		<tr><td>FCM</td><td>59</td></tr>
		<tr><td>Array</td><td>263</td></tr>
		<tr><td>Q-PCR</td><td>75</td></tr>
		<tr><td>ELISPOT</td><td>336</td></tr>
		<tr><td>Luminex_xMAP</td><td>168</td></tr>
		</table>
	</td></tr>
		<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>None</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>Updates to Subject-to-results mapping for HAI results</td>
		</tr>			
	</table>	
	
	<hr>

<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>Influenza Pathogenesis & Immunology Research Center (IPIRC)</td>
	</tr>
    	<tr><td width="15%"><strong>Title:</strong></td>
    	<td>Immunologic and genomic signatures of response to Hepatitis C Virus Infection</td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td>  SDY162</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td> 20</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>David Hafler, Yale University, New Haven, CT</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>Examine the immune response in primary immune cells from subjects who have spontaneously cleared HCV compared to HCV chronically infected subjects.</td>
	</tr>
	<tr><td width="15%"><strong><b>Publication(s):</b></strong></td><td>&nbsp;</td></tr>
	<tr><td width="15%">&nbsp;</td><td>Impaired toll-like receptor 3-mediated immune responses from macrophages of patients chronically infected with hepatitis C virus. <i>Clin Vaccine Immunol</i> 2013 Feb;20(2):146-55. <a href='http://www.ncbi.nlm.nih.gov/pubmed/23220997' title="PubMed - 23220997" target="new">[PubMed]</a></td></tr>
	
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td>
	<tr><td>&nbsp;</td><td>
		<table border="1">
		<tr><td>Assay Type</td><td>Number of Exp. Samples</td></tr>
		<tr><td>Array</td><td>80</td></tr>
		</table>
	</td></tr>
		<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>None</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>Updated gene expression results to include biological sample accessions</td>
		</tr>			
	</table>	
	
	<hr>

<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>Systems Analysis Vaccine Responses in Healthy and Hyporesponsive Humans</td>
	</tr>
    <tr><td width="15%"><strong>Title:</strong></td>
    	<td>Systems scale interactive exploration reveals quantitative and qualitative differences in response to influenza and pneumococcal vaccines.</td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td> SDY180</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td> 46</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>A. Karolina Palucka, Baylor Institute for Immunology Research, Dallas, TX</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>Systems approach to study immune response to seasonal influenza and 23-valent pneumoccocal vaccination in healthy adults.</td>
	</tr>
	<tr><td width="15%"><strong><b>Publication(s):</b></strong></td><td>&nbsp;</td></tr>
	<tr><td width="15%">&nbsp;</td><td>Systems scale interactive exploration reveals quantitative and qualitative differences in response to influenza and pneumococcal vaccines. <i>Immunity</i> 2013 Apr 18;38(4):831-44. <a href='http://www.ncbi.nlm.nih.gov/pubmed/23601689' title="PubMed - 23601689" target="new">[PubMed]</a></td></tr>
	
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td>
	<tr><td>&nbsp;</td><td>
		<table border="1">
		<tr><td>Assay Type</td><td>Number of Exp. Samples</td></tr>
		<tr><td>Array</td><td>542</td></tr>
		<tr><td>Flow Cytometry</td><td>2208</td></tr>
		<tr><td>Luminex xMAP</td><td>229</td></tr>
		<tr><td>Virus Neutralization</td><td>89</td></tr>
		<tr><td>HAI</td><td>42</td></tr>
		</table>
	</td></tr>
		<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>None</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>Updated gene expression results to include biological sample accession</td>
		</tr>			
	</table>	
	
<hr>

<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>Responses to Influenza Vaccination in Systemic Lupus</td>
	</tr>
    	<tr><td width="15%"><strong>Title:</strong></td>
    	<td>Responses to Influenza Vaccination in Systemic Lupus Year 6 2010-2011</td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td>SDY201</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td> 34</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>Linda Thompson, Oklahoma Medical Research Foundation, Oklahoma City, OK</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>Compare the major components of the normal immune response to flu vaccination in SLE patients and control subjects in order to identify abnormalities in SLE group of immunocompromised individuals.</td>
	</tr>
	<tr><td width="15%"><strong><b>Publication(s):</b></strong></td><td>&nbsp;</td></tr>
	<tr><td width="15%">&nbsp;</td><td>None</td>
	</tr>
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td>
	<tr><td>&nbsp;</td><td>
		<table border="1">
		<tr><td>Assay Type</td><td>Number of Exp. Samples</td></tr>
		<tr><td>ELISPOT</td><td>136</td></tr>
		<tr><td>Flow Cytometry</td><td>860</td></tr>
		<tr><td>Hemagglutination Inhibition</td><td>68</td></tr>
		</table>
	</td></tr>
		<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>None</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>Added mapping of experimental samples to treatments</td>
		</tr>			
	</table>		

	<hr>

<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>Inner City Asthma Consortium (ICAC)</td>
	</tr>
    <tr><td width="15%"><strong>Title:</strong></td>
    	<td>Asthma Control Evaluation (ACE): A Biomarker-Based Approach to Improving Asthma Control and Mechanistic Studies</td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td>SDY210</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td> 546</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>William Busse, Ph.D., University of Wisconsin, Madison, WI</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>The purpose of ICAC-01 is to determine whether an asthma treatment strategy that measures exhaled nitric oxide (eNO) to indicate disease progression is more effective in treating asthma symptoms when combined with existing asthma treatment guidelines than treatment using the guidelines alone. </td>
	</tr>
	<tr><td width="15%"><strong><b>Publication(s):</b></strong></td>
		<td>&nbsp;</td></tr>
	<tr><td width="15%">&nbsp;</td><td>Management of asthma based on exhaled nitric oxide in addition to guideline-based treatment for inner-city adolescents and young adults: a randomised controlled trial.  <i>Lancet.</i> 2008 Sep 20;372(9643):1065-72. doi: 10.1016/S0140-6736(08)61448-8. <a href='http://www.ncbi.nlm.nih.gov/pmc/articles/PMC2610850/?report=reader' title="PubMed - PMC2610850" target="new">[PMC free article]</a> <a href='http://www.ncbi.nlm.nih.gov/pubmed/18805335' title="PubMed - 18805335" target="new">[PubMed]</a></td>
	</tr>
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td><td>None</td></tr>
	
		<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>Adherence Barriers, Adverse Events, Concomitant Medication, Allergen Skin Test, Brief Symptom Inventory, Follow-up Physical Exam, Exhaled Breath Condensates, etc...</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>Updated to subject-to-ARM mapping to reflect mapping in publication noted above.</td>
		</tr>			
	</table>	
	

	<hr>

<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>Vaccination and Infection:  Indicators of Immunologic Health and Responsiveness</td>
	</tr>
    <tr><td width="15%"><strong>Title:</strong></td>
    	<td>Apoptosis and other immune biomarkers predict influenza vaccine responsiveness </td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td>SDY212</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td> 91</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>Mark M. Davis, Stanford University School of Medicine, Stanford, CA</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>In an effort to indentify benchmarks of immunological health, influenza vaccination was used in 30 young (20 to 30 years) and 59 older subjects (60 to 89 years) as models for strong and weak immune responses, respectively. </td>
	</tr>
	<tr><td width="15%"><strong><b>Publication(s):</b></strong></td><td>&nbsp;</td></tr>
	<tr><td width="15%">&nbsp;</td><td>Apoptosis and other immune biomarkers predict influenza vaccine responsiveness. <i>Molecular Systems Biology</i> 2013 Apr 16;9:659. doi: 10.1038/msb.2013.15. <a href='http://www.ncbi.nlm.nih.gov/pubmed/23591775' title="PubMed - 23591775" target="new">[PubMed]</a></td>
	</tr>
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td>
	<tr><td>&nbsp;</td><td>
		<table border="1">
		<tr><td>Assay Type</td><td>Number of Exp. Samples</td></tr>
		<tr><td>Hemagglutination Inhibition</td><td>534</td></tr>
		<tr><td>DNA Microarray</td><td>91</td></tr>
		<tr><td>Peptide Microarray</td><td>91</td></tr>
		<tr><td>PhosphoFlow</td><td>63</td></tr>
		<tr><td>Flow Cytometry</td><td>540</td></tr>
		<tr><td>MBAA, Luminex</td><td>91</td></tr>
		</table>
	</td></tr>
		<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>None</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>Gene expression result matrix updated to include all 91 records and biological sample accessions.</td>
		</tr>			
	</table>	
	
		
	<hr>

<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>Immunobiology of Food Allergy and Its Treatment (CoFAR)</td>
	</tr>
    	<tr><td width="15%"><strong>Title:</strong></td>
    	<td>Oral Immunotherapy for Childhood Egg Allergy</td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td>SDY218</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td> 55</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>Wesley Burks, MD, North Carolina Children&#39;s Hospital and Stacie Jones, MD,  Arkansas Children&#39;s Hospital</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>The purpose of this study is to determine the safety and efficacy of the administration of oral immunotherapy (OIT). The intent is to develop desensitization and eventually tolerance to egg allergen.</td>
	</tr>
	<tr><td width="15%"><strong><b>Publication(s):</b></strong></td><td>&nbsp;</td></tr>
	<tr><td width="15%">&nbsp;</td><td>Oral immunotherapy for treatment of egg allergy in children  <i>N Engl J Med.</i> 2012 Jul 19;367(3):233-43. doi: 10.1056/NEJMoa1200435.  <a href='http://www.ncbi.nlm.nih.gov/pmc/articles/PMC3424505/?report=reader' title="PubMed - PMC3424505" target="new">[PMC free article]</a><a href='http://www.ncbi.nlm.nih.gov/pubmed/22808958' title="PubMed - 22808958" target="new">[PubMed]</a></td>
	</tr>
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td>
	<tr><td>&nbsp;</td><td>
		<table border="1">
		<tr><td>Assay Type</td><td>Number of Exp. Samples</td></tr>
		<tr><td>ELISA</td><td>939</td></tr>
		<tr><td>Flow Cytometry</td><td>2370</td></tr>
		</table>
	</td></tr>
		<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>Adverse Events, Atopic Dermatitis, Basophil, Medication, Protocoal Deviation, Initial Escalation, Food Allergy Episode, Antibody Assay, Prick Skin Results, etc...</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>Added flow cytometry .fcs files to experiment containing derived results.</td>
		</tr>			
	</table>	
	
	
		