<h2>BISC/ImmPort Data Release 14 Studies</h2>

<h5>June 2015</h5>


<table>
	<tr><td><strong><b>Global Updates:</b>  Edits were made to file names to ensure uniqueness.</strong></td></tr>
</table>
<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>Bioinformatics Approach to Influenza A/H1N1 Vaccine Immune Profiling</td>
	</tr>
    	<tr><td width="15%"><strong>Title:</strong></td>
    	<td>Bioinformatics Approach to Influenza A/H1N1 Vaccine Immune Profiling</td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td>SDY67</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td> 159</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>Gregory Poland M.D., Mayo Clinic, Rochester, MN</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>Using healthy adults between the ages of 50-74, vaccinated with 2010-2011 trivalent influenza vaccine, characterize human immune profiles across time and correlate the profiles with vaccine immunogenicity</td>
	</tr>
	<tr><td width="15%"><strong><b>Publication(s):</b></strong></td><td>&nbsp;</td></tr>
	<tr><td width="15%">&nbsp;</td><td>The Impact of Immunosenescence on Humoral Immune Response Variation after Influenza A/H1N1 Vaccination in Older Subjects.  <i>PLoS One.</i> 2015 Mar 27;10(3):e0122282. doi: 10.1371/journal.pone.012228. <a href='http://www.ncbi.nlm.nih.gov/pubmed/?term=25816015' title="PubMed - 25816015" target="new">[PubMed]</a></td>
	</tr>
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td>
	<tr><td>&nbsp;</td><td>
	<table border="1">
		<tr><td>Assay Type</td><td>Number of Exp. Samples</td></tr>
		<tr><td>Array</td><td>476</td></tr>
		<tr><td>ELISPOT</td><td>477</td></tr>
		<tr><td>Flow Cytometry</td><td>4023</td></tr>
		<tr><td>Meso_Scale_Discovery</td><td>1272</td></tr>
		<tr><td>Hemagglutination Inhibition</td><td>1272</td></tr>
		<tr><td>Q-PCR</td><td>625</td></tr>
		<tr><td>Virus Neutralization</td><td>635</td></tr>
	</table>
		<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>None</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>New Study</td>
		</tr>			
	</table>
	<hr>
	
	<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>Immune Tolerance Network</td>
	</tr>
    <tr><td width="15%"><strong>Title:</strong></td>
   		<td>AbATE ITN027AI:  Autoimmunity-blocking Antibody for Tolerance in Recently Diagnosed Type 1 Diabetes </td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td> SDY524</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td> 83</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>Kevan Herold, Yale University, New Haven, CT</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>Anti-CD3 monoclonal antibody (a.k.a. hOKT3gamma1 [Ala-Ala], teplizumab, MGA031) is a humanized antibody that is commonly used to prevent organ rejection. The purpose of this study is to determine whether anti-CD3 mAb treatment can halt the progression of newly diagnosed type 1 diabetes.</td>
	</tr>
	<tr><td width="15%"><strong><b>Publication(s):</b></strong></td><td>&nbsp;</td></tr>
	<tr><td width="15%">&nbsp;</td><td>Teplizumab (anti-CD3 mAb) treatment preserves C-peptide responses in patients with new-onset type 1 diabetes in a randomized controlled trial: metabolic and immunologic features at baseline identify a subgroup of responders. <i>Diabetes.</i> 2013 Nov;62(11):3766-74. doi: 10.2337/db13-0345.   <a href='http://www.ncbi.nlm.nih.gov/pubmed/?term=23835333' title="PubMed - 23835333" target="new">[PubMed]</a></td>
	</tr>
		
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td><td>none</td></tr>
	<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>adverse events, concomitant medications, auto-antibody</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>New Study</td>
		</tr>			
	</table>
		
<hr>

<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>Immune Tolerance Network</td>
	</tr>
    <tr><td width="15%"><strong>Title:</strong></td>
   		<td>IL2-RAPA ITN018AI: Proleukin and Rapamune in Type 1 Diabetes Mellitus </td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td> SDY565</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td> 9</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>Carla Greenbaum, Benaroya Research Institute, Seattle, WA</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>This study will evaluate whether treatment of type 1 diabetes patients with Proleukin and Rapamune can halt the destruction of beta cells.</td>
	</tr>
	<tr><td width="15%"><strong><b>Publication(s):</b></strong></td><td>&nbsp;</td></tr>
	<tr><td width="15%">&nbsp;</td><td>Rapamycin/IL-2 combination therapy in patients with type 1 diabetes augments Tregs yet transiently impairs β-cell function.  <i>Diabetes.</i> 2012 Sep;61(9):2340-8. doi: 10.2337/db12-0049.  <a href='http://www.ncbi.nlm.nih.gov/pubmed/?term=22721971' title="PubMed - 22721971" target="new">[PubMed]</a></td>
	</tr>
		
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td>
	<tr><td>&nbsp;</td><td>
		<table border="1">
		<tr><td>Assay Type</td><td>Number of Exp. Samples</td></tr>
		<tr><td>Flow cytometry</td><td>211</td></tr>
		</table>
	</td></tr>
		<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>c-peptide area under curve, demethylation data</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>New Study</td>
		</tr>			
	</table>
		
<hr>
<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>Immune Tolerance Network</td>
	</tr>
    <tr><td width="15%"><strong>Title:</strong></td>
   		<td>Shapiro ITN005CT: Islet Transplantation in Type 1 Diabetic Patients</td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td> SDY567</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td> 34</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>James Shapiro, University of Alberta, Edmonton, Alberta, Canada</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>Phase 1, single-arm study testing whether islet transplantation procedures and results from a previous study conducted in Edmonton, Canada, can be repeated.</td>
	<tr><td width="15%"><strong><b>Publication(s):</b></strong></td><td>&nbsp;</td></tr>
	<tr><td width="15%">&nbsp;</td><td>Portal vein thrombosis complicating islet transplantation in a recipient with the Factor V Leiden mutation.  <i>Transplantation.</i> 2004 Jul 15;78(1):172-3... <a href='http://www.ncbi.nlm.nih.gov/pubmed/?term=15257060' title="PubMed - 15257060" target="new">[PubMed]</a></td>
	</tr>
	<tr><td width="15%">&nbsp;</td><td>International trial of the Edmonton protocol for islet transplantation.  N Engl J Med. 2006 Sep 28;355(13):1318-30... <a href='http://www.ncbi.nlm.nih.gov/pubmed/?term=17005949' title="PubMed - 17005949" target="new">[PubMed]</a></td>
	</tr>
	</tr>
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td><td>none</td></tr>
	<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>adverse events, diabetes assessment, blood chemistries, insulin administration, immunosuppressant levels, etc...</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>New Study</td>
		</tr>			
	</table>

<hr>
	
	<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>Immune Tolerance Network</td>
	</tr>
	<tr><td width="15%"><strong>Title:</strong></td>
		<td>Orban ITN012AI: Evaluation of Diabetes Vaccine IBC-VSO1 in Newly Diagnosed Diabetics</td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td> SDY568</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td> 12</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>Tihamer Orban, Joslin Diabetes Center, Boston, MA</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>IBC-VSO1 vaccine, a synthetic metabolically inactive form of insulin is being evaluated as means of preventing pancreatic beta-cell destruction in newly diagnosed type 1 diabetes patients. </td>
	<tr><td width="15%"><strong><b>Publication(s):</b></strong></td><td>&nbsp;</td></tr>
	<tr><td width="15%">&nbsp;</td><td>Autoantigen-specific regulatory T cells induced in patients with type 1 diabetes mellitus by insulin B-chain immunotherapy.  <i>J Autoimmun.</i> 2010 Jun;34(4):408-15. doi: 10.1016/j.jaut.2009.10.005.  <a href='http://www.ncbi.nlm.nih.gov/pubmed/?term=19931408' title="PubMed - 19931408" target="new">[PubMed]</a></td>
	</tr>
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td><td>none</td></tr>
		<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>adverse events, concomitant medications, diabetes history, HbA1c, etc...</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>New Study</td>
		</tr>			
	</table>	
<hr>
	<table>
	<tr><td width="15%"><strong>Study Program:  </strong></td>
		<td>Immune Tolerance Network</td>
	</tr>
    <tr><td width="15%"><strong>Title:</strong></td>
		<td>Herold II ITN007AI: Treatment with hOKT3-gamma-1 (Ala-Ala) in Type 1 Diabetes Mellitus </td></tr>
	<tr><td width="15%"><strong><b>Accession:</b></strong></td><td> SDY569</td></tr>
	<tr><td width="15%"><strong><b>Subjects:</b></strong></td><td> 11</td></tr>
	<tr><td width="15%"><strong><b>Study PI, contact: </b></strong></td>
		<td>Kevan Herold, Yale University, New Haven, CT</td>
	</tr>
	<tr><td width="15%"><strong><b>Study Description:</b></strong></td>
		<td>This is a phase II study examining clinical and immunological effects of humanized FcR non-binding anti-CD3 mAb in participants with Type 1 diabetes mellitus (T1DM), and to develop this therapy to prevent immune destruction leading to beta cell loss. </td>
	<tr><td width="15%"><strong><b>Publication(s):</b></strong></td><td>None</td></tr>
	<tr><td width="15%"><strong><b>Assays in ImmPort:</b></strong></td><td>none</td></tr>
		<tr><td width="15%"><strong><b>Clinical Assessments in ImmPort:</b></strong></td>
			<td>adverse events, concomitant medications, rubella titer, diabetes history, medical history, etc...</td>
		</tr>
		<tr><td width="15%"><strong><b>Notes:</b></strong></td>
			<td>New Study</td>
		</tr>			
	</table>	
<hr>
<table>
<tr><td width="100%"><strong><b>Updates</b></strong></td>
	<tr><td>&nbsp;</td><td>&nbsp;</td>
		<table border="1">
		<tr><td><b>Study Acc</b></td><td><b>Study Title</b></td><td><b>Update</b></td></tr>
		<tr><td>SDY91</td><td>RAVE ITN021AI Rituximab for the Treatment of Wegener's Granulomatosis and Microscopic Polyangiitis</td><td>Updated all study files</td></tr>
		<tr><td>SDY167</td><td>VRC304 – A Phase I Study of the Safety and Immunogenicity of a Recombinant DNA Plasmid Vaccine (VRC-AVDNA036-00-VP) Encoding for the Influenza Virus H4 Hemagglutinin Protein in Healthy Adults</td><td>Adverse Events parsed, mapped to MedDRA</td></tr>
		<tr><td>SDY210</td><td>Asthma Control Evaluation (ACE):  A Biomarker-Based Approach to Improving Asthma Control and Mechanistic Studies</td><td>Adverse Events parsed, mapped to MedDRA</td></tr>
		<tr><td>SDY211</td><td>Inner-City Anti-IgE Therapy for Asthma</td><td>Adverse Events parsed, mapped to MedDRA</td></tr>
		<tr><td>SDY223</td><td>A Biomarker-based Pilot Study of Cockroach Sublingual Immunotherapy in Cockroach Sensitive Adults with Asthma and/or Perennial Allergic Rhinitis</td><td>Adverse Events parsed, mapped to MedDRA</td></tr>
		
		</table>
</table>