/* header */

.navbar {
    min-height: 32px;
}
.navbar-nav .main-site-logo {
    width: 24px;
}
.navbar-inverse .navbar-nav > li > a {
    color: #ddd;
}
.navbar-nav > li.menu-immport-org > a {
    padding-top: 4px;
    padding-bottom: 4px;
}
.navbar-nav > li > a {
    padding-top: 6px;
    padding-bottom: 4px;
}

.navbar-site {
    margin-top: 24px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.navbar-site .nav.navbar-left > li > a {
    padding-left: 0px;
    padding-right: 0px;
}
.navbar-site .indi-site-logo {
    height: 48px;
    padding-right: 20px;
}
.navbar-site .indi-site-label {
    display: inline-block;
    font-size: 1.8em;
}
.navbar-site .navbar-right {
    margin-top: 20px;
}

.menu-dropdown-logo {
    width: 24px;
    border: solid 2px #FFEB99;
}

.navbar-inverse .navbar-nav > li > a {
    color: #fff !important;
    font-size: 14px;
}

.navbar-inverse .navbar-nav > li > a:hover {
	color: #fff ;
	background-color: #000000;
	border-radius: 10px;
}

a.dropdown-toggle {
	border-radius: 10px;
}

#navbar-target-menu-collapse ul.navbar-right {
    margin-right: 5px;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-lenavbarft {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.title-menu{
	display: inline-block; 
	padding-top: 2px;
}

/* body */
.container {
    padding-left: 0px; 
}

/* footer */
.socialmedia-block-inner ul {
	padding-left: 5px;
	list-style-type: none;
}
.facebook-link {
    background-image: url(../images/home/facebook-icon.png);
    background-repeat: no-repeat;
    height: 22px;
    padding-left: 23px;
}
.twitter-link {
    background-image: url(../images/home/twitter-icon.png);
    background-repeat: no-repeat;
    height: 22px;
    padding-left: 23px;
}
.rss-link {
    background-image: url(../images/home/rss-icon.png);
    background-repeat: no-repeat;
    height: 22px;
    padding-left: 23px;
}
.google-link {
    background-image: url(../images/home/groups-16.png);
    background-repeat: no-repeat;
    height: 22px;
    padding-left: 23px;
}
