body {
    padding-top: 40px;
    padding-bottom: 60px;
    margin-left: 30px;
    margin-right: 30px;
    overflow-x: hidden;
}

.x-body {
	font-size: 1.4em;
}

.container {
    /* margin: 0 auto; */
    /* max-width: 1000px; */
}

.masthead {
    padding-bottom: 0px;
}

.navbar {
    min-height: 32px;
}
.navbar-nav .main-site-logo {
    width: 24px;
}
.navbar-inverse .navbar-nav > li > a {
    color: #ddd;
}
.navbar-nav > li.menu-immport-org > a {
    padding-top: 4px;
    padding-bottom: 4px;
}
.navbar-nav > li > a {
    padding-top: 6px;
    padding-bottom: 4px;
}

.menu-dropdown-logo {
    width: 24px;
    border: solid 2px #FFEB99;
}

.immport-open-logo {
    background-image: url(../images/immport-logo.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 70px;
}

.immport-brand {
    background-image: url(../images/homeBtn.gif);
    background-repeat: no-repeat;
    background-position:center; 
    width: 45px;
    height: 50px;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.menu-tool > .dropdown-menu {
    min-width: 540px;
    padding: 0;
}

table.detail {
    width:98%;
    border-top:1px solid #e5eff8;
    border-right:1px solid #e5eff8;
    margin:1em auto;
    border-collapse:collapse;
    font:90%/160% "Trebuchet MS",Verdana,Arial,Helvetica,sans-serif;
}

table.dataSummary {
    /* width:300px; */
    border-top:1px solid #e5eff8;
    border-right:1px solid #e5eff8;
    //margin:1em auto;
    border-collapse:collapse;
    font:90%/160% "Trebuchet MS",Verdana,Arial,Helvetica,sans-serif;
}

caption.detail {
    color: #9ba9b4;
    font-size:.94em;
    letter-spacing:.1em;
    margin:1em 0 0 0;
    padding:0;
    caption-side:top;
    text-align:center;
}

tr.detailOdd {
    background:#E8DFD7;
}

tr.detailEven {
    background:#f9fcfe;
}

td.detailCol1 {
    background:#E8DFD7;
    border-bottom:1px solid #F2F2F2;
    border-left:1px solid #F2F2F2;
    padding:.3em 1em;
    text-align:left;
    vertical-align: text-top;
    width: 15%;
    font:bold 1em/2em "Century Gothic","Trebuchet MS",Arial,Helvetica,sans-serif;
    color:#000;
}
td.detailCol1w {
    background:#E8DFD7;
    border-bottom:1px solid #F2F2F2;
    border-left:1px solid #F2F2F2;
    padding:.3em 1em;
    text-align:left;
    vertical-align: text-top;
    width: 250px;
    font:bold 1em/2em "Century Gothic","Trebuchet MS",Arial,Helvetica,sans-serif;
    color:#000;
}
td.detailCol2 {
    border-bottom:1px solid #F2F2F2;
    border-left:1px solid #F2F2F2;
    padding:.3em 1em;
    text-align:left;
    white-space: normal;
    word-wrap: bread-word;
    overflow: hidden;
}
td.detailCol2w {
    border-bottom:1px solid #F2F2F2;
    border-left:1px solid #F2F2F2;
    padding:.3em 1em;
    text-align:right;
    width: 100px;
    white-space: normal;
    word-wrap: bread-word;
    overflow: hidden;
}

th.detail {
    font-weight:normal;
    background:#E8DFD7;
    text-align:center;
    border-bottom: 1px solid #F2F2F2;
    border-left:1px solid #F2F2F2;
    padding:.3em 1em;
}

thead.detail th {
    background:#E8DFD7;
    text-align:center;
    font:bold 1.2em/2em "Century Gothic","Trebuchet MS",Arial,Helvetica,sans-serif;
    color:#EE8811
}

tfoot.detail th {
    text-align:center;
    background:#E8DFD7;
}


.catalog-panel {
    padding-top: 20px;
    padding-bottom: 10px;
    /* border-bottom: solid 1px #eee; */
}

.study-panel {
    border-top: solid 1px #eee;
    padding: 10px;
}

.study-result {
    padding-top: 10px;
    padding-bottom:10px;
}

.study-title {
    cursor:pointer;
    color: #04408c;
    font-size: 1.4em;
    margin: 5px 10px 10px 0;
}

.study-title:hover {
        cursor: pointer;
    }
    
.study-description {
    padding-bottom: 15px;
    font: 1.2em Arial,Helvetica,sans-serif;
}

.study-graph {
    padding: 20px;
    background-color: white;
    /* min-height: 150px; */
}

.study-graph-thumbview {
    width: 100%;
}

.study-highlight {
    font: 1.2em Arial,Helvetica,sans-serif;
    margin-bottom: 15px;
 }
 
.study-highlight em {
    background-color: #ddd;
}

.study-highlight a {
    color: #444;
    text-decoration: none;
}

.study-highlight a:hover {
    color: #08c;
    text-decoration: none;
}

.experiment-list-panel {
    padding-top: 15px;
    padding-bottom: 10px;
}

#studyModal {
    /*
    width: 1000px;
    height: 600px;
    margin-left: -500px;
    */
}

.study-detail {
    margin-top:5px;
    background-color: transparent;
    border:gray solid 0px;
}

.study-detail > p{
    margin:0;
}

.study-detail-header {
    /* background-color: #555; */
}

.study-detail-embed {
    width: 100%;
    min-height: 90%;
}

#legend {   
    font-size:x-small;
    font-style: italic;
    text-align: center;
}

#legend1 {   
    font-size:small;
    font-style: italic;
    text-align: center;
}

#heading
{
    color:#62676A;
    text-align:center;
}

.heading
{
    color:#62676A;
    text-align:center;
}

#errorheading
{
    color:#B80000;
    text-align:center;
}


#result-container {
    padding-top: 10px;
    /* margin-bottom: 20px;    */
}

#setting-container {
    padding-right: 5px;
}

#catalog-container {
    margin-top: 40px;
    min-height: 480px;
}

.catalog-pager {
    margin-top: -10px;
}

.facet-tree-container {
    margin-bottom: 15px;
    /* border-right: solid 1px rgb(153, 188, 232); */
}

.facet-text-small {
    font-size: 0.8em;
    color: #6998f0;
}

.facet-text-medium {
    font-size: 1.1em;
    color: #6998f0;
}

.facet-text-large {
    font-size: 1.5em;
    color: #6998f0;
}


/* Fix checkbox conflict between bootstrap and extjs4 */

input.x-tree-checkbox {
    width: 13px;
}

img.x-tree-icon-leaf {
    width: 0px;
}

ul.pagination a.pager-active {
    background-color: #eee;
}

/* Make bootstrap dialogbox wider */
#dialogModal .modal-dialog {
    width: 90%;
}

#studyModal .modal-dialog {
    width: 90%;
}

#studyModalHeader {
    font-size: 1.4em;
}

#schematicModal .modal-dialog {
	width: 90%;
}

#schematicModalHeader {
    font-size: 1.4em;
}

#queryString {
    padding-left: 8px;
}

#setting-container {
    padding: 7px 8px 7px 8px;
    margin-right: 8px;
    border: solid 1px #ccc;
}

	#setting-container:hover {
        background-color: #eee;
    }

.study-download {
	margin-top:5px;
}

.study-id-label {
    font-size:1.4em;
    margin: 5px 2px 5px 0;
}

.study-graph:hover {
    cursor: pointer;
}

#studyModelHeader {
    font-size: 1.4em;
}

.popupHeaderToolbar {
    float: right;
    margin-right: 15px;
    font-size: 1.4em;
}

.twitter-typeahead .tt-hint {
    display: none;
}

.search-highlight-term {
    color: red;
}

.block-container .panel-body:hover {
    background-color: #eee;
    cursor: pointer;
}


.block-container .panel-body a {
    text-decoration: none;
    font-size: 1.4em;
}

.block-container .panel-body img {
    width: 140px;
    height: 140px;
    float: left;
    margin-right: 18px;
    border: solid 1px #ccc;
}

.block-container .panel-body p {
    margin-top: 12px;
    font-size: 1.15em;
}

/* announcement */
.right-info-panels .announcement-link {
 	cursor: pointer;
}

.right-info-panels .announcement-link:link {
    text-decoration: none;
}

.right-info-panels .announcement-link:visited {
    text-decoration: none;
}

.right-info-panels .announcement-link:hover {
	font-size: 1.05em;
    text-decoration: none;
}

.popover{
    max-width: 720px;
}

.news-dialog-content {
	/* width: 100%; */
	width: 480px;
	min-height: 540px;
	overflow-y: scroll;
}

/* carousel */
.carousel-container {
    background-color: #eee;
    min-height: 300px;
    /* border: solid 1px #cc541f; */
}

.carousel {
    margin-top: 20px;
}

.carousel .carousel-top-title a{
	color: #fff;
}

.carousel-top-header {
    background-color: #cc541f;
    height: 31px;
    padding-top: 5px;
    border-radius: 5px;
    
    background: #CC541F; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#e88b64,#CC541F); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#e88b64,#CC541F); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#e88b64,#CC541F); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#e88b64,#CC541F); /* Standard syntax */
    
}

.carousel-top-title {
    float: left;
    color: #fff;
    overflow-y: hidden;
}

.carousel-control.left, .carousel-control.right{
    background-image: none;
    top: 95px;
	width: 8%;
}

.carousel .carousel-inner .item {
    margin-top: 20px;
}

.carousel-indicators {
    position: inherit;
    width: 15%;
    margin-left: auto;
}

.carousel-control .icon-prev,
.carousel-control .glyphicon-chevron-left {
	left: 50%;
	margin-left: -10px;
	display: none;
}

.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-right {
	right: 50%;
	margin-right: -10px;
	display: none;
}

.carousel .carousel-control {
	top: 280px;
	height: 500px;
}

.carousel .carousel-item-image {
	height: 245px;
	margin-right: 10px;
}

/* study navigator */

#studyNavigator .form-group {
	width: 22%;
	Padding-right: 0px;
}

#studyNavigator .form-group .select-group {
	width: 85%;
}

#studyNavigator #btnUpdateTreemap {
	width: 100px;
}


/* d3 treemap */
#dataTreemap .chart {
  display: block;
  font-size: 13px;
}

#dataTreemapHeader text {
	font-weight: bold;
}

#dataTreemap rect, #dataTreemapHeader rect {
  stroke: #999;
  fill: #aaa;
  fill-opacity: .95;
}

#dataTreemap rect.parent, #dataTreemapHeader rect.parent {
  cursor: pointer;
  fill: steelblue;
}

#dataTreemap text.tree-node-label:hover {
  /* pointer-events: none; */
  cursor: pointer;
}

/* study property selection dropboxes */
/* E8DFD7/EFCD97/EE8811/6B3A01/100F0F */
/* E8DFD7/E5CD97/E5C179/98B6B1/100F0F */
/* E2D5B5/EAD29A/CFE2BE/BDE2B5/629677 */
/* DEE2D9/CFE2BE/C0E2B5/B5E2CB/9FC6B2 */
/* 999/aacccc/88aaaa/6699aa/447799 */
/* F2F2F2/C4EDED/ADD8D8/7DBCD1/61ACDD */

#dataTreemap .group-0, #dataTreemapHeader .group-0 {
  cursor: default;
  fill: #F2F2F2;
}
#dataTreemap .group-1, #dataTreemapHeader .group-1 {
  cursor: -webkit-zoom-in;  cursor: zoom-in;
  fill: #C4EDED;
}
#dataTreemap .group-2, #dataTreemapHeader .group-2 {
  cursor: -webkit-zoom-in;  cursor: zoom-in;
  fill: #ADD8D8;
}
#dataTreemap .group-3, #dataTreemapHeader .group-3 {
  cursor: pointer;
  fill: #7DBCD1;
}
#dataTreemap .group-4, #dataTreemapHeader .group-4 {
  cursor: pointer;
  fill: #61ACDD;
}

#studyNavigator .select-group {
    font-size: 1.2em;
}
#studyNavigator .select-group-1 {
  background-color: #C4EDED;
}
#studyNavigator .select-group-2 {
  background-color: #ADD8D8;
}
#studyNavigator .select-group-3 {
  background-color: #7DBCD1;
}
#studyNavigator .select-group-4 {
  background-color: #61ACDD;
}

#studyNavigator {
  margin-top: 10px;
  /* margin-left: 20px; */
  min-height: 500px;
}

#studyStatistics {
  margin-top: 60px;
  margin-left: 20px;
  min-height: 500px;
}

table.table-study-data-summary td.category-value {
	text-align: right;
}

/* This is not spelled correctly, use one above and remove this on when no longer referenced */
table.table-study-data-summary td.category-vlaue {
	text-align: right;
}

.data-complete-level-0 {
	color: #8a6d3b;
	background-color: #fcf8e3;
	border-color: #faebcc;
}

.data-complete-level-1 {
	color: #31708f;
	background-color: #d9edf7;
	border-color: #bce8f1;
}

.data-complete-level-2 {
	color: #3c763d;
	background-color: #dff0d8;
	border-color: #d6e9c6;
}

table.table.table-bordered thead tr {
	background-color: #E8DFD7;
}

/* mechanistic-assay-detail table */

table.mechanistic-assay-detail {
	margin-top: 20px;
}

table.mechanistic-assay-detail td.property-name {
	background-color: #eee;
	width: 180px;
}

.facetCheckBox {
  cursor: pointer;
}

.btn-action {
	color: #fff;
	background-color: #EE8811;
	border-color: #EFCD97;
}


/* DataTables style */
table.dataTable {
	font-size: 12.6px;
}

table.dataTable .dataTables_scrollHead table {
	margin-bottom: 0px;
}

table.dataTable thead th,
table.dataTable tfoot th {
    font-weight: normal; 
}
    
table.dataTable tbody tr {
    background-color: #fff; 
}

.dataTables_wrapper .typeControls span {
	padding-left: 4px;
	padding-right: 6px;
}

.block-container .panel-body:hover {
    background-color: #eee;
    cursor: pointer;
}


.block-container .panel-body a {
    text-decoration: none;
    font-size: 1.4em;
}

.block-container .panel-body img {
    width: 140px;
    height: 140px;
    float: left;
    margin-right: 18px;
    border: solid 1px #ccc;
}

.applicationHeader{
    margin-top: 33px;
    min-height: 30px;
    padding-top: 1px;
    /* padding-bottom: 1px; */
	z-index: 1000;
	background-color: #CC541F;
    border-radius: 2px;
    border: 1px solid #0173ae;    
    
    background: #CC541F; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#3884c7, #337ab7); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#3884c7, #337ab7); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#3884c7, #337ab7); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#0188cb,#0173ae); /* Standard syntax */   
}

.applicationHeaderContainer {
	padding-top: 40px;
}

hr.immport-hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #0173ae, rgba(0, 0, 0, 0));	
}

.home-heading {
    padding: 6px 10px;
    background-color: #fff; 
    color: #337ab7; 
    font-size: 20px;
    padding: 0px;
    padding-bottom: 3px;
    font-weight: bold;
}

#dataTreemap {
	min-height:500px;
}
.right-info-panels {
	margin-top: 20px;
}
.right-info-panels .panel-heading {
	padding: 5px 10px 5px 10px;
}
.right-info-panels .panel-body {
	padding: 5px 10px 5px 10px;
	max-height: 319px;
	overflow-y: scroll;
}
.right-info-panels .panel-body .info-block {
	padding: 8px 5px 23px 5px;
}
.right-info-panels .panel-body .info-block:hover {
	background-color: #f2f2f2;
}
.form-study-search {
	margin-top: 2px;
	margin-bottom: 0px;
	padding-right: 0px;
}

#facet-container .panel {
        margin-bottom: 10px;
}
#facet-container .panel-heading {
        padding: 5px 10px;
        background-color: #E8DFD7;
}
#facet-container .panel-heading .panel-title {
        font-size: 14px;
}
#facet-container .panel-body {
        padding: 5px 10px;
}

.logo-panel {
	min-height:240px;
	border: 0px;
	box-shadow: 0px 0px 0px 0px #ccc;
}


.logo-panel-heading {
	background-color: #ffffff !important;
	padding: 4px 10px;
	border: 0px;
}

.logo-title {
    font-size: 21px;
    padding-top: 5px;
    margin-top: 5px;
 }
 
 .applicationDiv {
 	margin-top: 10px;
 } 
 
 .applicationDiv a {
 	text-decoration: none;
/*  	color: #000;
 */ 	margin-top: 40px;
 }
 
.blue-logo-panel:hover {
  	box-shadow: 0 1px 12px 0 #0173ae !important;
 }

.green-logo-panel:hover {
  	box-shadow: 0 1px 12px 0 #146c43;
 }

.orange-logo-panel:hover {
  	box-shadow: 0 1px 12px 0 #CC541F;
 }


.logo-panel>.panel-body {
	padding: 15px;
    padding-top: 0px;
}


.immport-banner {
	background-color: #f5f5f5;
    box-shadow: 0 1px 12px 0 #ccc;
    padding: 15px;
    border: 1px solid #ddd;
	margin-top: 10px;    
}

.customisable-border {
    border: 1px solid #ddd !important;
}

#twitter-widget-0 {
	border: 1px solid #ddd !important;
	border-radius: 4px;
}

.announcements {
	color: #428bca !important;
    font-size: 15px;
    font-weight: bold;
}